---
backends:
  test:
    backend_type: 'aws.secrets'
    secret_id: '/datadog/secret/test'
    aws_session:
      # aws_region: 'us-east-2'
      aws_access_key_id: 'AKIA*****'
      aws_secret_access_key: '************'
  prod:
    backend_type: 'aws.secrets'
    secret_id: 'arn:aws:secretsmanager:us-east-1:123456789012:secret:/datadog/secret/test-FOga1K'
    aws_session:
      aws_profile: 'rapdev-lab-admin'
  prod2:
    backend_type: 'aws.secrets'
    secret_id: '/datadog/secret/test2'
    aws_session:
      aws_profile: 'rapdev-lab-admin'
      aws_role_arn: 'arn:aws:iam::123456789012:role/DatadogSecretsBackend'
      aws_external_id: 'some-externa-id-string'
  ssm:
    backend_type: 'aws.ssm'
    parameter_path: '/datadog'
    parameters:
      - '/agent/dd_api_key'
      - '/agent/dd_app_key'
  keyvault1:
    backend_type: 'azure.keyvault'
    secret_id: 'datadog/secret/test3'
    keyvaulturl: ''
    azure_session:
      azure_tenant_id: ''
      azure_client_id: ''
      azure_client_secret: ''
  keyvault2:
    backend_type: 'azure.keyvault'
    secret_id: 'datadog/secret/test4'
    keyvaulturl: 'https://keyvault.vault.azure.net'
    azure_session:
      azure_tenant_id: '123456-***********'
      azure_client_id: 'abcdef-***********'
      azure_certificate_path: '/path/to/cert.pfx'
      azure_certificate_password: 'somepassword'
  hashivault1:
    backend_type: 'hashicorp.vault'
    vault_address: 'https://myvaultaddress.net'
    secret_path: /path/to/secrets
    secrets:
      - secret1
      - secret2
    vault_session:
      vault_role_id: '123456-***********'
      vault_secret_id: 'abcdef-***********'
  hashivault2:
    backend_type: 'hashicorp.vault'
    vault_address: 'https://myvaultaddress.net'
    vault_tls_config:
       # ... TLS settings if applicable
    secret_path: /path/to/secrets
    secrets:
      - secret1
      - secret2
    vault_session:
      vault_username: 'myusername'
      vault_password: 'mypassword'
  akeyless:
    backend_type: 'akeyless'
    akeyless_url: 'https://api.akeyless.io'
    secret_path: '/secret-folder/datadog-sample-key'
    akeyless_session:
      akeyless_access_id: '123456-**********'
      akeyless_access_key: 'abcdef-**********'
