<div class="stat">
  <span class="stat_title">Checking executable permissions</span>
  <span class="stat_data">
    Executable path: {{ .Executable }}<br/>
    Executable permissions: {{ .ExecutablePermissions }}<br/><br/>
    Permissions Detail:<br/>
    {{- if .ExecutablePermissionsDetails }}
      {{- template "permissions_details" .ExecutablePermissionsDetails }}
    {{- else }}
      {{- .ExecutablePermissionsError }}<br/>
    {{- end }}
  </span>
</div>

<div class="stat">
  <span class="stat_title">Secrets stats</span>
  <span class="stat_data">
    Number of secrets resolved: {{ len .Handles }}<br/>
    Secrets handle resolved:<br/>
    {{- range $handle, $places := .Handles }}
      - '{{ $handle }}':<br/>
      {{- range $place := $places }}
        &nbsp;&nbsp;used in '{{ index $place 0 }}' configuration in entry '{{ index $place 1 }}'<br/>
      {{- end }}
    {{- end }}
  </span>
</div>
