=== Checking executable permissions ===
Executable path: {{ .Executable }}
Executable permissions: {{ .ExecutablePermissions }}

Permissions Detail:
{{ if .ExecutablePermissionsDetails -}}
	{{template "permissions_details" .ExecutablePermissionsDetails }}
{{- else }}
	{{- .ExecutablePermissionsError }}
{{- end }}

=== Secrets stats ===
Number of secrets resolved: {{ len .Handles }}
Secrets handle resolved:
{{ range $handle, $places := .Handles }}
- '{{ $handle }}':
	{{- range $place := $places }}
	used in '{{index $place 0 }}' configuration in entry '{{index $place 1 }}'
	{{- end}}
{{- end }}
