<div class="stat">
  <span class="stat_title">Fleet Automation</span>
  <span class="stat_data">
     {{ with .ssiStatus }}{{ if .apmStatusNotAvailable }}APM status not available
     {{ else }}{{ if .autoInstrumentationEnabled }}
      APM SSI is installed. 
      Instrumentation status:
        {{ if .hostInstrumented }}Host:   Instrumented{{ else }}Host:   Not instrumented{{ end }}
        {{ if .dockerInstrumented }}Docker: Instrumented{{ else }}Docker: Not instrumented{{ end }}
      {{ else }}APM SSI is disabled.{{ end }}
      {{ end }}{{ end }}
  </span>
</div>
