name: "copyrights linter"

on:
  pull_request:

permissions:
  contents: read

jobs:
  copyrights:
    name: copyrights
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - run: pip install -r requirements.txt
      - run: inv copyrights
