datadog:
  kubelet:
    tlsVerify: false
  clusterChecks:
    enabled: true
  logs:
    enabled: true
    containerCollectAll: true
    autoMultiLineDetection: true
  processAgent:
    enabled: true
  systemProbe:
    enableTCPQueueLength: true
    enableOOMKill: true
  networkMonitoring:
    enabled: true
  securityAgent:
    runtime:
      enabled: true
    compliance:
      enabled: true
  dogstatsd:
    originDetection: true
    useHostPort: true
    useHostPID: true
  prometheusScrape:
    enabled: true
  apm:
    portEnabled: true
  kubeStateMetricsEnabled: false
  kubeStateMetricsCore:
    enabled: true
  helmCheck:
    enabled: true
    collectEvents: true
agents:
  useHostNetwork: true
  tolerations:
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
clusterAgent:
  enabled: true
  replicas: 2
  createPodDisruptionBudget: true
  metricsProvider:
    enabled: true
    useDatadogMetrics: true
  admissionController:
    enabled: true
    mutateUnlabelled: true
    configMode: socket
clusterChecksRunner:
  enabled: true

