api_key: ENC[{{.SecretDir}}api_key]
log_level: debug
auth_token_file_path: {{.AuthTokenFilePath}}

agent_ipc:
  port: {{.AgentIpcPort}}
  config_refresh_interval: {{.ConfigRefreshIntervalSec}}

apm_config:
  enabled: true
  debug:
    port: {{.ApmCmdPort}}

security_agent:
  cmd_port: {{.SecurityCmdPort}}

process_config:
  run_in_core_agent:
    enabled: false
  process_collection:
    enabled: true
  cmd_port: {{.ProcessCmdPort}}
