<div class="stat">
  <span class="stat_title">Delegated Authentication</span>
  <span class="stat_data">
    {{- if not .enabled }}
    Not enabled
    {{- if .disabledReason }}
    <br>&nbsp;&nbsp;<span class="error">Reason: {{ .disabledReason }}</span>
    {{- end }}
    {{- else }}
    {{- if .provider }}
    <span class="stat_subtitle">Default Cloud Provider:</span> {{ .provider }}<br>
    {{- if .awsRegion }}
    <span class="stat_subtitle">Default AWS Region:</span> {{ .awsRegion }}<br>
    {{- end }}
    {{- end }}
    <span class="stat_subtitle">Delegated Auth Instances:</span><br>
    {{- range $key, $info := .instances }}
    <span class="stat_subsubtitle">{{ $key }}</span><br>
    &nbsp;&nbsp;Status: {{ $info.Status }}<br>
    {{- if $info.Provider }}
    &nbsp;&nbsp;Provider: {{ $info.Provider }}<br>
    {{- end }}
    {{- if $info.AWSRegion }}
    &nbsp;&nbsp;AWS Region: {{ $info.AWSRegion }}<br>
    {{- end }}
    {{- if $info.CredentialSource }}
    &nbsp;&nbsp;Credential Source: {{ $info.CredentialSource }}<br>
    {{- end }}
    &nbsp;&nbsp;Refresh Interval: {{ $info.RefreshInterval }}<br>
    {{- if $info.LastRefresh }}
    &nbsp;&nbsp;Last Refresh: {{ $info.LastRefresh }}<br>
    {{- end }}
    {{- if $info.NextRefresh }}
    &nbsp;&nbsp;Next Refresh: {{ $info.NextRefresh }}<br>
    {{- end }}
    {{- if $info.Error }}
    &nbsp;&nbsp;<span class="error">Error: {{ $info.Error }}</span><br>
    {{- end }}
    {{- end }}
    {{- end }}
  </span>
</div>
