# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

/cmd/                                   @DataDog/agent-core
/cmd/trace-agent/                       @DataDog/apm-agent
/cmd/agent/app/integrations*.go         @DataDog/prodsec @DataDog/agent-integrations @DataDog/agent-core
/cmd/cluster-agent/                     @DataDog/container-integrations
/cmd/process-agent/                     @DataDog/burrito
/cmd/system-probe/                      @DataDog/burrito

/docs/                                  @DataDog/baklava @DataDog/agent-core

/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core
/pkg/trace/                             @DataDog/apm-agent
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/tagger/                            @DataDog/container-integrations
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/docker/                       @DataDog/container-integrations @DataDog/burrito
/pkg/util/ecs/                          @DataDog/container-integrations @DataDog/burrito
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/burrito
/pkg/util/retry/                        @DataDog/container-integrations
/pkg/logs/                              @DataDog/logs-intake
/pkg/metadata/ecs/                      @DataDog/burrito
/pkg/metadata/kubernetes/               @DataDog/burrito
/pkg/process/                           @DataDog/burrito
/pkg/ebpf/                              @DataDog/burrito
/pkg/procmatch/                         @DataDog/burrito
/pkg/quantile                           @DataDog/metrics-aggregation

/Dockerfiles/                           @DataDog/container-integrations
/docs/trace-agent                       @DataDog/apm-agent

/omnibus/                               @DataDog/agent-core
/omnibus/config/software/datadog-agent-integrations-*.rb  @DataDog/agent-integrations

/tasks/trace.py                         @DataDog/apm-agent

/Makefile.trace                         @DataDog/apm-agent

/tools/ebpf/                            @DataDog/burrito
