<html>
	<head>
		<title>{{ title }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h1>{{ title }}</h1>

		<table class="stats-table">
			<thead>
				<tr>
					<th>Program</th>
					<th>Instructions</th>
					<th>Stack usage</th>
					<th>Max states per insn.</th>
					<th>Total states</th>
					<th>Peak state</th>
				</tr>
			</thead>
			<tbody>
			{% for object_file, objstats in verifier_stats.items() %}
				<tr>
					<td class="table-subheader" colspan="6">{{ object_file }}</td>
				</tr>
				{% for function, objstat in objstats.items() %}
					<tr>
						<td>
							<a href="{{ object_file }}/{{ function }}.html">
								{{ function }}
							</</td>
						<td class="number-cell">{{ objstat.instruction_processed }}</td>
						<td class="number-cell">{{ objstat.stack_usage }}</td>
						<td class="number-cell">{{ objstat.max_states_per_insn }}</td>
						<td class="number-cell">{{ objstat.total_states }}</td>
						<td class="number-cell">{{ objstat.peak_states }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
			</tbody>
	</body>
</html>
