go.sum -diff -merge linguist-generated=true
*.pb.go -diff -merge
*.pb.go linguist-generated=true
*.pb.gw.go -diff -merge
*.pb.gw.go linguist-generated=true
pkg/security/probe/constantfetch/btfhub/constants.json -diff -merge linguist-generated=true
