spec:
  inputs:
    units:
      description: A comma-separated list of units to run, or `all` to run all units
      type: string
      default: agent
      regex: ^(all|agent(,agent)*)$

---

variables:
  # TODO: Make the value a string when we update GitLab CI to a version that supports inputs on
  # the manual trigger page. See https://docs.gitlab.com/ci/pipelines/#run-a-pipeline-manually
  TRIGGER_UNITS:
    description: A comma-separated list of units to run, or `all` to run all units
    value: $[[ inputs.units ]]

stages:
- unit-generate
- unit-trigger

include:
- local: .ci/units/gitlab/*.yml
- local: ci/templates/*.yml

validate-units:
  extends:
  - .runner:linux:arm64
  - .image:build:linux
  stage: .pre
  script:
  - dda check ci units
