# Default to LF for all files that git identifies as text files, regardless of platform
* text=auto eol=lf

# TODO(alopezz): These exceptions, matching files that are stored with CRLF endings in
# git, are transitional while migrating to LF as the default eol for all text files.
*.ps1 -text
cmd/trace-agent/test/testsuite/testdata/trace_with_rates.json -text
comp/core/gui/impl/views/private/images/datadog_icon_white.svg -text
deps/msodbcsql18/LICENSE.txt -text
devenv/answer_files/**/*.xml -text
pkg/collector/corechecks/containers/kubelet/testdata/summary.json -text
tasks/unit_tests/testdata/secret.tar.gz/*.xml -text

# Set batch file line endings to CRLF so that they can be executed on Windows
*.bat text eol=crlf
*.cmd text eol=crlf
# Set C# file line endings to CRLF to match dotnet format's expectation on Windows
*.cs text eol=crlf
*.bin binary

go.sum -diff -merge linguist-generated=true
# Merge changelog entries without conflicts when multiple PRs add lines simultaneously
CHANGELOG-AIX.md merge=union
*.pb.go -diff -merge
*.pb.go linguist-generated=true
*.pb.gw.go -diff -merge
*.pb.gw.go linguist-generated=true
*_easyjson.go -diff -merge
*_easyjson.go linguist-generated=true
pkg/config/schema/*.yaml text eol=lf
pkg/security/probe/constantfetch/btfhub/constants.json -diff -merge linguist-generated=true
pkg/security/seclwin/** -diff -merge linguist-generated=true

# Fix `git diff` when running on the below file formats.
# Our windows build image uses MinGit which tries to use the astextplain diff algorithm (https://git-scm.com/docs/gitattributes#_setting_the_internal_diff_algorithm).
# The astextplain binary is not embedded in the docker image making the git diff command fail when one of the below file formats is in the diff.
# The error is:
# ```
# error: cannot spawn astexplain: No such files or directory
# fatal: unable to read files diff
# ```
# We're overriding the MinGit default gitattributes config to avoid using astextplain on the file formats below.
# The MinGit's gitconfig file still have the problematic config though it should not use it anymore:
# ```
# [diff "astextplain"]
#	textconv = astextplain
# ```

*.doc diff
*.DOC diff
*.docx diff
*.DOCX diff
*.docm diff
*.DOCM diff
*.dot diff
*.DOT diff
*.dotx diff
*.DOTX diff
*.dotm diff
*.DOTM diff
*.pdf diff
*.PDF diff
*.rtf diff
*.RTF diff
*.ods diff
*.ODS diff
*.odf diff
*.ODF diff
*.odt diff
*.ODT diff
