---
stages:
  - test
  - build
  - deploy

test:
  stage: test
  tags: ["arch:amd64"]
  needs: []
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux:v95180930-5bed5d79
  script:
    - |
      if true; then
        echo "This is a test"
      fi
    - export TEST_VAR="Hello world !"
    - echo $TEST_VAR
