# .gitlab-ci.yml
parent_1:
  tags: ["arch:amd64", "specific:true"]
  script:
    - echo "Running in parent pipeline"

parent_2:
  tags: ["arch:amd64", "specific:true"]
  needs: [parent_1]
  script:
    - echo "Running in parent pipeline"

parent_3:
  tags: ["arch:amd64", "specific:true"]
  needs: [parent_2]
  script:
    - echo "This is a test artifact!" >> artifact.txt
  artifacts:
    paths:
      - artifact.txt
  resource_group: unita-dep-$CI_PIPELINE_ID

trigger_unit_a:
  trigger:
    include: unita.yml
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

trigger_unit_b:
  needs: [parent_1]
  trigger:
    include: unit_b.yml
