default_language_version:
  python: python3.8

repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==20.1.4
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.1
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: local
  hooks:
    - id: golint
      name: golint
      description: golint
      entry: 'python3 tasks/git-hooks/golint.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: gofmt
      name: gofmt
      description: go fmt
      entry: 'python3 tasks/git-hooks/gofmt.py'
      language: system
      files: \.go$
