version: '{branch}.{build}'
shallow_clone: false
platform: x64
skip_branch_with_pr: true

clone_folder: C:\gopath\src\github.com\DataDog\datadog-agent

# environment must be set for python 64 bit
environment:
  GOPATH: C:\gopath
  GOROOT: C:\go111
  # Give hints to CMake to find Pythons
  Python2_ROOT_DIR: C:\Python27-x64
  Python3_ROOT_DIR: C:\Python37-x64
  PIP2: pip -q
  PIP3: pip3 -q
  MSYS_ROOT: C:\msys64
  # GLIB-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/glib/2.26/glib_2.26.1-1_win64.zip
  # PKG-CONFIG-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/pkg-config_0.23-2_win64.zip
  # GETTEXT-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/gettext-runtime_0.18.1.1-2_win64.zip
  # TODO: Following 2 are temporary, remove when we've a better invoke task
  PYTHON_HOME_2: C:\Python27-x64
  PYTHON_HOME_3: C:\Python37-x64

install:
  - set PATH=%APPVEYOR_BUILD_FOLDER%\dev\lib;%GOPATH%\bin;%Python2_ROOT_DIR%;%Python2_ROOT_DIR%\Scripts;%Python3_ROOT_DIR%;%Python3_ROOT_DIR%\Scripts;%MSYS_ROOT%\mingw64\bin;%MSYS_ROOT%\usr\bin\;%PATH%
  - git clone --depth 1 https://github.com/datadog/integrations-core
  - "%PIP2% install codecov -r requirements.txt"

cache:
  - '%GOPATH%\bin'
  - '%LOCALAPPDATA%\pip\Cache'
  - '%GOPATH%\src\github.com\DataDog\datadog-agent\vendor'

build: off

test_script:
  - cd six
  - cmake -G "MSYS Makefiles" -DBUILD_DEMO:BOOL=OFF -DCMAKE_INSTALL_PREFIX:PATH=%APPVEYOR_BUILD_FOLDER%\dev .
  - bash -c "make"
  - bash -c "make install"
  - bash -c "make clang-format"
  - bash -c "make -C test run"
  - cd ..
  - inv -e deps
  - inv -e test --coverage --profile --fail-on-fmt
  - codecov -f profile.cov -F windows

# uncomment to debug builds
# on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
