version: '{branch}.{build}'
shallow_clone: false
platform: x64
skip_branch_with_pr: true

clone_folder: C:\gopath\src\github.com\DataDog\datadog-agent

# environment must be set for python 64 bit
environment:
  GOPATH: C:\gopath
  GOROOT: C:\go110
  RUBY_PATH: C:\Ruby23-x64
  RI_DEVKIT: C:\Ruby23-x64\DevKit\
  PYTHONPATH: c:\python27-x64
  PYTHONHOME: c:\python27-x64
  GLIB-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/glib/2.26/glib_2.26.1-1_win64.zip
  PKG-CONFIG-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/pkg-config_0.23-2_win64.zip
  GETTEXT-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/gettext-runtime_0.18.1.1-2_win64.zip

install:
  - set PATH=%GOPATH%\bin;C:\%GOPATH%\bin;%RUBY_PATH%\bin;%RI_DEVKIT%bin;%RI_DEVKIT%mingw\bin;c:\python27-x64;c:\python27-x64\scripts;%PATH%
  - mkdir c:\deps
  - cd c:\deps
  - curl -fsS -o glib.zip %GLIB-URL%
  - curl -fsS -o pkg-config.zip %PKG-CONFIG-URL%
  - curl -fsS -o gettext.zip %GETTEXT-URL%
  - 7z x *.zip > NUL
  - set PATH=C:\deps\bin;%GOPATH%\bin;%GOROOT%\bin;%RUBY_PATH%\bin;%RI_DEVKIT%bin;%RI_DEVKIT%mingw\bin;c:\python27-x64;c:\python27-x64\scripts;%PATH%
  - go version
  - pip install invoke

cache:
  - '%GOPATH%\bin'
  - '%GOPATH%\src\github.com\DataDog\datadog-agent\vendor'

build: off

test_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - inv -e deps
  - inv -e test --race --profile --fail-on-fmt
