version: '{branch}.{build}'
shallow_clone: false
platform: x64
skip_branch_with_pr: true

clone_folder: C:\gopath\src\github.com\DataDog\datadog-agent

# environment must be set for python 64 bit
environment:
  GOPATH: C:\gopath
  GOROOT: C:\go112
  # Give hints to CMake to find Pythons
  Python2_ROOT_DIR: C:\Python27-x64
  Python3_ROOT_DIR: C:\Python37-x64
  PIP2: pip -q
  PIP3: pip3 -q
  MSYS_ROOT: C:\msys64
  # GLIB-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/glib/2.26/glib_2.26.1-1_win64.zip
  # PKG-CONFIG-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/pkg-config_0.23-2_win64.zip
  # GETTEXT-URL: http://ftp.gnome.org/pub/gnome/binaries/win64/dependencies/gettext-runtime_0.18.1.1-2_win64.zip

install:
  # create 'ddagentuser' user to test the secrets feature on windows
  - ps: $Password = ConvertTo-SecureString "dummyPW_:-gch6Rejae9" -AsPlainText -Force; New-LocalUser -Name "ddagentuser" -Description "Test user for the secrets feature on windows." -Password $Password
  - set PATH=%APPVEYOR_BUILD_FOLDER%\dev\lib;%GOPATH%\bin;%Python2_ROOT_DIR%;%Python2_ROOT_DIR%\Scripts;%Python3_ROOT_DIR%;%Python3_ROOT_DIR%\Scripts;%MSYS_ROOT%\mingw64\bin;%MSYS_ROOT%\usr\bin\;%PATH%
  - git clone --depth 1 https://github.com/datadog/integrations-core
  - "%PIP2% install codecov -r requirements.txt"
  - "%PIP3% install PyYAML==5.1"

cache:
  - '%GOPATH%\bin'
  - '%LOCALAPPDATA%\pip\Cache'
  - '%GOPATH%\src\github.com\DataDog\datadog-agent\vendor'

build: off

test_script:
  - inv -e rtloader.build --install-prefix=%APPVEYOR_BUILD_FOLDER%\dev --cmake-options="-G \"MSYS Makefiles\""
  - inv -e rtloader.install
  - inv -e rtloader.format --raise-if-changed
  - inv -e rtloader.test
  - inv -e deps --dep-vendor-only
  - inv -e test --coverage --profile --fail-on-fmt --python-home-2=C:\Python27-x64 --python-home-3=C:\Python37-x64
  - codecov -f profile.cov -F windows

# uncomment to debug builds
# on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
