go 1.22.2

use (
	.
	./cmd/agent/common/path/
	./comp/core/config/
	./comp/core/flare/types
	./comp/core/hostname/hostnameinterface
	./comp/core/log/
	./comp/core/secrets
	./comp/core/status
	./comp/core/status/statusimpl
	./comp/core/telemetry/
	./comp/def/
	./comp/forwarder/defaultforwarder
	./comp/forwarder/orchestrator/orchestratorinterface
	./comp/logs/agent/config
	./comp/netflow/payload
	./comp/otelcol/collector-contrib/def
	./comp/otelcol/collector-contrib/impl
	./comp/otelcol/logsagentpipeline
	./comp/otelcol/logsagentpipeline/logsagentpipelineimpl
	./comp/otelcol/otlp/components/exporter/datadogexporter
	./comp/otelcol/otlp/components/exporter/logsagentexporter
	./comp/otelcol/otlp/components/exporter/serializerexporter
	./comp/otelcol/otlp/components/pipeline/provider
	./comp/otelcol/otlp/testutil
	./comp/serializer/compression
	./pkg/aggregator/ckey/
	./pkg/api
	./pkg/collector/check/defaults
	./pkg/config/env
	./pkg/config/logs
	./pkg/config/model/
	./pkg/config/remote/
	./pkg/config/setup/
	./pkg/config/utils/
	./pkg/errors
	./pkg/gohai
	./pkg/logs/auditor
	./pkg/logs/client
	./pkg/logs/diagnostic
	./pkg/logs/message
	./pkg/logs/metrics
	./pkg/logs/pipeline
	./pkg/logs/processor
	./pkg/logs/sds
	./pkg/logs/sender
	./pkg/logs/sources
	./pkg/logs/status/statusinterface
	./pkg/logs/status/utils
	./pkg/logs/util/testutils
	./pkg/metrics/
	./pkg/networkdevice/profile
	./pkg/obfuscate
	./pkg/orchestrator/model
	./pkg/process/util/api
	./pkg/proto
	./pkg/remoteconfig/state
	./pkg/security/secl
	// Leave out for now as gazelle is not autogenerating stuff for it
	// ./pkg/security/seclwin
	./pkg/serializer/
	./pkg/status/health
	./pkg/tagger/types
	./pkg/tagset/
	./pkg/telemetry/
	./pkg/trace
	./pkg/util/backoff
	./pkg/util/buf/
	./pkg/util/cache
	./pkg/util/cgroups
	./pkg/util/common
	./pkg/util/executable
	./pkg/util/filesystem
	./pkg/util/flavor
	./pkg/util/fxutil/
	./pkg/util/grpc/
	./pkg/util/hostname/validate/
	./pkg/util/http/
	./pkg/util/json
	./pkg/util/log
	./pkg/util/optional
	./pkg/util/pointer
	./pkg/util/scrubber
	./pkg/util/sort/
	./pkg/util/startstop
	./pkg/util/statstracker
	./pkg/util/system
	./pkg/util/system/socket/
	./pkg/util/testutil
	./pkg/util/uuid
	./pkg/util/winutil/
	./pkg/version
)
