go 1.24.4

// Disable new post-quantum key exchange mechanism X25519MLKEM768
// See https://github.com/DataDog/datadog-agent/issues/34323 for historical context.
// This should be revisited for go 1.25.x
godebug tlsmlkem=0

use (
	.
	comp/api/api/def
	comp/core/config
	comp/core/configsync
	comp/core/flare/builder
	comp/core/flare/types
	comp/core/hostname/hostnameinterface
	comp/core/ipc/def
	comp/core/ipc/httphelpers
	comp/core/ipc/impl
	comp/core/ipc/mock
	comp/core/log/def
	comp/core/log/fx
	comp/core/log/impl
	comp/core/log/impl-trace
	comp/core/log/mock
	comp/core/secrets
	comp/core/status
	comp/core/status/statusimpl
	comp/core/tagger/def
	comp/core/tagger/fx-remote
	comp/core/tagger/generic_store
	comp/core/tagger/impl-remote
	comp/core/tagger/origindetection
	comp/core/tagger/subscriber
	comp/core/tagger/tags
	comp/core/tagger/telemetry
	comp/core/tagger/types
	comp/core/tagger/utils
	comp/core/telemetry
	comp/def
	comp/forwarder/defaultforwarder
	comp/forwarder/orchestrator/orchestratorinterface
	comp/logs/agent/config
	comp/netflow/payload
	comp/otelcol/collector-contrib/def
	comp/otelcol/collector-contrib/impl
	comp/otelcol/converter/def
	comp/otelcol/converter/impl
	comp/otelcol/ddflareextension/def
	comp/otelcol/ddflareextension/impl
	comp/otelcol/ddflareextension/types
	comp/otelcol/ddprofilingextension/def
	comp/otelcol/ddprofilingextension/impl
	comp/otelcol/logsagentpipeline
	comp/otelcol/logsagentpipeline/logsagentpipelineimpl
	comp/otelcol/otlp/components/connector/datadogconnector
	comp/otelcol/otlp/components/exporter/datadogexporter
	comp/otelcol/otlp/components/exporter/logsagentexporter
	comp/otelcol/otlp/components/exporter/serializerexporter
	comp/otelcol/otlp/components/metricsclient
	comp/otelcol/otlp/components/processor/infraattributesprocessor
	comp/otelcol/otlp/components/statsprocessor
	comp/otelcol/otlp/testutil
	comp/otelcol/status/def
	comp/otelcol/status/impl
	comp/serializer/logscompression
	comp/serializer/metricscompression
	comp/trace/agent/def
	comp/trace/compression/def
	comp/trace/compression/impl-gzip
	comp/trace/compression/impl-zstd
	internal/tools
	internal/tools/gotest-custom
	internal/tools/independent-lint
	internal/tools/modformatter
	internal/tools/modparser
	internal/tools/proto
	internal/tools/worksynchronizer
	pkg/aggregator/ckey
	pkg/api
	pkg/collector/check/defaults
	pkg/config/create
	pkg/config/env
	pkg/config/mock
	pkg/config/model
	pkg/config/nodetreemodel
	pkg/config/remote
	pkg/config/setup
	pkg/config/structure
	pkg/config/teeconfig
	pkg/config/utils
	pkg/config/viperconfig
	pkg/errors
	pkg/fips
	pkg/fleet/installer
	pkg/gohai
	pkg/linters/components/pkgconfigusage
	pkg/logs/client
	pkg/logs/diagnostic
	pkg/logs/message
	pkg/logs/metrics
	pkg/logs/pipeline
	pkg/logs/processor
	pkg/logs/sds
	pkg/logs/sender
	pkg/logs/sources
	pkg/logs/status/statusinterface
	pkg/logs/status/utils
	pkg/logs/util/testutils
	pkg/metrics
	pkg/network/payload
	pkg/networkdevice/profile
	pkg/networkpath/payload
	pkg/obfuscate
	pkg/opentelemetry-mapping-go/inframetadata
	pkg/opentelemetry-mapping-go/inframetadata/gohai/internal/gohaitest
	pkg/opentelemetry-mapping-go/otlp/attributes
	pkg/opentelemetry-mapping-go/otlp/logs
	pkg/opentelemetry-mapping-go/otlp/metrics
	pkg/orchestrator/model
	pkg/process/util/api
	pkg/proto
	pkg/remoteconfig/state
	pkg/security/secl
	pkg/security/seclwin
	pkg/serializer
	pkg/status/health
	pkg/tagger/types
	pkg/tagset
	pkg/telemetry
	pkg/template
	pkg/trace
	pkg/trace/stats/oteltest
	pkg/util/backoff
	pkg/util/buf
	pkg/util/cache
	pkg/util/cgroups
	pkg/util/common
	pkg/util/compression
	pkg/util/containers/image
	pkg/util/defaultpaths
	pkg/util/executable
	pkg/util/filesystem
	pkg/util/flavor
	pkg/util/fxutil
	pkg/util/grpc
	pkg/util/hostname/validate
	pkg/util/http
	pkg/util/json
	pkg/util/log
	pkg/util/log/setup
	pkg/util/option
	pkg/util/otel
	pkg/util/pointer
	pkg/util/prometheus
	pkg/util/quantile
	pkg/util/quantile/sketchtest
	pkg/util/scrubber
	pkg/util/sort
	pkg/util/startstop
	pkg/util/statstracker
	pkg/util/system
	pkg/util/system/socket
	pkg/util/testutil
	pkg/util/utilizationtracker
	pkg/util/uuid
	pkg/util/winutil
	pkg/version
	test/fakeintake
	test/new-e2e
	test/otel
	tools/retry_file_dump
)
