apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: python
  namespace: application
spec:
  ingressClassName: nginx
  rules:
    - host: www.example.com
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: python-app
                port:
                  number: 80
            path: /
