# To edit the requirements file, open a PR on github.com/DataDog/datadog-agent-buildimages
-r https://raw.githubusercontent.com/DataDog/datadog-agent-buildimages/59ff0fc027be93b61cf7f6af9acac415d585a296/requirements.txt
