# To edit the requirements file, open a PR on github.com/DataDog/datadog-agent-buildimages
-r https://raw.githubusercontent.com/DataDog/datadog-agent-buildimages/2b420abf6dbaa539f3a19096a4adf921beb8b574/requirements.txt
