init_config:
instances:
  - ## Tagging
    ##

    # You can add extra tags to your Kubernetes API Server metrics, events and Service Checks with the tags list option.
    #
    # tags: ["foo:bar"]
    #
    # To deactivate the event collection, flip the collect_events option to false.
    # collect_events: false
    #
    # Specify a list of exclusion filters over the event type, involvedObject.kind, reason, following the Kubernetes field-selector format.
    #
    # filtered_event_types: ["reason!=FailedGetScale","involvedObject.kind==Pod","type==Normal"]
    #
    # Maximum number of events you wish to collect per check run.
    # max_events_per_run: 300
    #
    # Parameter specified by the Cluster Agent when the event collection is configured as a cluster check.
    # skip_leader_election: false
    #
    # Specify the frequency in seconds at which the Agent should list all events to re-sync following the informer pattern
    #
    # kubernetes_event_resync_period_s: 300
