receivers:
    prometheus/user-defined:
      config:
        scrape_configs:
          - job_name: 'datadog-agent'
            scrape_interval: 60s
            metric_name_validation_scheme: legacy
            metric_name_escaping_scheme: underscores
            scrape_protocols:
              - "PrometheusText0.0.4"
            static_configs:
              - targets: ['0.0.0.0:8888']

exporters:
    datadog:
      api:
        key: 12345

service:
    pipelines:
        metrics:
            receivers: [prometheus/user-defined]
            exporters: [datadog]
