{{- if .snmpProfiles }}
  Profiles
  ========
  {{- range $key, $value := .snmpProfiles }}
  {{$key}}: {{$value}}
  {{- end }}
{{- end -}}
{{- if or .autodiscoverySubnets .discoverySubnets }}
  Autodiscovery
  =============
  {{- range $subnet := .autodiscoverySubnets }}
  {{- if eq $subnet.IpsCount $subnet.DevicesScanned }}
  {{- if $subnet.DevicesFound }}
  Subnet {{$subnet.Subnet}} scanned. Found the following IP(s) :
    {{- range $device := $subnet.DevicesFound }}
    - {{$device}}
    {{- end }}
  {{- else }}
  Subnet {{$subnet.Subnet}} scanned. Found no IPs in the subnet.
  {{- end }}
  {{- else if eq $subnet.DeviceScanning "" }}
  Subnet {{$subnet.Subnet}} is queued for scanning.
  {{- else}}
  Scanning subnet {{$subnet.Subnet}}... Currently scanning IP {{$subnet.DeviceScanning}}, {{$subnet.DevicesScanned}} IPs out of {{$subnet.IpsCount}} scanned.
  {{- end }}
  {{- end }}
  {{- range $subnet := .discoverySubnets }}
  {{- if eq $subnet.IpsCount $subnet.DevicesScanned }}
  {{- if $subnet.DevicesFound }}
  Subnet {{$subnet.Subnet}} scanned. Found the following IP(s) :
    {{- range $device := $subnet.DevicesFound }}
    - {{$device}}
    {{- end }}
  {{- else }}
  Subnet {{$subnet.Subnet}} scanned. Found no IPs in the subnet.
  {{- end }}
  {{- else if eq $subnet.DeviceScanning "" }}
  Subnet {{$subnet.Subnet}} is queued for scanning.
  {{- else}}
  Scanning subnet {{$subnet.Subnet}}... Currently scanning IP {{$subnet.DeviceScanning}}, {{$subnet.DevicesScanned}} IPs out of {{$subnet.IpsCount}} scanned.
  {{- end }}
  {{- end }}
{{- end -}}
