---
# k8s_staging_deployment_pr stage
# Contains jobs to trigger a pipeline in our k8s-datadog-agent-ops repo to create staging deployment PR

k8s_staging_deployment_pr:
  stage: k8s_staging_deployment_pr
  rules:
    - if: $RC_BUILD == "true"
      when: on_success
  needs:
    - job: publish_internal_container_image-jmx
      artifacts: false
    - job: publish_internal_container_image-fips
      artifacts: false
    - job: publish_internal_container_image-ot_standalone
      artifacts: false
    - job: publish_internal_dca_container_image
      artifacts: false
    - job: publish_internal_container_image-full
      artifacts: false
    - job: k8s-e2e-main # Currently only require container Argo workflow
      artifacts: false
      optional: true
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/linux$CI_IMAGE_LINUX_SUFFIX:$CI_IMAGE_LINUX
  tags: ["arch:amd64", "specific:true"]
  allow_failure: true
  variables:
    AGENT_IMAGE_TAG: $CI_COMMIT_REF_NAME
  script:
    - "dda inv pipeline.trigger-child-pipeline --project-name DataDog/k8s-datadog-agent-ops --git-ref main
      --variable AGENT_IMAGE_TAG"
