-r libs/requirements-github.txt
-r libs/requirements-notifications.txt
-r show_linters_issues/requirements.txt

# From release.py (needed to run inv update-build-links)
atlassian-python-api==3.41.3

# From test.py (needed to run inv lint-python)
flake8-bugbear==21.11.28
flake8-comprehensions==3.7.0
flake8-unused-arguments==0.0.6
flake8-use-fstring==1.3.0
black==22.3.0
isort==5.12.0
vulture==2.3
