mkdocs~=1.5.3
mkdocs-material~=9.5.1
# Plugins
mkdocs-minify-plugin~=0.7.1
mkdocs-git-revision-date-localized-plugin~=1.2.1
mkdocs-glightbox~=0.3.5
# Extensions
pymdown-extensions~=10.5.0
# Necessary for syntax highlighting in code blocks
pygments~=2.17.2
# Validation
# https://github.com/linkchecker/linkchecker/pull/669#issuecomment-1267236287
linkchecker @ git+https://github.com/linkchecker/linkchecker.git@d9265bb71c2054bf57b8c5734a4825d62505c779
