# Requirements defined in this file are used only locally and should be lazy loaded inside tasks' functions
# Requirements needed by the CI should be defined in datadog-agent-buildimages repository

-r libs/requirements-github.txt
-r libs/requirements-notifications.txt
-r show_linters_issues/requirements.txt
-r requirements_release_tasks.txt
-r requirements_docs.txt

python-gitlab==4.4.0
debugpy==1.8.2
watchdog==6.0.0
