api_key: "00000000000000000000000000000001"
dd_url: %q
skip_ssl_validation: true
private_action_runner:
  enabled: true
  split_enabled: %t
  self_enroll: true
  api_key_only_enrollment: true
  idle_timeout_seconds: 5
  actions_allowlist:
    - %s
