  {{- if .custommetrics.Error }}
  Error: {{ .custommetrics.Error }}
  {{- else if .custommetrics.Disabled }}
  Disabled: {{ .custommetrics.Disabled }}
  {{-  else }}

  Data sources
  ------------
  {{- if .externalmetrics }}
  {{- if .externalmetrics.client }}
  URL: {{ .externalmetrics.client.url }}
  {{- else if .externalmetrics.clients }}
  {{- range $client := .externalmetrics.clients }}
  - URL: {{ $client.url }}  [{{ $client.status }}]
    Last failure: {{ $client.lastFailure }}
    Last Success: {{ $client.lastSuccess }}
  {{- end }}
  {{- end }}
  {{- end }}

  {{ if .custommetrics.NoStatus }}
  {{ .custommetrics.NoStatus }}
  {{ else }}
  ConfigMap name: {{ .custommetrics.Cmname }}
  {{- if .custommetrics.StoreError }}
  Error: {{ .custommetrics.StoreError }}
  {{ else }}
  External Metrics
  ----------------
    {{- if .custommetrics.External.ListError }}
    Error: {{ .custommetrics.External.ListError }}
    {{ else }}
    Total: {{ .custommetrics.External.Total }}
    Valid: {{ .custommetrics.External.Valid }}
    {{ range $metric := .custommetrics.External.Metrics }}
  * {{$metric.reference.type}} pod autoscaler: {{$metric.reference.namespace}}/{{$metric.reference.name}}
    Metric name: {{$metric.metricName}}
    Labels:
    {{- range $k, $v := $metric.labels }}
    - {{$k}}: {{$v}}
    {{- end }}
    Value: {{ humanize $metric.value}}
    Timestamp: {{ formatUnixTime $metric.ts}}
    Valid: {{$metric.valid}}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
