${COPYRIGHT_HEADER}

// Package ${COMPONENT_NAME} ... /* TODO: detailed doc comment for the component */
package ${COMPONENT_NAME}

// team: ${TEAM_NAME}

// Component is the component type.
type Component interface {
    /* TODO: define Component interface */
}
