# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.require_version ">= 1.8.4"

Vagrant.configure("2") do |config|

  config.vm.communicator = "winrm"
  # Admin user name and password
  config.winrm.username = "dogdev"
  config.winrm.password = "dogdev"

end
