#!/bin/bash

cat <<EOF
    {
"api_key": {
"value": "API_KEY",
"error": null
},
"url": {
"value": "http://google.com",
"error": null
},
"secret2": {
"value": null,
"error": "could not fetch the secret"
}
}
EOF