__version__ = "1.0.0"

from stackstate_checks.checks import AgentCheck

class HelloCheck(AgentCheck):
    def __init__(self, name, init_config, instances):
    super(HelloCheck, self).__init__(name, init_config, instances)

    def check(self, instance):
    self.log.info(url = instance.get('url'))
