  Version: 7.51.0-rc.1+git.416.0d1edc1
  Status date: 2024-02-02 17:48:03.712 CET / 2024-02-02 16:48:03.712 UTC (1706892483712)
  Process Agent Start: 2024-02-02 17:47:44.835 CET / 2024-02-02 16:47:44.835 UTC (1706892464835)
  Pid: 72211
  Go Version: go1.21.5
  Build arch: arm64
  Log Level: info
  Enabled Checks: [process rtprocess]
  Allocated Memory: 30,387,880 bytes
  Hostname: COMP-VQHPF4W6GY
  System Probe Process Module Status: Not running
  Process Language Detection Enabled: False

  =================
  Process Endpoints
  =================
    https://process.datadoghq.eu - API Key ending with:
        - 72724

  =========
  Collector
  =========
    Last collection time: 2024-02-02 17:47:57
    Docker socket: /var/run/docker.sock
    Number of processes: 757
    Number of containers: 0
    Process Queue length: 0
    RTProcess Queue length: 0
    Connections Queue length: 0
    Event Queue length: 0
    Pod Queue length: 0
    Process Bytes enqueued: 0
    RTProcess Bytes enqueued: 0
    Connections Bytes enqueued: 0
    Event Bytes enqueued: 0
    Pod Bytes enqueued: 0
    Drop Check Payloads: []

  ==========
  Extractors
  ==========

    Workloadmeta
    ============
      Cache size: 0
      Stale diffs discarded: 0
      Diffs dropped: 0
