<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> DataDog Agent 6 </title>
    <link rel="stylesheet" href="view/css/stylesheet.css">
    <link rel="stylesheet" href="view/css/font-awesome.min.css">
    <link rel="stylesheet" href="view/css/custom-dropdown.css">
    <link rel="stylesheet" href="view/css/on-off.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="view/js/javascript.js"> </script>
    <script src="view/js/tests.js"> </script>
</head>

<body>
  <div id="sidebar">
    <img id="logo" src="view/images/datadog_icon_white.svg">

    <ul class="navbar">
      <li id="status_button" class="nav_item">
        <i class="fa fa-info fa-fw"> </i>&nbsp;
        Status
      </li>
      <li id="settings_button" class="nav_item">
        <i class="fa fa-cog fa-fw"> </i>&nbsp;
        Settings
      </li>
      <li class="nav_item multi">
        <i class="fa fa-check fa-fw"> </i>&nbsp;
        Checks
        <i class="fa fa-chevron-down fa-rotate-270"> </i>
        <div id="checks_side_menu" class="side_menu">
          <a href="javascript:void(0)" onclick="loadChecks()" class="side_menu_item">Edit Check Configs</a>
          <a href="javascript:void(0)" onclick="loadAddCheck()" class="side_menu_item">Add a Check</a>
        </div>
      </li>
      <li id="flare_button" class="nav_item">
        <i class="fa fa-flag fa-fw"> </i>&nbsp;
        Flare
      </li>
      <li class="nav_item multi">
        <i class="fa fa-plug fa-fw"> </i>&nbsp;
        Test connection
        <i class="fa fa-chevron-down fa-rotate-270"> </i>
        <div class="side_menu">
          <a href="javascript:void(0)" onclick="testSuccess()" class="side_menu_item">Good</a>
          <a href="javascript:void(0)" onclick="testBadReq_1()" class="side_menu_item">Bad 1</a>
          <a href="javascript:void(0)" onclick="testBadReq_2()" class="side_menu_item">Bad 2</a>
          <a href="javascript:void(0)" onclick="testBadReq_3()" class="side_menu_item">Bad 3</a>
          <a href="javascript:void(0)" onclick="testBadReq_4()" class="side_menu_item">Bad 4</a>
        </div>
      </li>
    </ul>
  </div>
  <div id="main">
    <div class="top_bar">
      <div id="title">Datadog Agent Manager</div>
      <div id="agent_status">Agent running</div>
      <div id="agent_info">
        <div id="version">Version: </div>
        <div id="hostname">Hostname: </div>
      </div>
    </div>
    <div id="tests" class="page"></div>
    <div id="status" class="page"></div>
    <div id="settings" class="page"></div>
    <div id="checks_settings" class="page">
      <div id="checks_filter">
        <span class="custom-dropdown">
          <select id="filter_button">
            <option value="all">Show All</option>
            <option value="enabled">Show Enabled</option>
            <option value="disabled">Show Disabled</option>
          </select>
        </span>
      </div>
      <div id="checks_list"></div>
      <div id="checks_interface"><span class="center">Select a check.</span></div>
    </div>
    <div id="flare" class="page">Not yet implemented.</div>
  </div>
</body>
