${COPYRIGHT_HEADER}

// Package ${BUNDLE_NAME} implements the "${BUNDLE_NAME}" bundle, 
package ${BUNDLE_NAME}

import (
	"go.uber.org/fx"

	"github.com/DataDog/datadog-agent/pkg/util/fxutil"
)

// team: ${TEAM_NAME}

// Bundle defines the fx options for this bundle.
var Bundle = fxutil.Bundle(
    /* TODO: define your bundle */
)
