
<!DOCTYPE html>
<html lang="en">
<body>
  <button onclick="setCookie(true)">Set Good Key</button>
  <button onclick="setCookie(false)">Set Bad Key</button>
  <button onclick="deleteCookie()">Delete</button>
</body>
</html>

<script>

function setCookie(good){
    // set cookie
    if (good) {
        createCookie("token", "test123", 1);
    } else {
      createCookie("token", "incorrect", 1);
    }

    // make sure it set
    console.log("Cookie value: " + readCookie("token"));
}

function deleteCookie() {
  createCookie("token", "", -1);

  console.log("Token cookie deleted.")
}

function createCookie(name, value, days) {
    var expires;

    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = encodeURIComponent(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
    }
    return null;
}

</script>
