{{- if .ntpOffset}}
  <div class="stat">
    <span class="stat_title">NTP Offset</span>
    <span class="stat_data">
      <br>{{ humanizeDuration .ntpOffset "s"}}
      {{- if ntpWarning .ntpOffset}}
      <br><span class="warning">NTP Offset is high. Datadog may ignore metrics sent by this Agent.</span>
      {{- end}}
    </span>
  </div>
{{end}}

{{- if .intakeOffset}}
  <div class="stat">
    <span class="stat_title">Intake Offset</span>
    <span class="stat_data">
      <br>{{ humanizeDuration .intakeOffset "s"}}
      {{- if ntpWarning .intakeOffset}}
      <br><span class="warning">Intake offset is high. Datadog may drop metrics from this Agent.</span>
      {{- end}}
    </span>
  </div>
{{end}}

