{{- if .ntpOffset}}
  <span class="stat_data">
    <br>NTP Offset: {{ humanizeDuration .ntpOffset "s"}}
    {{- if ntpWarning .ntpOffset}}
    <br><span class="warning">NTP Offset is high. Datadog may ignore metrics sent by this Agent.</span>
    {{- end}}
  </span>
{{- end}}
