

//     This launch.json configuration uses Delve to run the process and process discovery checks in debug mode.

//     https://github.com/go-delve/delve?tab=readme-ov-file
//     https://github.com/microsoft/vscode-go/blob/master/docs/Debugging-Go-code-using-VS-Code.md 

//     How to use: 

//     1. cd repo root (/datadog-agent)
//     2. Copy this file and paste in the directory .vscode in the root of the repo. 
//     3. Edit the file name removing the extention ".template" 
 


{
    "version": "0.2.0",
    "configurations": [ 

        {
            "name": "process",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/process-agent/process-agent",
            "env": {},
            "showLog": true, 
            "args": [
                "check",
                "process"
            ]
        },
        {
            "name": "processDiscovery",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/process-agent/process-agent",
            "env": {},
            "args": [
                "check",
                "process_discovery"
            ]
        }
    ]
}