version: 2

# This file uses YAML anchors to deduplicate steps
# see https://circleci.com/blog/circleci-hacks-reuse-yaml-in-your-circleci-config-with-yaml/
# and https://learnxinyminutes.com/docs/yaml/

experimental:
  # For some reason filtering out notifications keeps being undocumented and
  # marked as experimental but as of today, it's still working.
  notify:
    branches:
      only:
        - main

templates:
  job_template: &job_template
    docker:
      - image: datadog/datadog-agent-runner-circle:go1198
        environment:
          USE_SYSTEM_LIBS: "1"
    working_directory: /go/src/github.com/DataDog/datadog-agent

  step_templates:
    - restore_cache: &restore_deps
        keys:
          # The first match will be used. Doing that so new branches
          # use the default branch's cache but don't pollute it back.
          #
          # If incremental dep fails, increase the cache gen number
          # in restore_deps AND save_deps
          # See https://github.com/DataDog/datadog-agent/pull/2384
          - gen19-godeps-{{ checksum "requirements.txt" }}-{{ checksum ".circleci/requirements.txt" }}-{{ checksum ".circleci/images/runner/Dockerfile" }}-{{ .Branch }}-{{ .Revision }}
          - gen19-godeps-{{ checksum "requirements.txt" }}-{{ checksum ".circleci/requirements.txt" }}-{{ checksum ".circleci/images/runner/Dockerfile" }}-{{ .Branch }}-
          - gen19-godeps-{{ checksum "requirements.txt" }}-{{ checksum ".circleci/requirements.txt" }}-{{ checksum ".circleci/images/runner/Dockerfile" }}-main-
    - save_cache: &save_deps
        key: gen19-godeps-{{ checksum "requirements.txt" }}-{{ checksum ".circleci/requirements.txt" }}-{{ checksum ".circleci/images/runner/Dockerfile" }}-{{ .Branch }}-{{ .Revision }}
    - restore_cache: &restore_source
        keys:
          # Cache retrieval is faster than full git checkout
          - v5-repo-{{ .Revision }}
    - save_cache: &save_source
        key: v5-repo-{{ .Revision }}

jobs:
  checkout_code:
    docker:
      - image: alpine/git:latest
    working_directory: /go/src/github.com/DataDog/datadog-agent
    steps:
      - checkout
      - save_cache:
          <<: *save_source
          paths:
            - /go/src/github.com/DataDog/datadog-agent

  dependencies:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: setup python deps
          command: |
            python3 -m pip install wheel
            python3 -m pip install -r requirements.txt
            python3 -m pip install -r .circleci/requirements.txt
      - run:
          name: check go version
          command: |
            inv -e check-go-version
      - run:
          name: grab go deps
          command: |
            inv -e deps
      - run:
          name: build rtloader
          command: |
            inv rtloader.make --install-prefix=/go/src/github.com/DataDog/datadog-agent/dev
            inv rtloader.install
      - run:
          name: lint rtloader
          command: |
            inv rtloader.format --raise-if-changed
      - run:
          name: test rtloader
          command: |
            inv rtloader.test
      - run:
          name: install go tooling
          command: |
            inv -e install-tools
      - save_cache:
          <<: *save_deps
          paths:
            - /go/pkg/mod
            - /go/bin
            - /go/src/github.com/DataDog/datadog-agent/dev
            - /usr/local/lib/python3.8/dist-packages
            - /usr/local/bin

  unit_tests:
    <<: *job_template
    resource_class: xlarge
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run unit tests
          no_output_timeout: 20m
          command: inv -e test --skip-linters --rerun-fails=2 --python-runtimes 3 --coverage --race --profile --cpus 8
      # Codecov upload is failing in CircleCI with a "Please upload with the Codecov repository upload token to resolve issue" error.
      # Public repositories don't need to use a token, it's a known issue often breaking Codecov, see  https://github.com/codecov/codecov-action/issues/837
      # Adding a token would fix it but Datadog OAuth doesn't allow us to get a token, so we're disabling it for now.
      # - run:
      #     name: upload code coverage results
      #     # Never fail on coverage upload
      #     command: inv -e codecov || true

  integration_tests:
    <<: *job_template
    resource_class: large
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run:
          name: run integration tests
          command: inv -e integration-tests --race --remote-docker

  release_note:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-releasenote
          name: run PR check for release note

  team_label:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-teamassignment
          name: run PR check for team assignment labels

  milestone:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-milestone
          name: run PR check for milestone assignment

  go_linting:
    <<: *job_template
    resource_class: xlarge
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run go linters
          no_output_timeout: 20m
          command: inv -e lint-go

  licenses_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run license linting
          command: inv -e lint-licenses

  copyrights_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run copyrights linting
          command: inv -e lint-copyrights

  filename_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run filename linting
          command: inv -e lint-filenames

  shell_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: Install shellcheck
          command: inv -e install-shellcheck
      - run:
          name: Print shellcheck version
          command: shellcheck --version
      - run:
          name: Run shellcheck
          #Excludes:
          #SC2028: echo may not expand escape sequences. Use printf.
          #SC2059: Don't use variables in the printf format string. Use printf "..%s.." "$foo".
          command: shellcheck --severity=info -e SC2059 -e SC2028 --shell=bash ./cmd/**/*.sh ./omnibus/package-scripts/*/*

  python_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: setting env vars for click
          command: |
              echo 'export LC_ALL="C.UTF-8"' >> $BASH_ENV
              echo 'export LANG="C.UTF-8"' >> $BASH_ENV
      - run:
          name: lint python files
          command: inv -e lint-python

  component_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run component linting
          command: inv -e lint-components

  codeowner_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run CODEOWNER linting
          command: inv -e github.lint-codeowner

  docker_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run:
          name: run docker image tests
          command: inv -e docker.test
      - run:
          name: run docker image integration tests
          command: inv -e docker.integration-tests

  build_binaries:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: build dogstatsd
          command: inv -e dogstatsd.build --static
      - run:
          name: build agent
          command: inv -e agent.build --exclude-rtloader

  build_iot_agent:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: build iot agent
          command: inv -e agent.build --flavor iot
      - run:
          name: test iot agent
          command: DD_HOSTNAME=test-circleci-hostname ./bin/agent/agent -c ./bin/agent/dist check cpu

  documentation_generation:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: generate doxygen documentation
          command: inv -e rtloader.generate-doc

workflows:
  version: 2
  test_and_build:
    jobs:
      - checkout_code
      - dependencies:
          requires:
            - checkout_code
      - unit_tests:
          requires:
            - dependencies
      - integration_tests:
          requires:
            - dependencies
      - release_note:
          filters:
            branches:
              ignore:
                - main
          requires:
            - dependencies
      - team_label:
          filters:
            branches:
              ignore:
                - main
          requires:
            - dependencies
      - milestone:
          filters:
            branches:
              ignore:
                - main
          requires:
            - dependencies
      - go_linting:
          requires:
            - dependencies
      - licenses_linting:
          requires:
            - dependencies
      - copyrights_linting:
          requires:
            - dependencies
      - filename_linting:
          requires:
            - dependencies
      - shell_linting:
          requires:
            - dependencies
      - python_linting:
          requires:
            - dependencies
      - component_linting:
          requires:
            - dependencies
      - codeowner_linting:
          requires:
            - dependencies
      - docker_tests:
          requires:
            - dependencies
      - documentation_generation:
          requires:
            - dependencies
      - build_binaries:
          requires:
            - unit_tests
            - integration_tests
            - docker_tests
      - build_iot_agent:
          requires:
            - unit_tests
            - integration_tests
            - docker_tests
