version: 2

# This file uses YAML anchors to deduplicate steps
# see https://circleci.com/blog/circleci-hacks-reuse-yaml-in-your-circleci-config-with-yaml/
# and https://learnxinyminutes.com/docs/yaml/

experimental:
  notify:
    branches:
      only:
        - master

templates:
  job_template: &job_template
    docker:
      - image: datadog/datadog-agent-runner-circle:latest
        environment:
          USE_SYSTEM_LIBS: "1"
    working_directory: /go/src/github.com/DataDog/datadog-agent
  step_templates:
    - restore_cache: &restore_source
        keys:
          # Cache retrieval is faster than full git checkout
          - v2-repo-{{ .Revision }}
    - restore_cache: &restore_deps
        keys:
          # The first match will be used. Doing that so new branches
          # use master's cache but don't pollute it back.
          - v2-godeps-{{ .Branch }}-{{ .Revision }}
          - v2-godeps-{{ .Branch }}-
          - v2-godeps-master-
    - run: &enter_venv
        name: add virtualenv to bashrc
        command: echo "source /go/src/github.com/DataDog/datadog-agent/venv/bin/activate" >> $BASH_ENV

jobs:
  checkout_code:
    <<: *job_template
    steps:
      - checkout
      - save_cache:
          key: v2-repo-{{ .Revision }}
          paths:
            - /go/src/github.com/DataDog/datadog-agent

  dependencies:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: setup virtual env
          command: virtualenv /go/src/github.com/DataDog/datadog-agent/venv
      - run: *enter_venv
      - run:
          name: setup python deps
          command: source ./venv/bin/activate && pip install -r requirements.txt
      - run:
          name: grab go deps
          command: source ./venv/bin/activate && inv deps
      - run:
          name: pre-compile go deps
          command: inv -e agent.build --race --precompile-only
      - save_cache:
          key: v2-godeps-{{ .Branch }}-{{ .Revision }}
          paths:
            - /go/src/github.com/DataDog/datadog-agent/vendor
            - /go/src/github.com/DataDog/datadog-agent/venv
            - /go/pkg
            - /go/bin
            - /usr/local/lib/python2.7/dist-packages

  unit_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run: *enter_venv
      - run:
          name: run unit tests
          command: inv -e test --coverage --race --profile --fail-on-fmt --cpus 4

  integration_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run: *enter_venv
      - run:
          name: run integration tests
          command: inv -e integration-tests --race --remote-docker

  release_note:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run: *enter_venv
      - run:
          command: inv -e lint-releasenote
          name: run PR check for release note

  team_label:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run: *enter_venv
      - run:
          command: inv -e lint-teamassignment
          name: run PR check for team assignment labels

  filename_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run: *enter_venv
      - run:
          name: run filename linting
          command: inv -e lint-filenames

  docker_integration_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run: *enter_venv
      - run:
          name: run docker image tests
          command: inv -e docker.test
      - run:
          name: run docker image integration tests
          command: inv -e docker.integration-tests

  build_binaries:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run: *enter_venv
      - run:
          name: build dogstatsd
          command: inv -e dogstatsd.build --static
      - run:
          name: build agent
          command: inv -e agent.build

  build_puppy:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run: *enter_venv
      - run:
          name: build puppy
          command: inv -e agent.build --puppy
      - run:
          name: test puppy
          command: ./bin/agent/agent -c ./bin/agent/dist check cpu

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - checkout_code
      - dependencies:
          requires:
            - checkout_code
      - unit_tests:
          requires:
            - dependencies
      - integration_tests:
          requires:
            - dependencies
      - release_note:
          requires:
            - dependencies
      - team_label:
          requires:
            - dependencies
      - filename_linting:
          requires:
            - dependencies
      - docker_integration_tests:
          requires:
            - dependencies
      - build_binaries:
          requires:
            - unit_tests
            - integration_tests
            - docker_integration_tests
      - build_puppy:
          requires:
            - unit_tests
            - integration_tests
            - docker_integration_tests
