version: 2

# This file uses YAML anchors to deduplicate steps
# see https://circleci.com/blog/circleci-hacks-reuse-yaml-in-your-circleci-config-with-yaml/
# and https://learnxinyminutes.com/docs/yaml/

experimental:
  notify:
    branches:
      only:
        - master

templates:
  job_template: &job_template
    docker:
      - image: datadog/datadog-agent-runner-circle:six
        environment:
          USE_SYSTEM_LIBS: "1"
    working_directory: /go/src/github.com/DataDog/datadog-agent

  step_templates:
    - restore_cache: &restore_deps
        keys:
          # The first match will be used. Doing that so new branches
          # use master's cache but don't pollute it back.
          #
          # If incremental dep fails, increase the cache gen number
          # in restore_deps AND save_deps
          # See https://github.com/DataDog/datadog-agent/pull/2384
          - gen8-godeps-{{ .Branch }}-{{ .Revision }}
          - gen8-godeps-{{ .Branch }}-
          - gen8-godeps-master-
    - save_cache: &save_deps
        key: gen8-godeps-{{ .Branch }}-{{ .Revision }}
    - restore_cache: &restore_source
        keys:
          # Cache retrieval is faster than full git checkout
          - v2-repo-{{ .Revision }}
    - save_cache: &save_source
        key: v2-repo-{{ .Revision }}

jobs:
  checkout_code:
    docker:
      - image: alpine/git:latest
    working_directory: /go/src/github.com/DataDog/datadog-agent
    steps:
      - checkout
      - save_cache:
          <<: *save_source
          paths:
            - /go/src/github.com/DataDog/datadog-agent

  dependencies:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: build six
          working_directory: /go/src/github.com/DataDog/datadog-agent/six
          command: |
            cmake . -DBUILD_DEMO:BOOL=OFF -DCMAKE_INSTALL_PREFIX:PATH=/go/src/github.com/DataDog/datadog-agent/dev
            make
            make install
      - run:
          name: lint six
          working_directory: /go/src/github.com/DataDog/datadog-agent/six
          command: |
            make clang-format
            [[ $(git ls-files -m | wc -l) -eq 0 ]]
      - run:
          name: test six
          working_directory: /go/src/github.com/DataDog/datadog-agent/six
          command: |
            # remove base check before running tests
            pip uninstall datadog-checks-base -y
            make -C test run
      - run:
          name: setup python deps
          command: |
            pip install wheel
            pip install -r requirements.txt
      - run:
          name: grab go deps
          command: |
            pip install -U invoke
            inv deps
      - run:
          name: pre-compile go deps
          command: inv -e agent.build --race --precompile-only
          environment:
            PYTHON_HOME_2: /usr/
            PYTHON_HOME_3: /usr/
      - save_cache:
          <<: *save_deps
          paths:
            - /go/src/github.com/DataDog/datadog-agent/vendor
            - /go/src/github.com/DataDog/datadog-agent/six
            - /go/src/github.com/DataDog/datadog-agent/dev
            - /go/pkg
            - /go/bin
            - /usr/local/lib/python2.7/dist-packages

  unit_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run unit tests
          command: inv -e test --coverage --race --profile --fail-on-fmt --cpus 4
      - run:
          name: upload code coverage results
          # Never fail on coverage upload
          command: bash <(curl -s https://codecov.io/bash) -f profile.cov -F linux || true

  integration_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run:
          name: run integration tests
          command: inv -e integration-tests --race --remote-docker

  release_note:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-releasenote
          name: run PR check for release note

  team_label:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-teamassignment
          name: run PR check for team assignment labels

  milestone:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          command: inv -e lint-milestone
          name: run PR check for milestone assignment

  filename_linting:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: run filename linting
          command: inv -e lint-filenames

  docker_tests:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - setup_remote_docker
      - run:
          name: run docker image tests
          command: inv -e docker.test
      - run:
          name: run docker image integration tests
          command: inv -e docker.integration-tests

  build_binaries:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: build dogstatsd
          command: inv -e dogstatsd.build --static
      - run:
          name: build agent
          command: inv -e agent.build

  build_puppy:
    <<: *job_template
    steps:
      - restore_cache: *restore_source
      - restore_cache: *restore_deps
      - run:
          name: build puppy
          command: inv -e agent.build --puppy
      - run:
          name: test puppy
          command: ./bin/agent/agent -c ./bin/agent/dist check cpu

workflows:
  version: 2
  test_and_build:
    jobs:
      - checkout_code
      - dependencies:
          requires:
            - checkout_code
      # - unit_tests:
      #     requires:
      #       - dependencies
      # - integration_tests:
      #     requires:
      #       - dependencies
      # - release_note:
      #     requires:
      #       - dependencies
      # - team_label:
      #     requires:
      #       - dependencies
      # - milestone:
      #     requires:
      #       - dependencies
      # - filename_linting:
      #     requires:
      #       - dependencies
      # - docker_tests:
      #     requires:
      #       - dependencies
      # - build_binaries:
      #     requires:
      #       - unit_tests
      #       - integration_tests
      #       - docker_tests
      # - build_puppy:
      #     requires:
      #       - unit_tests
      #       - integration_tests
      #       - docker_tests
