black==22.10.0
# The Codecov Python uploader was deprecated on Feb 1, 2022 and disappeared from PyPi on Apr 12, 2023.
# codecov==2.1.12
flake8-bugbear==23.3.23
flake8-comprehensions==3.10.1
flake8-unused-arguments==0.0.12
flake8-use-fstring==1.4
flake8==5.0.4
isort==5.10.1
vulture==2.6
