body {
  background-color: #f5f5f5;
  font-family: "OpenSans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 15px;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.dropdown select {
  outline: none;
  font-size: 15px !important;
  padding: 2px 10px !important;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.fa-spinner {
  color: #a2a2a2;
}

#sidebar {
  height: 100%;
  width: 160px;
  background-image: linear-gradient(to bottom, #443e4a 0, #110617 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}
#sidebar #logo {
  cursor: pointer;
  opacity: 0.85;
  height: 130px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#sidebar #logo:hover {
  opacity: 1;
  background-color: #110617;
}
#sidebar .navbar {
  width: 100%;
  padding: 0;
  position: absolute;
  left: 0px;
}
#sidebar .navbar .nav_item {
  position: relative;
  width: 150px;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  color: #b4b4b4;
  cursor: pointer;
  font-size: 13px;
}
#sidebar .navbar .nav_item:hover {
  color: white;
  background-color: #110617;
}
#sidebar .navbar .nav_item:hover .side_menu {
  color: #b4b4b4;
}
#sidebar .navbar .fa-chevron-down {
  position: absolute;
  top: calc(50% - 6.5px);
  right: 7px;
}
#sidebar .navbar .side_menu {
  display: none;
  padding: 0;
  z-index: 10;
  position: relative;
  margin-left: -10px;
  left: 160px;
  top: -50px;
  background-color: #110617;
}
#sidebar .navbar #status_side_menu {
  width: 100px;
}
#sidebar .navbar #checks_side_menu {
  width: 165px;
}
#sidebar .navbar #logs_side_menu {
  width: 140px;
}
#sidebar .navbar .multi:hover .side_menu {
  display: block;
}
#sidebar .navbar .side_menu_item {
  width: 100%;
  height: 50px;
  display: inline-block;
  text-indent: 20px;
}
#sidebar .navbar .side_menu_item:hover {
  color: white;
  background-color: gray;
}
#sidebar .navbar .active {
  color: white;
}

.top_bar {
  width: calc(100% - 160px);
  height: 80px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 160px;
  border-bottom: 1px solid #e4e4e4;
  overflow-x: hidden;
  /*
  #hostname {
    max-width: 250px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  */
}
.top_bar #title {
  color: #a2a2a2;
  font-weight: bold;
  position: absolute;
  height: 100%;
  line-height: 80px;
  text-indent: 27.5px;
  font-size: 25px;
}
.top_bar #agent_status {
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  background-color: red;
  border: 1px solid #74b807;
  text-shadow: 0px 1px 0px #528009;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -150px;
  border-radius: 26px;
  color: #ffffff;
  padding: 6px 24px;
  text-decoration: none;
  text-align: center;
}
.top_bar #restart_status {
  color: #ff0000;
}
.top_bar #agent_info {
  position: absolute;
  right: 0px;
  margin-right: 100px;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  color: #a2a2a2;
}

#main {
  position: absolute;
  left: 160px;
  top: 80px;
  width: calc(100% - 160px);
  height: calc(100% - 80px);
}
#main .page {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid #e4e4e4;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  display: none;
}
#main #settings_input, #main #check_input, #main #new_config_input {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  font-size: 15px;
  padding: 1px;
}
#main #settings_input #submit_settings, #main #settings_input #save_check, #main #settings_input #disable_check, #main #settings_input #add_check, #main #check_input #submit_settings, #main #check_input #save_check, #main #check_input #disable_check, #main #check_input #add_check, #main #new_config_input #submit_settings, #main #new_config_input #save_check, #main #new_config_input #disable_check, #main #new_config_input #add_check {
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 3px;
  border: 1px solid #18ab29;
  color: #ffffff;
  text-shadow: 0px 1px 0px #2f6627;
  z-index: 5;
  position: absolute;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}
#main #settings_input .unsuccessful, #main #check_input .unsuccessful, #main #new_config_input .unsuccessful {
  z-index: 5;
  cursor: default;
  position: absolute;
  color: red;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
#main #settings_input .success, #main #check_input .success, #main #new_config_input .success {
  z-index: 5;
  cursor: default;
  position: absolute;
  color: green;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
#main #settings_input .msg, #main #check_input .msg, #main #new_config_input .msg {
  z-index: 5;
  cursor: default;
  position: absolute;
  width: 240px;
  text-align: right;
  top: calc(100% + 10px);
  right: 0px;
  color: black;
  font-size: 15px;
}
#main #settings_input #submit_settings, #main #check_input #submit_settings, #main #new_config_input #submit_settings {
  width: 32px;
  right: 15px;
  top: 15px;
}
#main #settings_input #save_check, #main #check_input #save_check, #main #new_config_input #save_check {
  right: 10px;
  top: 10px;
}
#main #settings_input #disable_check, #main #check_input #disable_check, #main #new_config_input #disable_check {
  right: 70px;
  top: 10px;
}
#main #settings_input #add_check, #main #check_input #add_check, #main #new_config_input #add_check {
  width: 80px;
  right: 10px;
  top: 10px;
}
#main #settings_input #submit_settings:hover, #main #settings_input #save_check:hover, #main #settings_input #disable_check:hover, #main #check_input #submit_settings:hover, #main #check_input #save_check:hover, #main #check_input #disable_check:hover, #main #new_config_input #submit_settings:hover, #main #new_config_input #save_check:hover, #main #new_config_input #disable_check:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
#main #settings_input #submit_settings:active, #main #settings_input #save_check:active, #main #settings_input #disable_check:active, #main #settings_input #add_check:active, #main #check_input #submit_settings:active, #main #check_input #save_check:active, #main #check_input #disable_check:active, #main #check_input #add_check:active, #main #new_config_input #submit_settings:active, #main #new_config_input #save_check:active, #main #new_config_input #disable_check:active, #main #new_config_input #add_check:active {
  margin-top: 1px;
}
#main #settings_input .inactive, #main #check_input .inactive, #main #new_config_input .inactive {
  pointer-events: none;
  box-shadow: inset 0px 1px 0px 0px white !important;
  background: linear-gradient(to bottom, grey 5%, white 100%) !important;
  background-color: grey !important;
  border-color: grey !important;
}
#main #general_status, #main #collector_status {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow-y: scroll;
}
#main #general_status .stat, #main #collector_status .stat {
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 140%;
}
#main #general_status .stat .stat_title, #main #collector_status .stat .stat_title {
  font-size: 19.5px;
  font-weight: bold;
  color: #6B419A;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}
#main #general_status .stat .stat_subtitle, #main #collector_status .stat .stat_subtitle {
  font-size: 16.5px;
  font-weight: bold;
  display: block;
  padding-top: 10px;
  padding-bottom: 3px;
}
#main #general_status .stat .stat_data, #main #collector_status .stat .stat_data {
  display: block;
  padding-left: 15px;
}
#main #general_status .stat .stat_subdata, #main #collector_status .stat .stat_subdata {
  display: block;
  padding-left: 20px;
  padding-bottom: 20px;
}
#main #general_status .stat .stat_subdata ul, #main #collector_status .stat .stat_subdata ul {
  display: block;
  margin: 0;
  padding: 0 0 0 20px;
}
#main #general_status .stat .error, #main #collector_status .stat .error {
  color: red;
  font-weight: bold;
}
#main #general_status .stat .warning, #main #collector_status .stat .warning {
  color: #FFA500;
  font-weight: bold;
}
#main #general_status .stat .ok, #main #collector_status .stat .ok {
  color: #18ab29;
  font-weight: bold;
}
#main #settings {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow-y: hidden;
  overflow-x: scroll;
}
#main #settings ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#main #settings ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#main #manage_checks {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
#main #manage_checks #checks_description {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e4e4e4;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
}
#main #manage_checks .interface {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
}
#main #manage_checks .interface .left {
  position: absolute;
  height: 100%;
  width: 215px;
  border-right: 1px solid #e4e4e4;
}
#main #manage_checks .interface .left .list {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: scroll;
}
#main #manage_checks .interface .left .list .check {
  font-size: 13.5px;
  padding: 5px;
  width: calc(100% - 10px);
  display: inline-block;
}
#main #manage_checks .interface .left .list .check:hover {
  background-color: #e4e4e4;
}
#main #manage_checks .interface .left .list .active_check {
  background-color: #e4e4e4;
}
#main #manage_checks .interface .right {
  position: absolute;
  height: 100%;
  width: calc(100% - 215px);
  left: 215px;
}
#main #manage_checks .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 15px;
  height: calc(100% - 130px);
  width: calc(100% - 330px);
  min-width: 700px;
  z-index: 5;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
#main #manage_checks .popup .exit {
  z-index: 6;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: 15px;
}
#main #manage_checks .popup #check_run_results {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
#main #manage_checks .popup #check_run_results .stat_title {
  display: block;
  font-size: 18.75px;
  font-weight: bold;
}
#main #manage_checks .popup #check_run_results .stat_subtitle {
  display: block;
  font-size: 16.5px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
}
#main #manage_checks .popup #check_run_results .stat_data {
  display: block;
  padding-left: 20px;
}
#main #manage_checks .popup #check_run_results .error {
  color: red;
  font-weight: bold;
}
#main #manage_checks .popup #check_run_results .warning {
  color: #FFA500;
  font-weight: bold;
}
#main #manage_checks .popup #check_run_results .green {
  color: green;
}
#main #manage_checks .popup #check_run_results .red {
  color: red;
}
#main #manage_checks .popup #check_run_results #summary {
  display: block;
  padding-bottom: 10px;
  font-size: 16.5px;
}
#main #running_checks {
  padding: 20px;
  max-height: calc(100% - 80px);
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #running_checks #running_checks_table th {
  padding: 5px;
}
#main #running_checks #running_checks_table td {
  border-top: 1px solid #e4e4e4;
  padding: 5px;
}
#main #running_checks #running_checks_table .l_space {
  padding-left: 30px;
}
#main #running_checks #running_checks_table .success {
  color: green;
}
#main #running_checks #running_checks_table .error {
  color: red;
}
#main #running_checks #running_checks_table .warning {
  color: #FFA500;
}
#main #running_checks #running_checks_info {
  display: block;
  padding-top: 15px;
  text-align: center;
}
#main #flare {
  width: 500px;
  height: 320px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #flare #flare_description {
  padding: 10px;
  width: calc(100% - 20px);
  text-align: center;
  font-size: 18px;
}
#main #flare .flare_input {
  width: 400px;
  padding: 30px;
  margin-top: -20px;
}
#main #flare .flare_input #email:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#main #flare .flare_input #ticket_num, #main #flare .flare_input #email {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  margin-bottom: 10px;
  font-size: 15px;
  height: 45px;
}
#main #flare .flare_input #submit_flare {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 18px;
  outline: none;
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border-radius: 3px;
  border: 1px solid #27A0A0;
  color: #FFFFFF;
}
#main #flare .flare_input #submit_flare:hover {
  background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color: #34CACA;
}
#main #flare .flare_input #submit_flare:active {
  bottom: -21px;
}
#main #logs {
  width: calc(100% - 70px);
  height: calc(100% - 60px);
  padding: 15px;
  padding-top: 5px;
  overflow: scroll;
}
#main #logs .log_title {
  display: inline-block;
  font-weight: bold;
}
#main #logs .log_data {
  max-width: calc(100% - 30px);
  position: absolute;
  top: 60px;
  line-height: 120%;
  font-size: 13.5px;
}
#main #logs .load_more {
  display: block;
  height: 20px;
  width: 80px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  border-radius: 6px;
  background-color: #b4b4b4;
}
#main #logs .load_more:active {
  background-color: #a2a2a2;
}

/*# sourceMappingURL=stylesheet.css.map */
