.serverless
recorder-extension/extensions
recorder-extension/ext.zip
src/csharp-tests/bin
src/csharp-tests/obj
src/java-tests/with-ddlambda/target
src/java-tests/trace/target
src/java-tests/log/target
src/java-tests/timeout/target
src/java-tests/error/target
