{{- with .apmStats }}
{{- if .error }}

  Status: Not running or unreachable on localhost:{{.port}}.
  Error: {{.error}}
{{- else}}
  Status: Running
  Pid: {{.pid}}
  Uptime: {{.uptime}} seconds
  Mem alloc: {{humanize .memstats.Alloc}} bytes
  Hostname: {{.config.Hostname}}
  Receiver: {{.config.ReceiverHost}}:{{.config.ReceiverPort}}
  Endpoints:
    {{- range $i, $e := .config.Endpoints}}
    {{ $e.Host }}
    {{- end }}

  Receiver (previous minute)
  ==========================
    {{- if eq (len .receiver) 0}}
    No traces received in the previous minute.
    {{- end -}}
    {{range $i, $ts := .receiver }}
    From {{if $ts.Lang}}{{ $ts.Lang }} {{ $ts.LangVersion }} ({{ $ts.Interpreter }}), client {{ $ts.TracerVersion }}{{else}}unknown clients{{end}}
      Traces received: {{ $ts.TracesReceived }} ({{ humanize $ts.TracesBytes }} bytes)
      Spans received: {{ $ts.SpansReceived }}
      {{ with $ts.WarnString }}
      WARNING: {{ . }}
      {{end}}
    {{- end}}
    {{range $key, $value := .ratebyservice_filtered -}}
    {{- if eq $key "service:,env:" -}}
    Default priority sampling rate: {{percent $value}}%
    {{- else}}
    Priority sampling rate for '{{ $key }}': {{percent $value}}%
    {{- end}}
    {{- end }}

  Writer (previous minute)
  ========================
    Traces: {{.trace_writer.Payloads}} payloads, {{.trace_writer.Traces}} traces, {{.trace_writer.Events}} events, {{humanize .trace_writer.Bytes}} bytes
    {{- if gt .trace_writer.Errors 0.0}}WARNING: Traces API errors (1 min): {{.trace_writer.Errors}}{{end}}
    Stats: {{.stats_writer.Payloads}} payloads, {{.stats_writer.StatsBuckets}} stats buckets, {{humanize .stats_writer.Bytes}} bytes
    {{- if gt .stats_writer.Errors 0.0}}WARNING: Stats API errors (1 min): {{.stats_writer.Errors}}{{end}}
{{- end}}
{{- end}}
