{{- with .apmStats }}
{{- if .error }}

  Status: Not running or unreachable
  Error: {{.error}}
{{- else}}
  Status: Running
  Pid: {{.pid}}
  Uptime: {{.uptime}} seconds
  Mem alloc: {{humanize .memstats.Alloc}} bytes
  Hostname: {{.config.Hostname}}
  Receiver: {{.config.ReceiverHost}}:{{.config.ReceiverPort}}
  Endpoints:
    {{- range $i, $e := .config.Endpoints}}
    {{ $e.Host }}
    {{- end }}

  Receiver (previous minute)
  ==========================
    {{- if eq (len .receiver) 0}}
    No traces received in the previous minute.
    {{- end -}}
    {{range $i, $ts := .receiver }}
    From {{if $ts.Lang}}{{ $ts.Lang }} {{ $ts.LangVersion }} ({{ $ts.Interpreter }}), client {{ $ts.TracerVersion }}{{else}}unknown clients{{end}}
      Traces received: {{ $ts.TracesReceived }} ({{ humanize $ts.TracesBytes }} bytes)
      Spans received: {{ $ts.SpansReceived }}
      {{ with $ts.WarnString }}
      WARNING: {{ . }}
      {{end}}
    {{- end}}
    {{ if .config.ProbabilisticSamplerEnabled }}
    Probabilistic sampling percentage: {{.config.ProbabilisticSamplerSamplingPercentage}}%
    Probabilistic sampler hash seed: {{.config.ProbabilisticSamplerHashSeed}}
    {{- else }}
    {{range $key, $value := .ratebyservice_filtered -}}
    {{- if eq $key "service:,env:" -}}
    Default priority sampling rate: {{percent $value}}%
    {{- else}}
    Priority sampling rate for '{{ $key }}': {{percent $value}}%
    {{- end}}
    {{- end}}
    {{- end }}

  Writer (previous minute)
  ========================
    {{- with .trace_writer}}
    Traces: {{.Payloads}} payloads, {{.Traces}} traces, {{.Events}} events, {{humanize .Bytes}} bytes
    {{- if gt .Errors 0.0}}
    WARNING: Traces API errors (1 min): {{.Errors}}
    {{- end}}
    {{- end}}
    {{- with .stats_writer}}
    Stats: {{.Payloads}} payloads, {{.StatsBuckets}} stats buckets, {{humanize .Bytes}} bytes
    {{- if gt .Errors 0.0}}
    WARNING: Stats API errors (1 min): {{.Errors}}
    {{- end}}
    {{- end}}
{{- end}}
{{- end}}
