[Unit]
Description=Datadog Trace Agent Experiment
BindsTo=datadog-agent-exp.service

[Service]
Type=simple
PIDFile=/opt/datadog-packages/datadog-agent/experiment/run/trace-agent.pid
User=dd-agent
Restart=on-failure
EnvironmentFile=-/etc/datadog-agent/environment
ExecStart=/opt/datadog-packages/datadog-agent/experiment/embedded/bin/trace-agent --config /etc/datadog-agent/datadog.yaml --pidfile /opt/datadog-packages/datadog-agent/experiment/run/trace-agent.pid
# Since systemd 229, should be in [Unit] but in order to support systemd <229,
# it is also supported to have it here.
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
