<div class="stat">
  <span class="stat_title">Checking executable permissions</span>
  <span class="stat_data">
    Executable path: {{ .executable }}<br/>
    Executable permissions: {{ .executablePermissions }}<br/><br/>
    Permissions Detail:<br/>
    {{- if .executablePermissionsDetails }}
      {{- template "permissionsHTML_details" .executablePermissionsDetails }}
    {{- else }}
      {{- .executablePermissionsError }}<br/>
    {{- end }}
  </span>
</div>

<div class="stat">
  <span class="stat_title">Secrets stats</span>
  <span class="stat_data">
    Number of secrets resolved: {{ len .handles }}<br/>
    Secrets handle resolved:<br/>
    {{- range $handle, $places := .handles }}
      - '{{ $handle }}':<br/>
      {{- range $place := $places }}
        &nbsp;&nbsp;used in '{{ index $place 0 }}' configuration in entry '{{ index $place 1 }}'<br/>
      {{- end }}
    {{- end }}
  </span>
</div>
