{{- if not .enabled }}
Agent secrets is disabled by caller
{{- else if not .backendCommandSet }}
No secret_backend_command set: secrets feature is not enabled
{{- else }}

=== Checking executable permissions ===
Executable path: {{ .executable }}
{{- if .executableVersion }}
Executable version: {{ .executableVersion }}
{{- end }}
Executable permissions: {{ .executablePermissions }}

Permissions Detail:
{{ if .executablePermissionsDetails -}}
	{{ if index .executablePermissionsDetails "IsWindows" }}
		{{- if index .executablePermissionsDetails "Error" }}{{ index .executablePermissionsDetails "Error" }}{{ end }}
		stdout:
		{{ index .executablePermissionsDetails "StdOut" }}
		stderr:
		{{ index .executablePermissionsDetails "StdErr" }}
	{{- else -}}
		File mode: {{ index .executablePermissionsDetails "FileMode" }}
		Owner: {{ index .executablePermissionsDetails "Owner" }}
		Group: {{ index .executablePermissionsDetails "Group" }}
	{{- end }}
{{- else }}
	{{- .executablePermissionsDetailsError }}
{{- end }}

=== Secrets stats ===
Number of secrets resolved: {{ len .handles }}
Secrets handle resolved:
{{ range $handle, $places := .handles }}
- '{{ $handle }}':
  {{- range $place := $places }}
  used in '{{ index $place 0 }}' configuration in entry '{{ index $place 1 }}'
  {{- end }}
{{ end }}
{{ if .refreshIntervalEnabled }}
	'secret_refresh_interval' is enabled: the first refresh will happen {{ .scatterDuration }} after startup and then every {{ .refreshInterval }}
{{ else }}
	'secret_refresh_interval' is disabled
{{- end }}

{{- end }}
