=== Checking executable permissions ===
Executable path: {{ .executable }}
Executable permissions: {{ .executablePermissions }}

Permissions Detail:
{{ if .executablePermissionsDetails -}}
	{{template "permissions_details" .executablePermissionsDetails }}
{{- else }}
	{{- .executablePermissionsError }}
{{- end }}

=== Secrets stats ===
Number of secrets resolved: {{ len .handles }}
Secrets handle resolved:
{{ range $handle, $places := .handles }}
- '{{ $handle }}':
	{{- range $place := $places }}
	used in '{{index $place 0 }}' configuration in entry '{{index $place 1 }}'
	{{- end}}
{{- end }}
