{{ define "permissionsHTML_details" }}
<div class="permissions_detail">
  {{- if .Error }}
    <span class="permissions_error">{{ .Error }}</span><br/>
  {{- end }}
  <span class="permissions_line">stdout:</span><br/>
  <pre class="permissions_stdout">{{ .Stdout }}</pre><br/>
  <span class="permissions_line">stderr:</span><br/>
  <pre class="permissions_stderr">{{ .Stderr }}</pre>
</div>
{{ end }}
