<div class="stat">
  <span class="stat_title">Secret</span>
  {{- if not .enabled }}
  <div class="stat">
    <span class="stat_title">Agent secrets is disabled by caller</span>
  </div>
  {{- else if not .backendCommandSet }}
  <div class="stat">
    <span class="stat_title">No secret_backend_command set: secrets feature is not enabled</span>
  </div>
  {{- else }}

  <div class="stat">
    <span class="stat_title">Checking executable permissions</span>
    <span class="stat_data">
      {{ if .backendType }}
      Secret backend type: {{ .backendType }}<br/>
      Using embedded executable: {{ .executable }}<br/>
      {{- if .executableVersion }}
      Executable version: {{ .executableVersion }}<br/>
      {{- end }}
      {{ else }}
      Executable path: {{ .executable }}<br/>
      Executable permissions: {{ .executablePermissions }}<br/><br/>
      {{ end }}
      Permissions Detail:<br/>
      {{- if .executablePermissionsDetails }}
        {{ if index .executablePermissionsDetails "IsWindows" }}
          <div class="permissions_detail">
            {{- if index .executablePermissionsDetails "Error" }}
              <span class="permissions_error">{{ index .executablePermissionsDetails "Error" }}</span><br/>
            {{- end }}
            <span class="permissions_line">stdout:</span><br/>
            <pre class="permissions_stdout">{{ index .executablePermissionsDetails "StdOut" }}</pre><br/>
            <span class="permissions_line">stderr:</span><br/>
            <pre class="permissions_stderr">{{ index .executablePermissionsDetails "StdErr" }}</pre>
          </div>
        {{- else -}}
          <div class="permissions_detail">
            <span class="permissions_line">File mode: {{ index .executablePermissionsDetails "FileMode" }}</span><br/>
            <span class="permissions_line">Owner: {{ index .executablePermissionsDetails "Owner" }}</span><br/>
            <span class="permissions_line">Group: {{ index .executablePermissionsDetails "Group" }}</span><br/>
          </div>
        {{- end }}
      {{- else }}
        {{- .executablePermissionsDetailsError }}<br/>
      {{- end }}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Secrets stats</span>
    <span class="stat_data">
      Number of secrets resolved: {{ len .handles }}<br/>

      Secrets handle resolved:<br/>
      {{- range $handle, $places := .handles }}
      - '{{ $handle }}':<br/>
        {{- range $place := $places }}
        &nbsp;&nbsp;- used in '{{ index $place 0 }}' configuration in entry '{{ index $place 1 }}'<br/>
        {{- end }}
      {{- end }}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Secrets refresh</span>
    <span class="stat_data">
      {{ if .refreshIntervalEnabled }}
        'secret_refresh_interval' is enabled: the first refresh will happen {{ .scatterDuration }} after startup and then every {{ .refreshInterval }}<br/>
      {{ else }}
        'secret_refresh_interval' is disabled<br/>
      {{ end }}
    </span>
  </div>

  {{- if .unresolvedSecrets }}
  <div class="stat">
    <span class="stat_title">Secrets not resolved</span>
    <span class="stat_data">
      Secrets from integration not resolved:<br/>
      {{- range $handle, $_ := .unresolvedSecrets }}
      - {{ $handle }}<br/>
      {{- end -}}
    </span>
  </div>
  {{- end -}}

  {{- end }}
</div>
