{{ define "permissionsHTML_details" }}
<div class="permissions_detail">
  <span class="permissions_line">File mode: {{ .FileMode }}</span><br/>
  <span class="permissions_line">Owner: {{ .Owner }}</span><br/>
  <span class="permissions_line">Group: {{ .Group }}</span><br/>
</div>
{{ end }}
