<div class="stat">
  <span class="stat_title">Secret stats</span>
  <span class="stat_data">
    Number of secrets reloaded: {{ len .Handles }}<br/>
    Secrets handle reloaded:<br/>
    {{- range $handleInfo := .Handles }}
      - '{{ $handleInfo.Name }}':<br/>
      {{- range $place := $handleInfo.Places }}
        &nbsp;&nbsp;used in '{{ $place.Context }}' configuration in entry '{{ $place.Path }}'<br/>
      {{- end }}
    {{- end }}
  </span>
</div>
