{{ if not .agentStatusMap }}
No remote agents registered
{{ else }}
{{- with .agentStatusMap }}
  {{- range $id, $statusDetail := . }}
    {{- with $statusDetail }}
    {{ .DisplayName }}
    {{ printDashes .DisplayName "=" }}

    {{ if .FailureReason }}
    {{ .FailureReason }}
    {{- else if .MainSection }}
    {{- range $key, $value := .MainSection }}
    {{ $key }}: {{ $value }}
    {{- end }}
    {{- end }}
    {{ if .NamedSections }}
    {{- range $sectionName, $section := .NamedSections }}
      {{ $sectionName }}
      {{ printDashes $sectionName "-" }}

    {{- range $key, $value := $section }}
      {{ $key }}: {{ $value }}
    {{- end }}
    {{ end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
