{{ if not .agentStatusMap }}
No remote agents registered
{{ else }}
{{- with .agentStatusMap }}
  {{- range $agentId, $statusDetail := . }}
    {{ $agentId }}
    {{ printDashes $agentId "=" }}

    {{ if not $statusDetail }}
    Timed out waiting for response.
    {{ else }}
    {{- with $statusDetail }}
    {{- if .MainSection }}
    {{- range $key, $value := .MainSection }}
    {{ $key }}: {{ $value }}
    {{- end }}
    {{- end }}
    {{ if .NamedSections }}
    {{- range $sectionName, $section := .NamedSections }}
      {{ $sectionName }}
      {{ printDashes $sectionName "-" }}

    {{- range $key, $value := $section }}
      {{ $key }}: {{ $value }}
    {{- end }}
    {{ end }}
    {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
