datadog:
  processAgent:
    processCollection: {{.ProcessCollection}}
    processDiscovery: {{.ProcessDiscoveryCollection}}
    containerCollection: {{.ContainerCollection}}
    runInCoreAgent: false
  networkMonitoring:
    enabled: {{.NetworkPerformanceMonitoring}}

agents: 
  containers:
    agent:
      env:
        - name: DD_PROCESS_CONFIG_RUN_IN_CORE_AGENT_ENABLED
          value: {{.RunInCoreAgent}}
    processAgent:
      env:
        - name: DD_PROCESS_CONFIG_RUN_IN_CORE_AGENT_ENABLED
          value: {{.RunInCoreAgent}}
