datadog:
  processAgent:
    processCollection: {{.ProcessCollection}}
    processDiscovery: {{.ProcessDiscoveryCollection}}
    containerCollection: {{.ContainerCollection}}
    runInCoreAgent: false
  networkMonitoring:
    enabled: {{.NetworkPerformanceMonitoring}}
  envDict:
    DD_CEL_WORKLOAD_EXCLUDE: |-
      [{"products":["metrics"],"rules":{"containers":["container.name.matches('nginx')"]}}]

agents:
  containers:
    agent:
      env:
        - name: DD_PROCESS_CONFIG_RUN_IN_CORE_AGENT_ENABLED
          value: "{{.RunInCoreAgent}}"
    processAgent:
      env:
        - name: DD_PROCESS_CONFIG_RUN_IN_CORE_AGENT_ENABLED
          value: "{{.RunInCoreAgent}}"
