[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "warn"
ignore = [
  { id = "RUSTSEC-2024-0436", reason = "paste is a stable crate and we do not consider it being unmaintained as a security risk" },
]

[bans]
multiple-versions = "allow"  # Allow multiple versions of same crate

[licenses]
version = 2
# Match Datadog's allowed licenses (from Saluki)
allow = [
  "0BSD",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "MIT",
  "MPL-2.0",
  "Unicode-3.0",
  "Zlib",
]
