<div class="stat">
  <span class="stat_title">Software Inventory Metadata</span>
  <div class="stat_data inventory-scrollbox" style="max-height: 400px; overflow-y: auto;">
    {{- $swMap := index . "software_inventory_metadata" }}
    {{- if not $swMap }}
      <div style="font-weight: bold; padding: 1em;">No software inventory metadata - is System Probe running?</div>
    {{- else }}
      {{- range $productCode, $meta := $swMap }}
        <details>
          <summary>
            {{- if $meta.DisplayName }}
              {{ $meta.DisplayName }}
            {{- else }}
              {{ $productCode }}
            {{- end }}
            {{- if $meta.Version }} ({{ $meta.Version }}){{- end }}
          </summary>
          {{- if $meta }}
            <ul style="margin:1em 0; padding-left:2em;">
              {{- if $meta.DisplayName }}<li><strong>Display Name:</strong> {{ $meta.DisplayName }}</li>{{- end }}
              {{- if $meta.Version }}<li><strong>Version:</strong> {{ $meta.Version }}</li>{{- end }}
              {{- if $meta.InstallDate }}<li><strong>Install Date:</strong> {{ $meta.InstallDate }}</li>{{- end }}
              {{- if $meta.Source }}<li><strong>Source:</strong> {{ $meta.Source }}</li>{{- end }}
              {{- if $meta.UserSID }}<li><strong>User SID:</strong> {{ $meta.UserSID }}</li>{{- end }}
              {{- if $meta.Is64Bit }}<li><strong>64-bit:</strong> {{ $meta.Is64Bit }}</li>{{- end }}
              {{- if $meta.Properties }}
                <li>
                  <strong>Additional Properties:</strong>
                  <ul style="margin:0.5em 0; padding-left:2em;">
                    {{- range $key, $value := $meta.Properties }}
                      <li><strong>{{ $key }}:</strong> {{ $value }}</li>
                    {{- end }}
                  </ul>
                </li>
              {{- end }}
            </ul>
          {{- else }}
            <p style="margin:1em 0; padding-left:2em;"><em>No metadata</em></p>
          {{- end }}
        </details>
      {{- end }}
    {{- end }}
  </div>
</div>