=== Secret reload stats ===
Number of secrets reloaded: {{ len .Handles }}
Secrets handle reloaded:
{{ range $handleInfo := .Handles }}
- '{{ $handleInfo.Name }}':
	{{- range $place := $handleInfo.Places }}
	used in '{{$place.Context }}' configuration in entry '{{$place.Path }}'
	{{- end}}
{{- end }}
