=== Secret refresh stats ===
Number of secrets refreshed: {{ len .Handles }}
Secrets handle refreshed:
{{ range $handleInfo := .Handles }}
- '{{ $handleInfo.Name }}':
	{{- range $place := $handleInfo.Places }}
	used in '{{$place.Context }}' configuration in entry '{{$place.Path }}'
	{{- end}}
{{- end }}
