{{- range $name, $value := .metadata.meta -}}
  {{- if and (ne $name "timezones") ($value) }}
  {{$name}}: {{$value}}
  {{- end }}
{{- end }}
  hostname provider: {{.hostnameStats.provider}}
{{- if gt (len .hostnameStats.errors) 0 }}
  unused hostname providers:
{{- end }}
{{- range $name, $value := .hostnameStats.errors -}}
    {{- if ne $name "all" }}
    {{$name}}: {{$value}}
    {{- end}}
{{- end }}
{{- if .hostnameStats.errors.all }}
  error: {{.hostnameStats.errors.all}}
{{- end }}
