
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script>
  // Read from ? to the end of the URL
  var urlParam = location.search.substring(1);
  urlParam = urlParam.split(";");

  // Decode the url parameters
  var token = urlParam[0].substring(10);   // trim "authToken="
  var csrf = urlParam[1].substring(5);     // trim "csrf="
  
  if (csrf == "{{ .csrf }}") {
    // Save auth token as a cookie
    document.cookie = "authToken=" + token + "; path=/";
  }

  // Redirect to the GUI
  window.location.href = '/';
</script>
