<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script>
  // Extract authToken and csrf from a given URL query.
  let urlParam = location.search.substring(1).split("?");
  const authTokenPrefix = "authToken=";
  const csrfPrefix = "csrf=";
  let authToken = "";
  let csrf = "";
  for (let i = 0; i < urlParam.length; i++) {
    if (urlParam[i].includes(authTokenPrefix)) {
      authToken = urlParam[i].substring(authTokenPrefix.length);
    }
    if (urlParam[i].includes("csrf=")) {
      csrf = urlParam[i].substring(csrfPrefix.length);
    }
  }
  
  if (csrf == "{{ .csrf }}") {
    // Save auth token as a cookie
    document.cookie = "authToken=" + authToken + "; path=/";
  }

  // Redirect to the GUI
  window.location.href = '/';
</script>
