{{- with .Stats -}}
  <div class="stat">
    <span class="stat_title">Running Checks</span>
    <span class="stat_data">
      {{- with .runnerStats -}}
        {{- if and (not .Runs) (not .Checks)}}
          No checks have run yet
        {{end -}}

        {{- range .Checks}}
          <span class="stat_subtitle">{{.CheckName}}{{ if .CheckVersion }} ({{.CheckVersion}}){{ end }}</span>
          <span class="stat_subdata">
              Total Runs: {{.TotalRuns}}<br>
              Metric Samples: {{.MetricSamples}}, Total: {{humanizeF .TotalMetricSamples}}<br>
              Events: {{.Events}}, Total: {{humanizeF .TotalEvents}}<br>
              Service Checks: {{.ServiceChecks}}, Total: {{humanizeF .TotalServiceChecks}}<br>
              Average Execution Time : {{.AverageExecutionTime}}ms<br>
            {{- if .LastError}}
              <span class="error">Error</span>: {{lastErrorMessage .LastError}}<br>
                    {{lastErrorTraceback .LastError -}}
            {{- end -}}
            {{- if .LastWarnings}}
              {{- range .LastWarnings }}
                <span class="warning">Warning</span>: {{.}}<br>
              {{- end -}}
            {{- end -}}
          </span>
        {{- end -}}
      {{- end -}}
      <span/>
  </div>

  {{- with .autoConfigStats -}}
    {{- if .ConfigErrors}}
      <div class="stat">
        <span class="stat_title">Config Errors</span>
        <span class="stat_data">
          {{- range $checkname, $error := .ConfigErrors}}
            <span class="stat_subtitle">{{$checkname}}</span>
            <span class="stat_subdata">
              {{ $error -}}
            </span>
          {{end -}}
        </span>
      </div>
    {{- end}}
    {{- if .LoaderErrors}}
      <div class="stat">
        <span class="stat_title">Loading Errors</span>
        <span class="stat_data">
          {{- range $checkname, $errors := .LoaderErrors}}
            <span class="stat_subtitle">{{$checkname}}</span>
            <span class="stat_subdata">
              {{- range $kind, $err := $errors -}}
                {{- if eq $kind "Python Check Loader"}}
                  {{$kind}}: {{ pythonLoaderError $err -}}<br>
                {{- else}}
                  {{$kind}}: {{ $err -}}<br>
                {{end -}}
              {{end -}}
            </span>
          {{end -}}
        </span>
      </div>
    {{- end}}
  {{end -}}
{{- end -}}
