{{- with .Stats -}}
  {{ with .pythonInit }}
    {{- if .Errors }}
    <div class="stat">
      <span class="stat_title">Error initializing Python</span>
      <span class="stat_data">
      {{ range $err := .Errors -}}
        <span class="stat_subdata">
          {{ $err -}}
        </span>
      {{ end }}
      </span>
    {{- end -}}
    </div>
  {{- end }}

  <div class="stat">
    <span class="stat_title">Running Checks</span>
    <span class="stat_data">
      {{- with .runnerStats -}}
        {{- if and (not .Runs) (not .Checks)}}
          No checks have run yet
        {{end -}}
        {{- range $CheckName, $CheckInstances := .Checks}}
          {{ $version := version $CheckInstances}}
          <span class="stat_subtitle">{{$CheckName}}{{ if $version }} ({{$version}}){{ end }}</span>
          {{- range $CheckInstances }}
            <span class="stat_subdata">
                Instance ID: {{.CheckID}} {{status .}}<br>
                Total Runs: {{humanize .TotalRuns}}<br>
                Metric Samples: {{humanize .MetricSamples}}, Total: {{humanize .TotalMetricSamples}}<br>
                Events: {{humanize .Events}}, Total: {{humanize .TotalEvents}}<br>
                Service Checks: {{humanize .ServiceChecks}}, Total: {{humanize .TotalServiceChecks}}<br>
                Average Execution Time : {{humanizeDuration .AverageExecutionTime "ms"}}<br>
                Last Execution Date : {{formatUnixTime .UpdateTimestamp false 1}}<br>
                Last Successful Execution Date : {{ if .LastSuccessDate }}{{formatUnixTime .LastSuccessDate false 1}}{{ else }}Never{{ end }}<br>
                {{- if index $.Stats.inventories .CheckID }}
                Metadata:<br>
                <span class="stat_subdata">
                  {{- range $k, $v := index $.Stats.inventories .CheckID }}
                    {{ $k }}: {{ $v }}<br>
                  {{- end }}
                </span>
                {{- end }}
              {{- if .LastError}}
                <span class="error">Error</span>: {{lastErrorMessage .LastError}}<br>
                      {{lastErrorTraceback .LastError -}}
              {{- end -}}
              {{- if .LastWarnings}}
                {{- range .LastWarnings }}
                  <span class="warning">Warning</span>: {{.}}<br>
                {{- end -}}
              {{- end -}}
            </span>
          {{ end }}
        {{- end -}}
      {{- end -}}
      <span/>
  </div>

  {{- with .pyLoaderStats }}
    {{- if .Py3Warnings }}
    <div class="stat">
      <span class="stat_title">Python 3 Linter Warnings</span>
      <span class="stat_data">
      {{ range $checkname, $warnings :=  .Py3Warnings }}
          <span class="stat_subtitle">{{$checkname}}</span>
          <span class="stat_subdata">
            {{- range $idx, $warning := $warnings}}
              {{pythonLoaderError $warning}}<br>
            {{- end }}
          </span>
      {{- end}}
      </span>
    </div>
    {{- end }}
    {{- if .ConfigureErrors }}
    <div class="stat">
      <span class="stat_title">Check Initialization Errors</span>
      <span class="stat_data">
      {{ range $checkname, $errors :=  .ConfigureErrors }}
          <span class="stat_subtitle">{{$checkname}}</span>
          <span class="stat_subdata">
            {{- range $idx, $err := $errors}}
              <span class="stat_subtitle">Instance {{$idx}}</span>
              <span class="stat_subdata">
                {{ pythonLoaderError $err }}
              </span>
            {{- end }}
          </span>
      {{- end}}
      </span>
    </div>
    {{- end }}
  {{- end }}

  {{- with .autoConfigStats -}}
    {{- if .ConfigErrors}}
      <div class="stat">
        <span class="stat_title">Config Errors</span>
        <span class="stat_data">
          {{- range $checkname, $error := .ConfigErrors}}
            <span class="stat_subtitle">{{$checkname}}</span>
            <span class="stat_subdata">
              {{ $error -}}
            </span>
          {{end -}}
        </span>
      </div>
    {{- end}}
  {{- end}}
  {{- with .checkSchedulerStats }}
    {{- if .LoaderErrors}}
      <div class="stat">
        <span class="stat_title">Loading Errors</span>
        <span class="stat_data">
          {{- range $checkname, $errors := .LoaderErrors}}
            <span class="stat_subtitle">{{$checkname}}</span>
            <span class="stat_subdata">
              {{- range $kind, $err := $errors -}}
                {{- if eq $kind "Python Check Loader"}}
                  <b>{{$kind}}</b>: {{ pythonLoaderError $err -}}<br>
                {{- else}}
                  <b>{{$kind}}</b>: {{ $err -}}<br>
                {{end -}}
              {{end -}}
            </span>
          {{end -}}
        </span>
      </div>
    {{- end}}
  {{end -}}
{{- end -}}
