{{- with .Stats -}}
  <div class="stat">
    <span class="stat_title">Agent Info</span>
    <span class="stat_data">
      Version: {{.version}}
      <br>PID: {{.pid}}
      {{- if .runnerStats.Workers}}
        <br>Check Workers: {{.runnerStats.Workers}}
      {{end}}
      <br>Log File: {{.config.log_file}}
      <br>Log Level: {{.config.log_level}}
      <br>Config File: {{if .conf_file}}{{.conf_file}}
                       {{else}}There is no config file
                       {{end}}
      <br>Conf.d Path: {{.config.confd_path}}
      <br>Checks.d Path: {{.config.additional_checksd}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">System Info</span>
    <span class="stat_data">
      System UTC Time: {{.time}}
      {{- if .ntpOffset}}
        <br>NTP Offset: {{ humanizeDuration .ntpOffset "s"}}
      {{end}}
      <br>Go Version: {{.platform.goV}}
      <br>Python Version: {{.python_version}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Host Info</span>
    <span class="stat_data">
      {{- range $type, $value := .hostinfo -}}
        {{- if ne $type "hostname" -}}
          {{- if ne $type "hostid" -}}
            {{if $value}}
              {{formatTitle $type}}: {{if eq $type "bootTime" -}}{{- formatUnixTime $value -}}
                              {{- else -}}{{- if eq $type "uptime" -}}{{- humanizeDuration $value "s" -}}
                              {{- else -}}{{- $value -}}
                              {{- end -}}{{- end -}}<br>
            {{end -}}
          {{end -}}
        {{end -}}
      {{- end}}
      <span class="stat_subtitle">Hostnames</span>
      <span class="stat_subdata">
        {{- range $type, $value := .metadata.meta -}}
          {{- if ne $type "timezones" -}}
            {{- if $value}}
              {{formatTitle $type}}: {{$value -}}<br>
            {{end -}}
          {{- end -}}
        {{- end}}
        Hostname Provider: {{.hostnameStats.provider}}<br>
        {{- if .hostnameStats.error }}
          <span class="error">Error</span>: {{.hostnameStats.error}}<br>
        {{- end }}
        {{- range $name, $value := .hostnameStats.errors -}}
          {{- if ne $name "all" }}
          <span class="error">Error</span>: {{$name}}: {{$value}}<br>
          {{- else }}
          <span class="error">Error</span>: {{$value}}<br>
          {{- end}}
        {{- end }}
      </span>
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">JMX Status</span>
    <span class="stat_data">
      {{- with .JMXStatus -}}
        {{- if and (not .timestamp) (not .checks)}}
          No JMX status available
        {{- else }}
          <span class="stat_subtitle">Initialized Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.initialized_checks)}}
              No initialized checks
            {{ else }}
              {{- range $check,$instances := .checks.initialized_checks }}
                {{ $check -}}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                      {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end }}
            {{- end -}}
          </span>
          <span class="stat_subtitle">Failed Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.failed_checks)}}
              No failed checks
            {{ else }}
              {{- range $check,$instances := .checks.failed_checks }}
                {{ $check }}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                    {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </span>
        {{- end -}}
      {{- end -}}
    </span>

  </div>
  <div class="stat">
    <span class="stat_title">Forwarder</span>
    <span class="stat_data">
      {{- with .forwarderStats -}}
        {{- if .TransactionsCreated -}}
          {{- range $key, $value := .TransactionsCreated}}
            {{formatTitle $key}}: {{humanize $value}}<br>
          {{- end -}}
        {{- end}}
        {{- if .APIKeyStatus}}
          <span class="stat_subtitle">API Keys Status</span>
          <span class="stat_subdata">
            {{- range $key, $value := .APIKeyStatus}}
              {{$key}}: {{$value}}<br>
            {{- end -}}
          </span>
        {{- end}}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Logs Agent</span>
    <span class="stat_data">
    {{- with .logsStats -}}
      {{ if (not .is_running) }}
        Logs Agent is not running </br>
      {{ else }}
      {{- range .integrations -}}
        <span class="stat_subtitle">{{- .name }}</span>
        <span class="stat_subdata">
          {{- range .sources }}
            Type: {{ .type }}</br>
            {{- range $key, $value := .configuration }}
            {{$key}}: {{$value}}</br>
            {{- end }}
            {{- if .status }}
            Status: {{ .status }}</br>
            {{- end }}
            {{- if .inputs }}
            Inputs: {{ range $input := .inputs }}{{$input}} {{ end }}
            {{- end }}
          {{- end }}
        </span>
        {{ end }}
      {{- end }}
    {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">DogStatsD</span>
    <span class="stat_data">
      {{- with .aggregatorStats -}}
        {{- if .ChecksMetricSample}}
          Checks Metric Sample: {{humanize .ChecksMetricSample}}<br>
        {{- end -}}
        {{- if .Event}}
          Event: {{humanize .Event}}<br>
        {{- end -}}
        {{- if .EventsFlushed}}
          Events Flushed: {{humanize .EventsFlushed}}<br>
        {{- end -}}
        {{- if .NumberOfFlush}}
          Number Of Flushes: {{humanize .NumberOfFlush}}<br>
        {{- end -}}
        {{- if .SeriesFlushed}}
          Series Flushed: {{humanize .SeriesFlushed}}<br>
        {{- end -}}
        {{- if .ServiceCheck}}
          Service Check: {{humanize .ServiceCheck}}<br>
        {{- end -}}
        {{- if .ServiceCheckFlushed}}
          Service Checks Flushed: {{humanize .ServiceCheckFlushed}}<br>
        {{- end -}}
        {{- if .SketchesFlushed}}
          Sketches Flushed: {{humanize .SketchesFlushed}}<br>
        {{- end -}}
        {{- if .HostnameUpdate}}
          Hostname Update: {{humanize .HostnameUpdate}}<br>
        {{- end -}}
        {{- if .DogstatsdMetricSample}}
          Dogstatsd Metric Sample: {{humanize .DogstatsdMetricSample}}<br>
        {{- end}}
      {{- end -}}
    </span>
  </div>
{{- end -}}
