{{- with .Stats -}}
  <div class="stat">
    <span class="stat_title">Agent Info</span>
    <span class="stat_data">
      Version: {{.version}}
      <br>PID: {{.pid}}
      {{- if .runnerStats.Workers}}
        <br>Check Workers: {{.runnerStats.Workers}}
      {{end}}
      <br>Agent start: {{.agent_start}}
      {{- if .config.log_file}}
        <br>Log File: {{.config.log_file}}
      {{end}}
      <br>Log Level: {{.config.log_level}}
      <br>Config File: {{if .conf_file}}{{.conf_file}}
                       {{else}}There is no config file
                       {{end}}
      <br>Conf.d Path: {{.config.confd_path}}
      <br>Checks.d Path: {{.config.additional_checksd}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">System Info</span>
    <span class="stat_data">
      System UTC Time: {{.time}}
      {{- if .ntpOffset}}
        <br>NTP Offset: {{ humanizeDuration .ntpOffset "s"}}
        {{- if ntpWarning .ntpOffset}}
        <br><span class="warning">NTP Offset is high. Datadog may ignore metrics sent by this Agent.</span>
        {{- end}}
      {{end}}
      <br>Go Version: {{.go_version}}
      <br>Python Version: {{.python_version}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Host Info</span>
    <span class="stat_data">
      {{- range $type, $value := .hostinfo -}}
        {{- if ne $type "hostname" -}}
          {{- if ne $type "hostid" -}}
            {{if $value}}
              {{formatTitle $type}}: {{if eq $type "bootTime" -}}{{- formatUnixTime $value -}}
                              {{- else -}}{{- if eq $type "uptime" -}}{{- humanizeDuration $value "s" -}}
                              {{- else -}}{{- $value -}}
                              {{- end -}}{{- end -}}<br>
            {{end -}}
          {{end -}}
        {{end -}}
      {{- end}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Hostnames</span>
    <span class="stat_data">
      {{- range $type, $value := .metadata.meta -}}
        {{- if ne $type "timezones" -}}
          {{- if $value}}
            {{formatTitle $type}}: {{$value -}}<br>
          {{end -}}
        {{- end -}}
      {{- end}}
      {{- if gt (len .hostTags) 0 }}
        <span>Host tags: <br>
          <span class="stat_subdata">
            {{- range $tag := .hostTags}}
              {{$tag}}<br>
            {{- end }}
          </span>
        </span>
      {{- end }}
      Hostname Provider: {{.hostnameStats.provider}}<br>
      {{- if gt (len .hostnameStats.errors) 0 }}
        <span>Unused Hostname Providers: <br>
          <span class="stat_subdata">
            {{- range $name, $value := .hostnameStats.errors -}}
              {{- if ne $name "all" }}
                {{formatTitle $name}}: {{$value}}<br>
              {{- end}}
            {{- end }}
          </span>
        </span>
      {{- if .hostnameStats.errors.all }}
        <span class="error">Error</span>: {{.hostnameStats.errors.all}}<br>
      {{- end }}
      {{- end }}

    </span>
  </div>

  <div class="stat">
    <span class="stat_title">JMX Status</span>
    <span class="stat_data">
      {{- with .JMXStatus -}}
        {{- if and (not .timestamp) (not .checks)}}
          No JMX status available
        {{- else }}
          <span class="stat_subtitle">Initialized Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.initialized_checks)}}
              No initialized checks
            {{ else }}
              {{- range $check,$instances := .checks.initialized_checks }}
                {{ $check -}}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                      {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end }}
            {{- end -}}
          </span>
          <span class="stat_subtitle">Failed Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.failed_checks)}}
              No failed checks
            {{ else }}
              {{- range $check,$instances := .checks.failed_checks }}
                {{ $check }}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                    {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </span>
        {{- end -}}
      {{- end -}}
    </span>

  </div>
  <div class="stat">
    <span class="stat_title">Forwarder</span>
    <span class="stat_data">
      {{- with .forwarderStats -}}
        {{- range $key, $value := .Transactions }}
            {{- if and (ne $key "Errors") (ne $key "ErrorsByType") (ne $key "HTTPErrors") (ne $key "HTTPErrorsByCode")}}
          {{formatTitle $key}}: {{humanize $value}}<br>
            {{- end}}
        {{- end}}
        {{- if .Transactions.Errors }}
          <span class="stat_subtitle">Transactions Errors</span>
            <span class="stat_subdata">
              Errors: {{.Transactions.Errors}}<br>
              Errors By Type:<br>
              <span class="stat_subdata">
                {{- range $type, $count := .Transactions.ErrorsByType }}
                    {{$type}}: {{humanize $count}}<br>
                {{- end}}
              </span>
            </span>
          </span>
        {{- end}}
        {{- if .Transactions.HTTPErrors }}
          <span class="stat_subtitle">HTTP Errors</span>
            <span class="stat_subdata">
              Errors: {{.Transactions.HTTPErrors}}<br>
              HTTP Errors By Code:<br>
              <span class="stat_subdata">
                {{- range $code, $count := .Transactions.HTTPErrorsByCode }}
                    {{$code}}: {{humanize $count}}<br>
                {{- end}}
              </span>
            </span>
          </span>
        {{- end}}
        {{- if .APIKeyStatus}}
          <span class="stat_subtitle">API Keys Status</span>
          <span class="stat_subdata">
            {{- range $key, $value := .APIKeyStatus}}
              {{$key}}: {{$value}}<br>
            {{- end -}}
          </span>
        {{- end}}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Endpoints</span>
    <span class="stat_data">
    {{- with .endpointsInfos}}
      {{- range $key, $value := .}}
        {{$key}}
          - API Key{{ if gt (len $value) 1}}s{{end}} ending with: <br>
          {{- range $idx, $apikey := $value }}
          &nbsp;&nbsp;- {{$apikey}} <br>
          {{- end}}
        <br>
      {{- end}}
    {{- else }}
      No endpoints information. The agent may be misconfigured.
    {{- end}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Logs Agent</span>
    <span class="stat_data">
    {{- with .logsStats -}}
      {{- if eq .is_running false }}

        Logs Agent is not running </br>
      {{- end }}
      {{- if .metrics }}

        {{- range $metric_name, $metric_value := .metrics }}
          {{$metric_name}}: {{$metric_value}}
        {{- end }}
      {{- end }}
      {{- if .errors }}

        <span class="error stat_subtitle">Errors</span>
        <span class="stat_subdata">
        {{- range $error := .errors }}
          {{ $error }}</br>
        {{- end }}
        </span>
      {{- end}}
      {{- if .warnings }}

        <span class="warning stat_subtitle">Warnings</span>
        <span class="stat_subdata">
        {{- range $warning := .warnings }}
          {{ $warning }}</br>
        {{- end }}
        </span>
      {{- end}}
      {{- range .integrations }}

        <span class="stat_subtitle">{{ .name }}</span>
        <span class="stat_subdata">
          {{- range .sources }}
            Type: {{ .type }}</br>
            {{- range $key, $value := .configuration }}
            {{$key}}: {{$value}}</br>
            {{- end }}
            {{- if .status }}
            Status: {{ .status }}</br>
            {{- range $message := .messages }}
              {{ $message }}</br>
            {{- end }}
            {{- end }}
            {{- if .inputs }}
            Inputs: {{ range $input := .inputs }}{{$input}} {{ end }}</br>
            {{- end }}
          {{- end }}
        </span>
      {{- end }}
    {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Aggregator</span>
    <span class="stat_data">
      {{- with .aggregatorStats -}}
        {{- if .ChecksMetricSample}}
          Checks Metric Sample: {{humanize .ChecksMetricSample}}<br>
        {{- end -}}
        {{- if .DogstatsdMetricSample}}
          Dogstatsd Metric Sample: {{.DogstatsdMetricSample}}<br>
        {{- end}}
        {{- if .Event}}
          Event: {{humanize .Event}}<br>
        {{- end -}}
        {{- if .EventsFlushed}}
          Events Flushed: {{humanize .EventsFlushed}}<br>
        {{- end -}}
        {{- if .EventsFlushErrors}}
          Events Flush Errors: {{.EventsFlushErrors}}<br>
        {{- end -}}
        {{- if .NumberOfFlush}}
          Number Of Flushes: {{humanize .NumberOfFlush}}<br>
        {{- end -}}
        {{- if .SeriesFlushed}}
          Series Flushed: {{humanize .SeriesFlushed}}<br>
        {{- end -}}
        {{- if .SeriesFlushErrors}}
          Series Flush Errors: {{.SeriesFlushErrors}}<br>
        {{- end -}}
        {{- if .ServiceCheck}}
          Service Check: {{humanize .ServiceCheck}}<br>
        {{- end -}}
        {{- if .ServiceCheckFlushed}}
          Service Checks Flushed: {{humanize .ServiceCheckFlushed}}<br>
        {{- end -}}
        {{- if .ServiceCheckFlushErrors}}
          Service Checks Flush Errors: {{.ServiceCheckFlushErrors}}<br>
        {{- end -}}
        {{- if .SketchesFlushed}}
          Sketches Flushed: {{humanize .SketchesFlushed}}<br>
        {{- end -}}
        {{- if .SketchesFlushErrors}}
          Sketches Flush Errors: {{.SketchesFlushErrors}}<br>
        {{- end -}}
        {{- if .HostnameUpdate}}
          Hostname Update: {{humanize .HostnameUpdate}}<br>
        {{- end }}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">DogStatsD</span>
    <span class="stat_data">
      {{- with .dogstatsdStats -}}
        {{- range $key, $value := .}}
          {{formatTitle $key}}: {{humanize $value}}<br>
        {{- end }}
      {{- end -}}
    </span>
  </div>
{{- end -}}
