{{- with .Stats -}}
  <div class="stat">
    <span class="stat_title">Agent Info</span>
    <span class="stat_data">
      Version: {{.version}}
      <br>Flavor: {{.flavor}}
      <br>PID: {{.pid}}
      {{- if .runnerStats.Workers}}
        <br>Check Workers: {{.runnerStats.Workers.Count}}
      {{end}}
      <br>Agent start: {{ formatUnixTime .agent_start_nano }}
      {{- if .config.log_file}}
        <br>Log File: {{.config.log_file}}
      {{end}}
      <br>Log Level: {{.config.log_level}}
      <br>Config File: {{if .conf_file}}{{.conf_file}}
                       {{else}}There is no config file
                       {{end}}
      <br>Conf.d Path: {{.config.confd_path}}
      <br>Checks.d Path: {{.config.additional_checksd}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">System Info</span>
    <span class="stat_data">
      System time: {{ formatUnixTime .time_nano }}
      {{- if .ntpOffset}}
        <br>NTP Offset: {{ humanizeDuration .ntpOffset "s"}}
        {{- if ntpWarning .ntpOffset}}
        <br><span class="warning">NTP Offset is high. Datadog may ignore metrics sent by this Agent.</span>
        {{- end}}
      {{end}}
      <br>Go Version: {{.go_version}}
      <br>Python Version: {{.python_version}}
      <br>Build arch: {{.build_arch}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Host Info</span>
    <span class="stat_data">
      {{- range $type, $value := .hostinfo -}}
        {{- if ne $type "hostname" -}}
          {{- if ne $type "hostid" -}}
            {{if $value}}
              {{formatTitle $type}}: {{if eq $type "bootTime" -}}{{- formatUnixTime $value -}}
                              {{- else -}}{{- if eq $type "uptime" -}}{{- humanizeDuration $value "s" -}}
                              {{- else -}}{{- $value -}}
                              {{- end -}}{{- end -}}<br>
            {{end -}}
          {{end -}}
        {{end -}}
      {{- end}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Hostnames</span>
    <span class="stat_data">
      {{- range $type, $value := .metadata.meta -}}
        {{- if ne $type "timezones" -}}
          {{- if $value}}
            {{formatTitle $type}}: {{$value -}}<br>
          {{end -}}
        {{- end -}}
      {{- end}}
      {{- if gt (len .hostTags) 0 }}
        <span>Host tags: <br>
          <span class="stat_subdata">
            {{- range $tag := .hostTags}}
              {{$tag}}<br>
            {{- end }}
          </span>
        </span>
      {{- end }}
      Hostname Provider: {{.hostnameStats.provider}}<br>
      {{- if gt (len .hostnameStats.errors) 0 }}
        <span>Unused Hostname Providers: <br>
          <span class="stat_subdata">
            {{- range $name, $value := .hostnameStats.errors -}}
              {{- if ne $name "all" }}
                {{formatTitle $name}}: {{$value}}<br>
              {{- end}}
            {{- end }}
          </span>
        </span>
      {{- if .hostnameStats.errors.all }}
        <span class="error">Error</span>: {{.hostnameStats.errors.all}}<br>
      {{- end }}
      {{- end }}

    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Metadata</span>
    <span class="stat_data">
    {{- range $key, $value := .agent_metadata }}
      {{ $key }}: {{ $value }}
    {{- end }}
    </span>
  </div>

  {{- if eq .config.fips_enabled "true" }}

    <div class="stat">
      <span class="stat_title">FIPS proxy</span>
      <span class="stat_data">
        FIPS proxy is enabled. All communication will be routed to a local FIPS proxy:<br>
          - Local address: {{ .config.fips_local_address }}<br>
          - Starting port range: {{ .config.fips_port_range_start }}<br>
      </span>
  {{- end }}

  {{- if .TransportWarnings }}
    <div class="stat">
      <span class="stat_title">Transport Proxy Warnings</span>
      {{- if .NoProxyIgnoredWarningMap }}
      <span class="stat_data">
      The following hosts used a proxy - but will ignore the proxy in future Agent versions with the no_proxy setting.
      Enable the new behavior now with no_proxy_nonexact_match: true
        <span class="stat_data">
        {{- range $key, $value := .NoProxyIgnoredWarningMap }}
          {{ $key }}<br>
        {{- end }}
        </span>
      </span>
      {{- end }}
      {{- if .NoProxyUsedInFuture }}
      <span class="stat_data">
      The following hosts did not use a proxy - but will use the proxy in future Agent versions with the no_proxy setting.
      Enable the new behavior now with no_proxy_nonexact_match: true
        <span class="stat_data">
        {{- range $key, $value := .NoProxyUsedInFuture }}
          {{ $key }}<br>
        {{- end }}
        </span>
      </span>
      {{- end }}
      {{- if .NoProxyChanged }}
      <span class="stat_data">
      The following hosts' proxy behavior will change in a future Agent version. Please check the Agent logs for more details.
      Enable the new behavior now with no_proxy_nonexact_match: true
        <span class="stat_data">
        {{- range $key, $value := .NoProxyChanged }}
          {{ $key }}<br>
        {{- end }}
        </span>
      </span>
      {{- end }}
    </div>
  {{- end }}

  <div class="stat">
    <span class="stat_title">JMX Status</span>
    <span class="stat_data">
      {{ if .JMXStartupError.LastError }}
      <span class="stat_subtitle">JMX startup errors</span>
        <span class="stat_subdata">
          Error: {{ .JMXStartupError.LastError }} <br>
          Date: {{ formatUnixTime .JMXStartupError.Timestamp }}
        </span>
      {{ end -}}
      {{- with .JMXStatus -}}
        {{- if and (not .timestamp) (not .checks)}}
          No JMX status available
        {{- else }}
          <span class="stat_subtitle">Information</span>
          <span class="stat_subdata">
            {{- range $k,$v := .info }}
              {{ $k }} : {{ $v }}<br>
            {{- end }}
            {{- if .errors }}
              Socket errors: {{ .errors }}
            {{- end }}
          </span>
          <span class="stat_subtitle">Initialized Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.initialized_checks)}}
              No initialized checks
            {{ else }}
              {{- range $check,$instances := .checks.initialized_checks }}
                {{ $check -}}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                      {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end }}
            {{- end -}}
          </span>
          <span class="stat_subtitle">Failed Checks</span>
          <span class="stat_subdata">
            {{- if (not .checks.failed_checks)}}
              No failed checks
            {{ else }}
              {{- range $check,$instances := .checks.failed_checks }}
                {{ $check }}<br>
                {{- range $instance := $instances }}
                  {{- range $k,$v := $instance }}
                    {{ $k }} : {{ $v }}<br>
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </span>
        {{- end -}}
      {{- end -}}
    </span>

  </div>
  <div class="stat">
    <span class="stat_title">Forwarder</span>
    <span class="stat_data">
      {{- with .forwarderStats -}}
        {{- range $key, $value := .Transactions }}
            {{- if and (ne $key "InputBytesByEndpoint") (ne $key "InputCountByEndpoint") (ne $key "DroppedByEndpoint") (ne $key "RequeuedByEndpoint") (ne $key "RetriedByEndpoint") (ne $key "Success") (ne $key "SuccessByEndpoint") (ne $key "SuccessBytesByEndpoint") (ne $key "Errors") (ne $key "ErrorsByType") (ne $key "HTTPErrors") (ne $key "HTTPErrorsByCode") (ne $key "ConnectionEvents")}}
          {{formatTitle $key}}: {{humanize $value}}<br>
            {{- end}}
        {{- end}}
        {{- if .Transactions.Success }}
          <span class="stat_subtitle">Transaction Successes</span>
            <span class="stat_subdata">
              Total number: {{.Transactions.Success}}<br>
              Successes By Endpoint:<br>
              <span class="stat_subdata">
                {{- range $type, $count := .Transactions.SuccessByEndpoint }}
                  {{- if $count}}
                    {{$type}}: {{humanize $count}}<br>
                  {{- end}}
                {{- end}}
              </span>
            </span>
          </span>
        {{- end}}
        {{- if .Transactions.Errors }}
          <span class="stat_subtitle">Transaction Errors</span>
            <span class="stat_subdata">
              Total number: {{.Transactions.Errors}}<br>
              Errors By Type:<br>
              <span class="stat_subdata">
                {{- range $type, $count := .Transactions.ErrorsByType }}
                  {{- if $count}}
                    {{$type}}: {{humanize $count}}<br>
                  {{- end}}
                {{- end}}
              </span>
            </span>
          </span>
        {{- end}}
        {{- if .Transactions.HTTPErrors }}
          <span class="stat_subtitle">HTTP Errors</span>
            <span class="stat_subdata">
              Total number: {{.Transactions.HTTPErrors}}<br>
              HTTP Errors By Code:<br>
              <span class="stat_subdata">
                {{- range $code, $count := .Transactions.HTTPErrorsByCode }}
                  {{- if $count}}
                    {{$code}}: {{humanize $count}}<br>
                  {{- end}}
                {{- end}}
              </span>
            </span>
          </span>
        {{- end}}
      {{- end -}}
      {{/* The subsection `On-disk storage` is not inside `{{- with .forwarderStats -}}` as it need to access `.config` */}}
      <span class="stat_subtitle">On-disk storage</span>
      <span class="stat_subdata">
      {{- if .config.forwarder_storage_max_size_in_bytes }}
        {{- if .forwarderStats.FileStorage.CurrentSizeInBytes }}
        Disk usage in bytes: {{ .forwarderStats.FileStorage.CurrentSizeInBytes }}<br>
        Number of files: {{ .forwarderStats.FileStorage.FilesCount }}<br>
        Number of files dropped: {{ .forwarderStats.FileStorage.FilesRemovedCount }}<br>
        Deserialization errors count: {{ .forwarderStats.FileStorage.DeserializeErrorsCount }}<br>
        Outdated files removed at startup: {{ .forwarderStats.RemovalPolicy.OutdatedFilesCount }}<br>
        {{- else }}
        Enabled, not in-use.<br>
        {{- end}}
      {{- else }}
        On-disk storage is disabled. Configure `forwarder_storage_max_size_in_bytes` to enable it.<br>
      {{- end}}
      </span>
      {{- with .forwarderStats -}}
        {{- if .APIKeyStatus}}
          <span class="stat_subtitle">API Keys Status</span>
          <span class="stat_subdata">
            {{- range $key, $value := .APIKeyStatus}}
              {{$key}}: {{$value}}<br>
            {{- end -}}
          </span>
        {{- end}}        
        {{- if .APIKeyFailure}}
          <span class="stat_subtitle">API Keys Errors</span>
          <span class="stat_subdata">
            {{ range $key, $value := .APIKeyFailure}}
              <span class="warning"> {{$key}}: {{$value}} <span> <br>
            {{- end -}}
          </span>
        {{- end}}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Endpoints</span>
    <span class="stat_data">
    {{- with .endpointsInfos}}
      {{- range $key, $value := .}}
        {{$key}}
          - API Key{{ if gt (len $value) 1}}s{{end}} ending with: <br>
          {{- range $idx, $apikey := $value }}
          &nbsp;&nbsp;- {{$apikey}} <br>
          {{- end}}
        <br>
      {{- end}}
    {{- else }}
      No endpoints information. The agent may be misconfigured.
    {{- end}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Logs Agent</span>
    <span class="stat_data">
    {{- with .logsStats -}}
      {{- if eq .is_running false }}

        Logs Agent is not running </br>
      {{- end }}
      {{- if .endpoints }}

        {{- range $endpoint := .endpoints }}
          {{ $endpoint }}<br>
        {{- end }}
      {{- end }}
      {{- if and (eq .use_http false) (.is_running) }}

        You are currently sending Logs to Datadog through TCP (either because logs_config.force_use_tcp or logs_config.socks5_proxy_address is set or the HTTP connectivity test has failed). To benefit from increased reliability and better network performances, we strongly encourage switching over to compressed HTTPS which is now the default protocol.</br>
      {{- end }}
      {{- if .metrics }}

        {{- range $metric_name, $metric_value := .metrics }}
          {{$metric_name}}: {{$metric_value}}<br>
        {{- end }}
      {{- end }}
      {{- if .errors }}

        <span class="error stat_subtitle">Errors</span>
        <span class="stat_subdata">
        {{- range $error := .errors }}
          {{ $error }}</br>
        {{- end }}
        </span>
      {{- end}}
      {{- if .warnings }}

        <span class="warning stat_subtitle">Warnings</span>
        <span class="stat_subdata">
        {{- range $warning := .warnings }}
          {{ $warning }}</br>
        {{- end }}
        </span>
      {{- end}}
      {{- range .integrations }}

        <span class="stat_subtitle">{{ .name }}</span>
        <span class="stat_subdata">
          {{- range .sources }}
            <span class="stat_subdata">
            Type: {{ .type }}</br>
            {{- range $key, $value := .configuration }}
            {{$key}}: {{$value}}</br>
            {{- end }}
            {{- if .status }}
            Status: {{ .status }}</br>
            {{- range $message := .messages }}
              {{ $message }}</br>
            {{- end }}
            {{- end }}
            {{- if .inputs }}
            Inputs:
            <ul>
              {{- range $input := .inputs }}
                <li>{{$input}}
              {{- end }}
            </ul>
            {{- end }}
            Average Latency (ms): {{ .all_time_avg_latency }}</br>
            24h Average Latency (ms): {{ .recent_avg_latency }}</br>
            Peak Latency (ms): {{ .all_time_peak_latency }}</br>
            24h Peak Latency (ms): {{ .recent_peak_latency }}</br>
            {{- if .info }}
            {{- range $key, $value := .info }} {{ $len := len $value }} {{ if eq $len 1 }}
            {{$key}}: {{index $value 0}}</br> {{ else }}
            {{$key}}:</br>
              <span class="stat_subdata">
                {{- range $inf := $value }}
                  {{ $inf }}</br>
                {{- end }}
              </span>
            {{- end }}
            {{- end }}
            {{- end }}
            </span>
          {{- end }}
        </span>
      {{- end }}
    {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">Aggregator</span>
    <span class="stat_data">
      {{- with .aggregatorStats -}}
        {{- if .ChecksMetricSample}}
          Checks Metric Sample: {{humanize .ChecksMetricSample}}<br>
        {{- end -}}
        {{- if .DogstatsdMetricSample}}
          Dogstatsd Metric Sample: {{.DogstatsdMetricSample}}<br>
        {{- end}}
        {{- if .Event}}
          Event: {{humanize .Event}}<br>
        {{- end -}}
        {{- if .EventsFlushed}}
          Events Flushed: {{humanize .EventsFlushed}}<br>
        {{- end -}}
        {{- if .EventsFlushErrors}}
          Events Flush Errors: {{.EventsFlushErrors}}<br>
        {{- end -}}
        {{- if .NumberOfFlush}}
          Number Of Flushes: {{humanize .NumberOfFlush}}<br>
        {{- end -}}
        {{- if .SeriesFlushed}}
          Series Flushed: {{humanize .SeriesFlushed}}<br>
        {{- end -}}
        {{- if .SeriesFlushErrors}}
          Series Flush Errors: {{.SeriesFlushErrors}}<br>
        {{- end -}}
        {{- if .ServiceCheck}}
          Service Check: {{humanize .ServiceCheck}}<br>
        {{- end -}}
        {{- if .ServiceCheckFlushed}}
          Service Checks Flushed: {{humanize .ServiceCheckFlushed}}<br>
        {{- end -}}
        {{- if .ServiceCheckFlushErrors}}
          Service Checks Flush Errors: {{.ServiceCheckFlushErrors}}<br>
        {{- end -}}
        {{- if .SketchesFlushed}}
          Sketches Flushed: {{humanize .SketchesFlushed}}<br>
        {{- end -}}
        {{- if .SketchesFlushErrors}}
          Sketches Flush Errors: {{.SketchesFlushErrors}}<br>
        {{- end -}}
        {{- if .ChecksHistogramBucketMetricSample}}
          Checks Histogram Bucket Metric Sample: {{.ChecksHistogramBucketMetricSample}}<br>
        {{- end -}}
        {{- if .EventPlatformEvents }}
        {{- range $k, $v := .EventPlatformEvents }}
          {{ $k }}: {{humanize $v}}
        {{- end }}
        {{- end }}
        {{- if .HostnameUpdate}}
          Hostname Update: {{humanize .HostnameUpdate}}<br>
        {{- end }}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">DogStatsD</span>
    <span class="stat_data">
      {{- with .dogstatsdStats -}}
        {{- range $key, $value := .}}
          {{formatTitle $key}}: {{humanize $value}}<br>
        {{- end }}
      {{- end -}}
    </span>
  </div>

  <div class="stat" id="apmStats">
    <span class="stat_title">APM</span>
    <span class="stat_data">Loading...</span>
  </div>

  <div class="stat">
    <span class="stat_title">SNMP Traps</span>
    <span class="stat_data">
      {{- with .snmpTrapsStats -}}
        {{- if .error }}
          Error: {{.error}}<br>
        {{- end }}
        {{- range $key, $value := .metrics}}
          {{formatTitle $key}}: {{humanize $value}}<br>
        {{- end }}
      {{- end -}}
    </span>
  </div>

  <div class="stat">
    <span class="stat_title">OTLP</span>
    <span class="stat_data">
      {{ with .otlp }}
        Status: {{ if .otlpStatus }}Enabled{{else}}Not enabled{{end}}
        <br>Collector status: {{ .otlpCollectorStatus }}
        {{ if .otlpCollectorStatusErr }}
          <br><span class="error">Error</span>: <b>{{ .otlpCollectorStatusErr }}</b>
        {{ end }}
      {{ end }}
    </span>
  </div>
{{- end -}}
