<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datadog Agent</title>
    <link rel="stylesheet" href="view/css/font-awesome.min.css">
    <link rel="stylesheet" href="view/css/codemirror.css">
    <link rel="stylesheet" href="view/css/stylesheet.css">
    <script src="view/js/polyfills.js"> </script>
    <script src="view/js/jquery-3.5.1.min.js"> </script>
    <script src="view/js/apm.js"> </script>
    <script src="view/js/codemirror.js"> </script>
    <script src="view/js/yaml.js"> </script>
    <script src="view/js/javascript.js"> </script>
    <script src="view/js/purify.min.js"> </script>
</head>

<body>
  <div id="sidebar">
    <img id="logo" src="view/images/datadog_icon_white.svg">

    <ul class="navbar">
      <li class="nav_item multi active">
        <i class="fa fa-info fa-fw"> </i>&nbsp;
        Status
        <i class="fa fa-chevron-down fa-rotate-270"> </i>
        <div id="status_side_menu" class="side_menu">
          <a href="javascript:void(0)" onclick="loadStatus('general')" class="side_menu_item">General</a>
          <a href="javascript:void(0)" onclick="loadStatus('collector')" class="side_menu_item">Collector</a>
        </div>
      </li>
      <li id="log_button" class="nav_item">
        <i class="fa fa-book fa-fw"> </i>&nbsp;
        Log
      </li>
      <li id="settings_button" class="nav_item">
        <i class="fa fa-cog fa-fw"> </i>&nbsp;
        Settings
      </li>
      <li class="nav_item multi">
        <i class="fa fa-check fa-fw"> </i>&nbsp;
        Checks
        <i class="fa fa-chevron-down fa-rotate-270"> </i>
        <div id="checks_side_menu" class="side_menu">
          <a href="javascript:void(0)" onclick="loadManageChecks()" class="side_menu_item">Manage Checks</a>
          <a href="javascript:void(0)" onclick="seeRunningChecks()" class="side_menu_item">Checks Summary</a>
        </div>
      </li>
      <li id="flare_button" class="nav_item">
        <i class="fa fa-flag fa-fw"> </i>&nbsp;
        Flare
      </li>
      {{- if .restartEnabled }}
      <li id="restart_button" class="nav_item no-active">
        <i class="fa fa-power-off fa-fw"> </i>&nbsp;
        Restart Agent
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="top_bar">
    <div id="title">Datadog Agent Manager</div>
    <div id="agent_info">
      <div id="restart_status">Restart Agent to apply changes.</div>
      <div id="agent_status">Connected <br>to Agent</div>
      <div id="version">Version: </div>
      <div id="hostname">Hostname: </div>
    </div>
  </div>
  <div id="main">
    <div id="tests" class="page"></div>
    <div id="general_status" class="page"></div>
    <div id="collector_status" class="page"></div>
    <div id="settings" class="page"></div>
    <div id="logs" class="page"></div>
    <div id="manage_checks" class="page">
      <div id="checks_description"></div>
      <div class="interface">
        <div class="left">
            <span class="dropdown">
              <select id="checks_dropdown">
                <option value="enabled">Edit Enabled Checks</option>
                <option value="add">Add a Check</option>
              </select>
            </span>
          <div class="list"></div>
        </div>
        <div class="right"></div>
      </div>
    </div>
    <div id="running_checks" class="page"></div>
    <div id="flare" class="page">
        <div id="flare_description"></div>
        <form class="flare_input center">
          <input type="number" id="ticket_num" placeholder="Ticket number, if you have one"/>
          <input type="email" id="email" placeholder="Email address"/>
          <input type="button" id="submit_flare" value="Submit"/>
        </form>
    </div>
  </div>
</body>
