<div id="check_run_results">
  <span class="stat_title">Error running {{.Name}} check: </span>
  {{ if .ConfigErrs }}
    {{- range $checkname, $error := .ConfigErrs}}
      {{- if eq $.Name $checkname }}
        <span class="stat_subtitle"> Configuration error </span>
        <span class="stat_data"> {{$error}} </span>
      {{end -}}
    {{end -}}
  {{ end }}
</div>
