<div id="check_run_results">
  <span class="stat_title">{{formatTitle .Name}}{{ if .CheckVersion }} ({{.CheckVersion}}){{ end }} run result: </span>
  {{- range $i, $e := .CheckStats}}
  <span class="stat_subtitle">Instance {{add $i 1}}</span>
    <span class="stat_data">
        Instance ID: {{.CheckID}}<br>
        Total Runs: {{humanize .TotalRuns}}<br>
        Metric Samples: {{humanize .MetricSamples}}, Total: {{humanize .TotalMetricSamples}}<br>
        Events: {{humanize .Events}}, Total: {{humanize .TotalEvents}}<br>
        Service Checks: {{humanize .ServiceChecks}}, Total: {{humanize .TotalServiceChecks}}<br>
        Last Execution Date : {{formatUnixTime .UpdateTimestamp false}}<br>
        Last Successful Execution Date : {{ if .LastSuccessDate }}{{formatUnixTime .LastSuccessDate false}}{{ else }}Never{{ end }}<br>
      {{- if .LastError}}
        <span class="error">Error</span>: {{lastErrorMessage .LastError}}<br>
              {{lastErrorTraceback .LastError -}}
      {{- end -}}
      {{- if .LastWarnings}}
        {{- range .LastWarnings }}
          <span class="warning">Warning</span>: {{.}}<br>
        {{- end -}}
      {{- end -}}
    </span>
  {{- end -}}
</div>
