{{ if .enabled -}}
<div class="stat">
  <span class="stat_title">HA Agent Metadata</span>
  <span class="stat_data">
    enabled: {{ .ha_agent_metadata.Enabled }}<br>
    state: {{ .ha_agent_metadata.State }}<br>
  </span>
</div>
{{- end }}
