<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> DataDog Agent 6 </title>
    <link rel="stylesheet" href="view/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="view/js/javascript.js"> </script>
</head>
<body>
  <h1> Agent GUI Test </h1>

  <button onclick="testSuccess()">A</button>
  <button onclick="testBadReq_1()">B</button>
  <button onclick="testBadReq_2()">C</button>
  <button onclick="testBadReq_3()">D</button>
  <br><br><br>
  <button onclick='sendCommand("check_running")'>Check agent</button>
  <button onclick='sendCommand("start_agent")'>Start agent</button>
  <button onclick='sendCommand("stop_agent")'>Stop agent</button>
  <button onclick='sendCommand("get_status")'>Status</button>
  <br><br>
  <div id="response"></div>

</body>
