---
# Windows e2e testing deploy jobs extracted from .gitlab/deploy/e2e_testing_deploy/e2e_deploy.yml

deploy_windows_testing-a7:
  rules:
    - !reference [.except_no_tests_no_deploy]
    - !reference [.except_mergequeue]
    - when: on_success
  stage: e2e_deploy
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/gitlab_agent_deploy$CI_IMAGE_GITLAB_AGENT_DEPLOY_SUFFIX:$CI_IMAGE_GITLAB_AGENT_DEPLOY
  tags: ["arch:amd64", "specific:true"]
  retry: 2
  needs:
    ["lint_windows-x64", "windows_msi_and_bosh_zip_x64-a7"]
  before_script:
    - ls $OMNIBUS_PACKAGE_DIR/pipeline-$CI_PIPELINE_ID
  script:
    - $S3_CP_CMD
      --recursive
      --exclude "*"
      --include "datadog-agent-7.*.msi"
      --include "datadog-agent-upgrade-test-7.*.msi"
      --include "datadog-installer-*-1-x86_64.exe"
      $OMNIBUS_PACKAGE_DIR/pipeline-$CI_PIPELINE_ID s3://$WIN_S3_BUCKET/$WINDOWS_TESTING_S3_BUCKET
      --grants read=uri=http://acs.amazonaws.com/groups/global/AllUsers
      full=id=3a6e02b08553fd157ae3fb918945dd1eaae5a1aa818940381ef07a430cf25732

deploy_windows_testing-a7-fips:
  rules:
    - !reference [.except_no_tests_no_deploy]
    - !reference [.except_mergequeue]
    - when: on_success
  stage: e2e_deploy
  image: registry.ddbuild.io/ci/datadog-agent-buildimages/gitlab_agent_deploy$CI_IMAGE_GITLAB_AGENT_DEPLOY_SUFFIX:$CI_IMAGE_GITLAB_AGENT_DEPLOY
  tags: ["arch:amd64", "specific:true"]
  retry: 2
  needs:
    ["lint_windows-x64", "windows_msi_and_bosh_zip_x64-a7-fips"]
  before_script:
    - ls $OMNIBUS_PACKAGE_DIR/pipeline-$CI_PIPELINE_ID
  script:
    - $S3_CP_CMD
      --recursive
      --exclude "*"
      --include "datadog-fips-agent-7.*.msi"
      $OMNIBUS_PACKAGE_DIR/pipeline-$CI_PIPELINE_ID s3://$WIN_S3_BUCKET/$WINDOWS_TESTING_S3_BUCKET
      --grants read=uri=http://acs.amazonaws.com/groups/global/AllUsers
      full=id=3a6e02b08553fd157ae3fb918945dd1eaae5a1aa818940381ef07a430cf25732
