${COPYRIGHT_HEADER}

// Package impl implements the ${COMPONENT_NAME} component interface
package ${COMPONENT_NAME}impl

import (
	${COMPONENT_NAME} "github.com/DataDog/datadog-agent/${COMPONENT_PATH}/def"
	compdef "github.com/DataDog/datadog-agent/comp/def"
)

// Requires defines the dependencies for the ${COMPONENT_NAME} component
type Requires struct {
	// Remove this field if the component has no lifecycle hooks
	Lifecycle compdef.Lifecycle
}

// Provides defines the output of the ${COMPONENT_NAME} component
type Provides struct {
	Comp ${COMPONENT_NAME}.Component
}

// NewComponent creates a new ${COMPONENT_NAME} component
func NewComponent(reqs Requires) (Provides, error) {
	// TODO: Implement the ${COMPONENT_NAME} component
	
	provides := Provides{}
	return provides, nil
}