${COPYRIGHT_HEADER}

//go:build test

package ${COMPONENT_NAME}impl

import (
	"go.uber.org/fx"

	"github.com/DataDog/datadog-agent/pkg/util/fxutil"
)

// MockModule defines the fx options for the mock component.
func MockModule() fxutil.Module {
	return fxutil.Component(
		fx.Provide(newMock),
	)
}

func newMock(deps dependencies) provides {
  // Mock initialization
	return provides{}
}
