<div class="stat">
  <span class="stat_title">Remote Configuration</span>
  <span class="stat_data">
    {{ with .remoteConfiguration }}
      API Key: {{ if .apiKeyScoped }}Authorized{{ else }}Not authorized{{ end }}
      Feature: {{ if .orgEnabled }}Enabled{{ else }}Disabled{{ end }}
      Last error: {{ if .lastError }}{{ .lastError }}{{ else }}None{{ end }}
    {{ else }}
      Remote Configuration is disabled
    {{ end }}
  </span>
</div>
