[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.9.6"
molecule = "==3.0.8"
molecule-vagrant = "*"
molecule-digitalocean = "*"
pytest-molecule = "*"
molecule-ec2 = "*"
flake8 = "*"
testinfra = "*"
pywinrm = "*"
pytest-ordering = "*"
docker = "*"
pytest-depends = "*"

[requires]
python_version = "3.6"
