Containers
==========
{{- range $c := .Containers}}
> ID: {{ .Id }}
  Name: {{ .Name }}
  Image: {{ .Image }}
  CPU Limit:    {{ .CpuLimit }}
  Memory Limit: {{ .MemoryLimit }}
  State:  {{ containerState .State }}
  Health: {{ containerHealth .Health }}
  Created: {{ time .Created }}
  Started: {{ time .Started }}
  CPU: Total: {{ .TotalPct }}% System: {{ .SystemPct }}% User: {{ .UserPct }}%
  Memory: RSS: {{ .MemRss }} Cache: {{ .MemCache }}
  IO:
    Read:  {{ .Rbps }} Bytes/s
    Write: {{ .Wbps }} Bytes/s
  Net:
    Received: {{ .NetRcvdBps }} Bytes/s {{ .NetRcvdPs }} Ops/s
    Sent:     {{ .NetSentBps }} Bytes/s {{ .NetSentPs }} Ops/s
  Tags: {{range $idx, $tag := .Tags}}{{if $idx}},{{end}}{{$tag}}{{end}}
  Addresses:{{/* TODO: */}}
  Thread Count: {{ .ThreadCount }}
  Thread Limit: {{ .ThreadLimit }}
{{- end }}
