Containers
==========
{{- range $c := .Containers}}
> ID: {{ .Id }}
  CPU Limit:    {{ .CpuLimit }}
  Memory Limit: {{ bytes .MemoryLimit }}
  State:  {{ .State }}
  Health: {{ .Health }}
  Created: {{ time .Created }}
  Started: {{ time .Started }}
  CPU: Total: {{ cpupct .TotalPct }} System: {{ cpupct .SystemPct }} User: {{ cpupct .UserPct }}
  Memory: RSS: {{ bytes .MemRss }} Cache: {{ bytes .MemCache }}
  IO:
    Read:  {{ io .Rbps }} B/s
    Write: {{ io .Wbps }} B/s
  Net:
    Received: {{ io .NetRcvdBps }} B/s {{ io .NetRcvdPs }} Ops/s
    Sent:     {{ io .NetSentBps }} B/s {{ io .NetSentPs }} Ops/s
  Tags: {{range $idx, $tag := .Tags}}{{if $idx}},{{end}}{{$tag}}{{end}}
  Thread Count: {{ .ThreadCount }}
  Thread Limit: {{ .ThreadLimit }}
  Addresses:
  {{- range $addr := .Addresses}}
    IP: {{ .Ip }} Port: {{ .Port }} {{ .Protocol }}
  {{- end }}
{{- end }}
