Containers
==========
Hostname: {{ .Hostname }}
Memory: {{ bytes .Memory }}
CPUs: {{ .CPUCount }}
{{- range $c := .Containers}}
> ID: {{ .Id }}
  Name: {{ .Name }}
  Image: {{ .Image }}
  CPU Limit:    {{ .CpuLimit }}
  Memory Limit: {{ bytes .MemoryLimit }}
  State:  {{ .State }}
  Health: {{ .Health }}
  Created: {{ time .Created }}
  Started: {{ time .Started }}
  CPU: Total: {{ .TotalPct }}% System: {{ .SystemPct }}% User: {{ .UserPct }}%
  Memory: RSS: {{ bytes .MemRss }} Cache: {{ bytes .MemCache }}
  IO:
    Read:  {{ .Rbps }} B/s
    Write: {{ .Wbps }} B/s
  Net:
    Received: {{ .NetRcvdBps }} B/s {{ .NetRcvdPs }} Ops/s
    Sent:     {{ .NetSentBps }} B/s {{ .NetSentPs }} Ops/s
  Tags: {{range $idx, $tag := .Tags}}{{if $idx}},{{end}}{{$tag}}{{end}}
  Thread Count: {{ .ThreadCount }}
  Thread Limit: {{ .ThreadLimit }}
  Addresses:
  {{- range $addr := .Addresses}}
    IP: {{ .Ip }} Port: {{ .Port }} {{ .Protocol }}
  {{- end }}
{{- end }}
