{{- $checkOutput := .CheckOutput }}
{{- if $checkOutput -}}
Host Info
=========
Hostname: {{ .Hostname }}

Process Lifecyle Events
=======================
{{- end }}
{{- range $index, $event := .Events -}}
{{- if or ($checkOutput) (ne 0 $index) }}
{{/* force a new line if check output banner was printed or it's not the first event */}}
{{- end -}}
> Type: {{ .Type }}
  Collection Time: {{ timeNano .CollectionTime }}
  PID: {{ .Pid }} PPID: {{ .Command.Ppid }}
  ContainerID: {{ .ContainerId }}
  Exe: {{ .Command.Exe }}
  Args:{{ range .Command.Args}} '{{.}}'{{ end }}
{{- with .User }}
  User: {{ .Name }} Uid: {{ .Uid }} Gid: {{ .Gid }}
{{- end }}
{{- with .Exec }}
  ForkTime: {{ timeNano .ForkTime }}
  ExecTime: {{ timeNano .ExecTime }}
{{- end }}
{{- with .Exit }}
  ExecTime: {{ timeNano .ExecTime }}
  ExitTime: {{ timeNano .ExitTime }}
  ExitCode: {{ .ExitCode }}
{{- end }}
{{- end -}}
