Processes
=========
{{- range $process := .Processes}}
> PID: {{ .Pid }} NSPID: {{ .NsPid }} PPID: {{ .Command.Ppid }}
  Container ID: {{ .ContainerId }}
  Exe: {{ .Command.Exe }}
  Args:{{ range .Command.Args}} '{{.}}'{{ end }}
  Cwd: {{ .Command.Cwd }}
{{- with .User }}
  User: {{.Name}} Uid: {{.Uid}} Gid: {{.Gid}} Euid: {{.Euid}} Egid: {{.Egid}} Suid: {{.Suid}} Sgid: {{.Sgid}}
{{- end }}
  Create Time: {{ time .CreateTime }}
  State: {{ .State }}
{{- with .Memory }}
  Memory:
    Rss:    {{ bytes .Rss}}
    Vms:    {{ bytes .Vms}}
    Swap:   {{ bytes .Swap}}
    Shared: {{ bytes .Shared}}
    Text:   {{ bytes .Text}}
    Lib:    {{ bytes .Lib}}
    Data:   {{ bytes .Data}}
    Dirty:  {{ bytes .Dirty}}
{{- end }}
{{- with .Cpu }}
  CPU: Total: {{ .TotalPct }}% System: {{ .SystemPct }}% User: {{ .UserPct }}%
  Threads: {{ .NumThreads }}
  Nice: {{ .Nice }}
{{- end }}
  Open Files: {{ .OpenFdCount }}
  Context Switches: Voluntary: {{ .VoluntaryCtxSwitches }} Involuntary: {{ .InvoluntaryCtxSwitches }}
{{- with .IoStat }}
  IO:
    Read:  {{ .ReadBytesRate }} B/s {{ .ReadRate }} Ops/s
    Write: {{ .WriteBytesRate }} B/s {{ .WriteRate }} Ops/s
{{- end }}
{{- end }}
