RealTime Containers
===================
{{- range $c := .ContainerStats}}
> ID: {{ .Id }}
  CPU Limit:    {{ .CpuLimit }}
  Memory Limit: {{ .MemLimit }}
  State:  {{ containerState .State }}
  Health: {{ containerHealth .Health }}
  Started: {{ .Started }}
  CPU: Total: {{ .TotalPct }}% System: {{ .SystemPct }}% User: {{ .UserPct }}%
  Memory: RSS: {{ .MemRss }} Cache: {{ .MemCache }}
  IO:
    Read:  {{ .Rbps }} Bytes/s
    Write: {{ .Wbps }} Bytes/s
  Net:
    Received: {{ .NetRcvdBps }} Bytes/s {{ .NetRcvdPs }} Ops/s
    Sent:     {{ .NetSentBps }} Bytes/s {{ .NetSentPs }} Ops/s
  Thread Count: {{ .ThreadCount }}
  Thread Limit: {{ .ThreadLimit }}
{{- end }}
