RealTime Processes
==================
Hostname: {{ .Hostname }}
Memory: {{ bytes .Memory }}
CPUs: {{ .CPUCount }}
{{- range $process := .ProcessStats}}
> PID: {{ .Pid }}
  Container ID: {{ .ContainerId }}
  Create Time: {{ time .CreateTime }}
  State: {{ .ProcessState }}
{{- with .Memory }}
  Memory:
    Rss:    {{ bytes .Rss }}
    Vms:    {{ bytes .Vms }}
    Swap:   {{ bytes .Swap }}
    Shared: {{ bytes .Shared }}
    Text:   {{ bytes .Text }}
    Lib:    {{ bytes .Lib }}
    Data:   {{ bytes .Data }}
    Dirty:  {{ bytes .Dirty }}
{{- end }}
{{- with .Cpu }}
  CPU: Total: {{ .TotalPct }}% System: {{ .SystemPct }}% User: {{ .UserPct }}%
  Threads: {{ .NumThreads }}
  Nice: {{ .Nice }}
{{- end }}
  Open Files: {{ .OpenFdCount }}
  Context Switches: Voluntary: {{ .VoluntaryCtxSwitches }} Involuntary: {{ .InvoluntaryCtxSwitches }}
{{- with .IoStat }}
  IO:
    Read:  {{ .ReadBytesRate }} B/s {{ .ReadRate }} Ops/s
    Write: {{ .WriteBytesRate }} B/s {{ .WriteRate }} Ops/s
{{- end }}
{{- end }}
