{{- if .TransportWarnings }}
  {{- if .NoProxyIgnoredWarningMap }}
    The requests to the following hosts use a proxy - but will ignore the proxy in future Agent versions based on the no_proxy setting.
    Enable the new behavior now with no_proxy_nonexact_match: true
    {{- range  .NoProxyIgnoredWarningMap }}
      {{ . }}
    {{- end }}

  {{- end }}
  {{- if .NoProxyUsedInFuture }}
    The following hosts did not use a proxy - but will use the proxy in future Agent versions with the no_proxy setting.
    Enable the new behavior now with no_proxy_nonexact_match: true
    {{- range .NoProxyUsedInFuture }}
      {{ . }}
    {{- end }}

  {{- end }}
  {{- if .NoProxyChanged }}
    The following hosts proxy behavior will change in a future Agent version.
    Enable the new behavior now with no_proxy_nonexact_match: true
    {{- range  .NoProxyChanged }}
      {{ . }}
    {{- end }}
  {{- end }}
{{- end }}
