---
apiVersion: v1
kind: Secret
metadata:
  name: $name-api-key
  labels:
    app.kubernetes.io/name: "$name"
    app.kubernetes.io/component: apikey-secret
type: Opaque
data:
  apiKey: "$apiKeyEncoded"
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: $name
  labels: &DatadogDsLabels
    app.kubernetes.io/name: "$name"
    app.kubernetes.io/component: node-agent
spec:
  selector:
    matchLabels: *DatadogDsLabels
  template:
    metadata:
      labels: *DatadogDsLabels
      name: datadog-agent
    spec:
      serviceAccountName: $serviceAccount
      containers:
      - image: $datadogAgentImage
        imagePullPolicy: Always
        name: datadog-agent
        ports:
        - containerPort: 8125
          # un-comment if you need to use dogstatsd
          # see: https://app.datadoghq.com/account/settings#agent/kubernetes
          # hostPort: 8125
          name: dogstatsdport
          protocol: UDP
        - containerPort: 8126
          # un-comment if you need to use the trace agent
          # see: https://app.datadoghq.com/account/settings#agent/kubernetes
          # hostPort: 8126
          name: traceport
          protocol: TCP
        env:
        - name: DD_API_KEY
          valueFrom:
            secretKeyRef:
              name: $name-api-key
              key: apiKey
        - name: KUBERNETES
          value: "yes"
        - name: DD_KUBERNETES_KUBELET_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        volumeMounts:
        - name: procdir
          mountPath: /host/proc
          readOnly: true
        - name: cgroups
          mountPath: /host/sys/fs/cgroup
          readOnly: true
        livenessProbe:
          exec:
            command:
            - ./probe.sh
          initialDelaySeconds: 15
          periodSeconds: 10
      volumes:
      - hostPath:
          path: /proc
        name: procdir
      - hostPath:
          path: /sys/fs/cgroup
        name: cgroups
