version: 2
jobs:
  build:
    docker:
      - image: datadog/datadog-agent-six-cci:latest
    steps:
      - checkout
      - run:
          name: Build
          command: |
            cmake .
            make
      - run:
          name: Lint
          command: |
            make clang-format
            [[ $(git ls-files -m | wc -l) -eq 0 ]]
      - run:
          name: Test
          command: |
            make -C test run
      - run:
          name: Artifacts
          command: |
            mkdir ./dist
            mv ./rtloader/libdatadog-agent-rtloader.so* ./three/libdatadog-agent-three.so ./two/libdatadog-agent-two.so ./dist/
            tar -C ./dist -czf datadog-agent-rtloader.tgz .
      - store_artifacts:
          path: ./datadog-agent-rtloader.tgz
      - persist_to_workspace:
          root: .
          paths:
            - ./datadog-agent-rtloader.tgz
  publish-github-release:
    docker:
      - image: cibuilds/github:latest
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -replace ${CIRCLE_TAG} ./datadog-agent-rtloader.tgz

workflows:
  version: 2
  build_and_release:
    jobs:
      - build:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
