fullnameOverride: datadog-agent

datadog:
  apiKeyExistingSecret: gensim-secrets
  appKeyExistingSecret: gensim-secrets
  apm:
    portEnabled: true
    instrumentation:
      enabled: true
  logs:
    enabled: true
    containerCollectAll: true
  processAgent:
    enabled: true
    processCollection: true
  dogstatsd:
    useHostPort: true
  kubelet:
    tlsVerify: false
  clusterName: gensim
  clusterChecks:
    enabled: true
  env:
{{- if eq .Mode "record-parquet"}}
    - name: DD_OBSERVER_RECORDING_ENABLED
      value: "true"
{{- end}}
{{- if eq .Mode "live-anomaly-detection"}}
    - name: DD_OBSERVER_ANALYSIS_ENABLED
      value: "true"
    - name: DD_OBSERVER_EVENT_REPORTER_SENDING_ENABLED
      value: "true"
{{- end}}
{{- if eq .Mode "live-and-record"}}
    - name: DD_OBSERVER_RECORDING_ENABLED
      value: "true"
    - name: DD_OBSERVER_ANALYSIS_ENABLED
      value: "true"
    - name: DD_OBSERVER_EVENT_REPORTER_SENDING_ENABLED
      value: "true"
{{- end}}
    - name: DD_OBSERVER_HIGH_FREQUENCY_INTERVAL
      value: "1s"

agents:
  enabled: true
  image:
    repository: {{.ImageRepo}}
    tag: {{.ImageTag}}
    doNotCheckTag: true
    pullPolicy: Always
  useConfigMap: true
  customAgentConfig:
    observer:
{{- if eq .Mode "record-parquet"}}
      recording:
        enabled: true
        parquet_output_dir: /tmp/observer-parquet
        parquet_flush_interval: 30s
{{- end}}
{{- if eq .Mode "live-anomaly-detection"}}
      analysis:
        enabled: true
      event_reporter:
        sending_enabled: true
{{- end}}
{{- if eq .Mode "live-and-record"}}
      recording:
        enabled: true
        parquet_output_dir: /tmp/observer-parquet
        parquet_flush_interval: 30s
      analysis:
        enabled: true
      event_reporter:
        sending_enabled: true
{{- end}}
  containers:
    agent:
      resources:
        requests:
          memory: 1500Mi
          cpu: 500m
        limits:
          memory: 3000Mi

clusterAgent:
  enabled: true
  admissionController:
    enabled: true
    mutateUnlabelled: true

clusterChecksRunner:
  enabled: false
