{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/collectorStatus.tmpl
* cmd/agent/gui/views/templates/singleCheck.tmpl
*/}}=========
Collector
=========

{{- with .pythonInit -}}
  {{- if .Errors }}
  Error initializing Python
  =========================
    {{ range $err := .Errors -}}
    - {{ $err }}
    {{ end }}
  {{- end -}}
{{- end }}

  Running Checks
  ==============
{{- with .runnerStats }}
  {{- if and (not .Runs) (not .Checks)}}
    No checks have run yet
  {{end -}}

  {{- range $CheckName, $CheckInstances := .Checks}}
    {{ $version := version $CheckInstances }}
    {{$CheckName}}{{ if $version }} ({{$version}}){{ end }}
    {{printDashes $CheckName "-"}}{{- if $version }}{{printDashes $version "-"}}---{{ end }}
    {{- range $instance := $CheckInstances }}
      Instance ID: {{.CheckID}} {{status .}}
      Long Running Check: {{.LongRunning}}
      Configuration Source: {{.CheckConfigSource}}
      {{- if not .LongRunning }}
      Total Runs: {{humanize .TotalRuns}}
      {{- end }}
      Metric Samples:{{ if not .LongRunning }} Last Run: {{humanize .MetricSamples}},{{- end }} Total: {{humanize .TotalMetricSamples}}
      Events:{{- if not .LongRunning }} Last Run: {{humanize .Events}},{{- end }} Total: {{humanize .TotalEvents}}
      {{- range $k, $v := .TotalEventPlatformEvents }}
      {{ $k }}:{{- if not $instance.LongRunning }}Last Run: {{humanize (index $instance.EventPlatformEvents $k) }},{{- end }} Total: {{humanize $v}}
      {{- end }}
      Service Checks:{{- if not $instance.LongRunning }} Last Run: {{humanize .ServiceChecks}},{{- end }} Total: {{humanize .TotalServiceChecks}}
      {{- if .TotalHistogramBuckets}}
      Histogram Buckets:{{- if not $instance.LongRunning }}Last Run: {{humanize .HistogramBuckets}},{{- end }} Total: {{humanize .TotalHistogramBuckets}}
      {{- end }}
      {{- if not .LongRunning }}
      Average Execution Time : {{humanizeDuration .AverageExecutionTime "ms"}}
      Last Execution Date : {{formatUnixTime .UpdateTimestamp}}
      Last Successful Execution Date : {{ if .LastSuccessDate }}{{formatUnixTime .LastSuccessDate}}{{ else }}Never{{ end }}
      {{- end }}
      {{- if $.inventories }}
      {{- if index $.inventories .CheckID }}
      metadata:
      {{- range $k, $v := index $.inventories .CheckID }}
        {{ $k }}: {{ $v }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{if .LastError -}}
      Error: {{lastErrorMessage .LastError}}
      {{lastErrorTraceback .LastError -}}
      {{- end }}
      {{- if .LastWarnings -}}
        {{- range .LastWarnings }}
      Warning: {{.}}
        {{ end -}}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- with .pyLoaderStats }}
  {{- if .Py3Warnings }}
  Python 3 Linter Warnings
  =======================
    {{- range $CheckName, $warnings :=  .Py3Warnings }}
      {{ $CheckName }}
      {{printDashes $CheckName "-"}}
      {{- range $idx, $warning := $warnings}}
        {{$warning}}
      {{- end }}
    {{end}}
  {{- end }}
  {{- if .ConfigureErrors }}
  Check Initialization Errors
  ===========================

    {{ range $CheckName, $errors :=  .ConfigureErrors }}
      {{ $CheckName }}
      {{printDashes $CheckName "-"}}
      {{- range $idx, $err := $errors}}

      instance {{$idx}}:

        {{$err}}
      {{- end }}
    {{- end}}
  {{- end }}
{{- end }}

{{- with .autoConfigStats }}
  {{- if .ConfigErrors}}
  Config Errors
  ==============
    {{- range $checkname, $error := .ConfigErrors }}
    {{$checkname}}
    {{printDashes $checkname "-"}}
      {{$error}}
    {{- end }}
  {{- end}}
{{- end }}

{{- with .checkSchedulerStats }}
  {{- if .LoaderErrors}}
  Loading Errors
  ==============
    {{- range $checkname, $errors := .LoaderErrors }}
    {{$checkname}}
    {{printDashes $checkname "-"}}
      {{- range $kind, $err := $errors -}}
        {{- if eq $kind "Python Check Loader" }}
      {{$kind}}:
        {{$err}}
        {{ else }}
      {{$kind}}:
        {{$err}}
        {{ end }}
      {{- end }}
    {{- end }}
  {{- end}}
{{- end }}
