{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}
=========
DogStatsD
=========
{{- with .dogstatsdStats -}}
{{- range $key, $value := .}}
  {{formatTitle $key}}: {{humanize $value}}
{{- end }}
{{- end }}

Tip: For troubleshooting, enable 'dogstatsd_metrics_stats_enable' in the main datadog.yaml file to generate Dogstatsd logs. Once 'dogstatsd_metrics_stats_enable' is enabled, users can also use 'dogstatsd-stats' command to get visibility of the latest collected metrics.
