{{/*
*/}}
{{ with .orchestrator }}
=====================
Orchestrator Explorer
=====================
  Collection Status: {{ .CollectionWorking }}
{{- if .Error }}
  Error: {{ .Error }}
{{- end }}
{{- if .Disabled }}
  Disabled: {{ .Disabled }}
{{- end }}
{{- if .ClusterIDError }}
  Cluster ID error: {{.ClusterIDError}}
{{- end }}
{{- if .ClusterName }}
  Cluster Name: {{.ClusterName}}
{{- end }}
{{- if .ClusterID }}
  Cluster ID: {{.ClusterID}}
{{- end }}
{{- if .ClusterNameError }}
  Cluster ID error: {{.ClusterNameError}}
{{- end }}

{{- if .ContainerScrubbing }}
  {{.ContainerScrubbing}}
{{- end}}
{{- if .ManifestCollection }}
  {{.ManifestCollection}}
{{- end}}
{{- if and (not .Error) (not .Disabled) }}
{{/* this line intentionally left blank */}}
  ======================
  Orchestrator Endpoints
  ======================
  {{- range $key, $values := .OrchestratorEndpoints}}
  {{- if gt (len $values) 1}}
    {{$key}} - API Keys ending with:
  {{- range $values }}
      - {{ . }}
  {{- end}}
  {{- else}}
    {{$key}} - API Key ending with: {{index $values 0}}
  {{- end}}
  {{- end}}

{{- if .LeaderError }}
    Leader election error: {{.ClusterIDError}}
{{else}}
{{/* this line intentionally left blank */}}
{{- if .Leader }}
  ===========
  Cache Stats
  ===========
    Elements in the cache: {{.CacheNumber}}
{{range $index, $element := .CacheInformation}}
    {{ $element.NodeType }}
      Last Run: (Hits: {{$element.CacheHits}} Miss: {{$element.CacheMiss}}) | Total: (Hits: {{$element.TotalHits}} Miss: {{$element.TotalMiss}})
{{end}}
{{- if .SkippedResources }}
  =================
  Skipped Resources
  =================
  {{- range $name, $reason := .SkippedResources}}
    {{$name}} : {{$reason}}
  {{- end}}
{{- end}}
{{- if .ManifestCollection }}
  =====================
  Manifest Buffer Stats
  =====================
  Buffer Flushed : {{.BufferFlushed}} times
  Last Time Flushed Manifests : {{.ManifestsFlushedLastTime}}
  ==============================
  Manifests Flushed Per Resource
  ==============================
  {{- range $name, $metric := .ManifestBuffer }}
    {{$name}} : {{$metric}}
  {{- end }}
{{- end}}
{{- if .CLCEnabled }}
  ==================================================
  Dispatched Configurations on Cluster Check Runners
  ==================================================
    To print orchestrator check details run agent clusterchecks --check orchestrator
{{end}}
{{else}}
{{- if .LeaderName }}
  Status: Follower, cluster agent leader is: {{ .LeaderName }}
{{else}}
  Leader election in progress, see dedicated section for more info
{{- end}}
{{- end}}
{{- end}}
{{- end}}
{{ end }}
