{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}
{{- with .otlp }}
====
OTLP
====

  Status: {{ if .otlpStatus }}Enabled{{else}}Not enabled{{ end }}
  Collector status: {{ .otlpCollectorStatus }}
  {{ if .otlpCollectorStatusErr }}Error: {{ .otlpCollectorStatusErr }}{{ end }}
{{- end -}}
