{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Build Run Debug",
            "preLaunchTask": "build debug agent",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/agent/agent",
            "env": {},
            "args": [
                "run",
                "-c",
                "${workspaceRoot}/bin/agent/dist/datadog.yaml"
            ]
        },
        {
            "name": "Run Debug",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/agent/agent",
            "env": {},
            "args": [
                "run",
                "-c",
                "${workspaceRoot}/bin/agent/dist/datadog.yaml"
            ]
        },
        {
            "name": "Debug by PID",
            "type": "go",
            "request": "attach",
            "mode": "local"
        },
        {
            "name": "Build Run Debug Otel agent",
            "preLaunchTask": "build debug otel-agent",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/otel-agent/otel-agent",
            "env": {
                "DD_OTELCOLLECTOR_ENABLED": "true"
            },
            "args": [
                "run",
                "--config", "${workspaceRoot}/cmd/otel-agent/dist/otel-config.yaml",
                "--core-config" , "${workspaceRoot}/dev/dist/datadog.yaml",
            ]
        },
        {
            "name": "Run Debug Otel Agent",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/otel-agent/otel-agent",
            "env": {
                "DD_OTELCOLLECTOR_ENABLED": "true"
            },
            "args": [
                "run",
                "--config", "${workspaceRoot}/cmd/otel-agent/dist/otel-config.yaml",
                "--core-config" , "${workspaceRoot}/dev/dist/datadog.yaml",
            ]
        },
        {
            "name": "Test Package",
            "type": "go",
            "request": "launch",
            "mode": "test",
            "program": "${fileDirname}"
        },
        {
            "name": "Remote Debug Tasks",
            "type": "debugpy",
            "request": "attach",
            "connect": {
                "host": "localhost",
                "port": 5678
            },
            "pathMappings": [
                {
                    "localRoot": "${workspaceFolder}",
                    "remoteRoot": "."
                }
            ]
        },
        {
            "name": "Build and deploy using Skaffold",
            "type": "cloudcode.kubernetes",
            "request": "launch",
            "skaffoldConfig": "${workspaceFolder}/skaffold.yaml",
            "watch": false,
            "cleanUp": true,
            "portForward": true,
            "autoStop": false
        }
    ]
}
