{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Build Run Debug",
            "preLaunchTask": "build agent",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/agent/agent",
            "env": {},
            "args": [
                "run",
                "-c",
                "${workspaceRoot}/bin/agent/dist/datadog.yaml"
            ]
        },
        {
            "name": "Run Debug",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/agent/agent",
            "env": {},
            "args": [
                "run",
                "-c",
                "${workspaceRoot}/bin/agent/dist/datadog.yaml"
            ]
        },
        {
            "name": "Test Package",
            "type": "go",
            "request": "launch",
            "mode": "test",
            "program": "${fileDirname}"
        },

// Run process agent checks manually
// If necessary, add arguments "-config", "<custom datadog.yaml file path>" to override the default process agent configuration
        
        {
            "name": "process",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/process-agent/process-agent",
            "env": {},
            "showLog": true, 

            "args": [
                "check",
                "process"
            ]
        },
        {
            "name": "processDiscovery",
            "type": "go",
            "request": "launch",
            "mode": "exec",
            "program": "${workspaceRoot}/bin/process-agent/process-agent",
            "env": {},
            "args": [
                "check",
                "process_discovery"
            ]
        }
    ]
}