{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "build agent",
            "command": "invoke agent.build",
            "args": [],
            "type": "shell",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "problemMatcher": []
        },
        {
            "label": "clean",
            "command": "invoke agent.clean",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "install dependencies",
            "command": "invoke deps",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "all tests",
            "command": "invoke test",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        }
    ]
}