{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "build agent",
            "command": "deva inv -e agent.build",
            "args": [],
            "type": "shell",
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "problemMatcher": []
        },
        {
            "label": "clean",
            "command": "deva inv -e agent.clean",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "install dependencies",
            "command": "deva inv -e deps",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "go linters",
            "command": "deva inv -e linter.go",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "go tests",
            "command": "deva inv -e test",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        },
        {
            "label": "go linters and tests",
            "command": "deva inv -e test",
            "args": [],
            "type": "shell",
            "problemMatcher": []
        }
    ]
}
