Compliance Checks
=========================
{{- $runnerStats := .RunnerStats }}
{{- range $Check := .ComplianceChecks }}
  {{ $Check.Name }}
  {{printDashes $Check.Name "-"}}
    Framework: {{ $Check.Framework }} ({{ $Check.Version }})
    Source: {{ $Check.Source }}
  {{- if $Check.InitError }}
    Configuration: [{{ yellowText $Check.InitError }}]
  {{- else }}
    Configuration: [{{ greenText "OK"}}]
  {{- if $Check.LastEvent }}

    Report:
      Result: {{ complianceResult $Check.LastEvent.result }}
      Data:
      {{- range $k, $v := $Check.LastEvent.data }}
        {{ $k }}: {{ $v }}
      {{- end }}
  {{- end }}
  {{- if and $runnerStats.Checks (index $runnerStats.Checks $Check.Name) }}
    {{ $checkInstances := index $runnerStats.Checks $Check.Name }}
    {{- range $checkInstances }}
    Total Runs: {{humanize .TotalRuns}}
    Average Execution Time : {{humanizeDuration .AverageExecutionTime "ms"}}
    Last Execution Date : {{formatUnixTime .UpdateTimestamp 1}}
    Last Successful Execution Date : {{ if .LastSuccessDate }}{{formatUnixTime .LastSuccessDate 1}}{{ else }}Never{{ end }}
      {{- if $.CheckMetadata }}
      {{- if index $.CheckMetadata .CheckID }}
      metadata:
      {{- range $k, $v := index $.CheckMetadata .CheckID }}
        {{ $k }}: {{ $v }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .LastError }}
    Error: {{lastErrorMessage .LastError}}
      {{lastErrorTraceback .LastError -}}
      {{- end }}
      {{- if .LastWarnings }}
        {{- range .LastWarnings }}
    Warning: {{.}}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{ greenText "Check has not run yet" }}
  {{- end }}
  {{- end }}
{{ end }}
