{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
* Dockerfiles/cluster-agent/dist/templates/forwarder.tmpl
*/}}==========
Endpoints
==========

{{- with .}}
  {{- range $key, $value := .}}
  {{$key}} - API Key{{ if gt (len $value) 1}}s{{end}} ending with: 
    {{- range $idx, $apikey := $value }}
      - {{$apikey}}
    {{- end}}
  {{- end}}
{{- else }}

  No endpoints information. The agent may be misconfigured.
{{- end }}

