{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}=========
Forwarder
=========
{{ if .Transactions }}
  Transactions
  ============
  {{/* this line intentionally left blank */}}
  {{- if .Transactions.DroppedOnInput }}

    Warning: the forwarder dropped transactions, there is probably an issue with your network
    More info at https://github.com/DataDog/datadog-agent/tree/master/docs/agent/status.md
  {{- end}}

  {{- range $key, $value := .Transactions }}
    {{- if and (ne $key "Errors") (ne $key "ErrorsByType") (ne $key "HTTPErrors") (ne $key "HTTPErrorsByCode") }}
      {{- if and (ne $key "Retried") (ne $key "Dropped") (ne $key "Requeued") (ne $key "Count") (ne $key "Bytes") (ne $key "Success") (ne $key "SuccessBytes") (ne $key "OrchestratorCount") (ne $key "ConnectionEvents")}}
    {{$key}}: {{humanize $value}}
    {{/* this line intentionally left blank */}}
      {{- else}}
        {{- if $value}}
    {{$key}}
    =================
          {{- range $key, $value := $value }}
      {{$key}}: {{humanize $value}}
          {{- end}}
        {{/* this line intentionally left blank */}}
        {{- end}}
      {{- end}}
    {{- end}}
  {{- end}}
  {{- if .Transactions.Errors }}

  Transaction Errors
  ==================
    Total number: {{.Transactions.Errors}}
    Errors By Type:
          {{- range $type, $count := .Transactions.ErrorsByType }}
            {{- if $count }}
      {{$type}}: {{humanize $count}}
            {{- end}}
          {{- end}}
  {{- end}}
  {{- if .Transactions.HTTPErrors }}

  HTTP Errors
  ==================
    Total number: {{.Transactions.HTTPErrors}}
    HTTP Errors By Code:
      {{- range $code, $count := .Transactions.HTTPErrorsByCode }}
      {{$code}}: {{humanize $count}}
      {{- end}}
  {{- end}}
{{- end}}

{{- if .APIKeyStatus }}

  API Keys status
  ===============
  {{- range $key, $value := .APIKeyStatus }}
    {{$key}}: {{$value}}
  {{- end }}
{{- end}}

