{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}{{printDashes .title "="}}
{{.title}}
{{printDashes .title "="}}

  Status date: {{.time}}
  Agent start: {{.agent_start}}
  Pid: {{.pid}}
  Go Version: {{.go_version}}
  {{- if .python_version }}
  Python Version: {{.python_version}}
  {{- end }}
  Build arch: {{.build_arch}}
  {{- if .runnerStats.Workers}}
  Check Runners: {{.runnerStats.Workers}}
  {{end -}}
  {{- if .config.log_file}}
  Log File: {{.config.log_file}}
  {{end -}}
  Log Level: {{.config.log_level}}

  Paths
  =====
    Config File: {{if .conf_file}}{{.conf_file}}{{else}}There is no config file{{end}}
    conf.d: {{.config.confd_path}}
    {{- if .config.additional_checksd }}
    checks.d: {{.config.additional_checksd}}
    {{- end }}

  Clocks
  ======
    {{- if .ntpOffset }}
    NTP offset: {{ humanizeDuration .ntpOffset "s"}}
    {{- if ntpWarning .ntpOffset}}
    {{yellowText "NTP offset is high. Datadog may ignore metrics sent by this Agent."}}
    {{- end }}
    {{- end }}
    System UTC time: {{.time}}

{{- if .hostinfo }}

  Host Info
  =========
  {{- range $name, $value := .hostinfo -}}
    {{- if and (ne $name "hostname") (ne $name "hostid") ($value) }}
    {{$name}}: {{if eq $name "bootTime" }}{{ formatUnixTime $value }}{{ else }}{{if eq $name "uptime" }}{{ humanizeDuration $value "s"}}{{ else }}{{ $value }}{{ end }}{{ end }}
    {{- end }}
  {{- end }}
{{- end }}

  Hostnames
  =========
  {{- range $name, $value := .metadata.meta -}}
    {{- if and (ne $name "timezones") ($value) }}
    {{$name}}: {{$value}}
    {{- end }}
  {{- end }}
  {{- if .hostTags }}
  {{- if gt (len .hostTags) 0 }}
    host tags:
    {{- range $tag := .hostTags}}
      {{$tag}}
    {{- end }}
  {{- end }}
  {{- end }}
    hostname provider: {{.hostnameStats.provider}}
  {{- if gt (len .hostnameStats.errors) 0 }}
    unused hostname providers:
  {{- end }}
  {{- range $name, $value := .hostnameStats.errors -}}
      {{- if ne $name "all" }}
      {{$name}}: {{$value}}
      {{- end}}
  {{- end }}
  {{- if .hostnameStats.errors.all }}
    error: {{.hostnameStats.errors.all}}
  {{- end }}

  Metadata
  ========
  {{- range $key, $value := .agent_metadata }}
    {{ $key }}: {{ $value }}
  {{- end }}

{{- if .leaderelection}}

Leader Election
===============
  Leader Election Status:  {{.leaderelection.status}}
  {{- if eq .leaderelection.status "Failing"}}
  Error: {{.leaderelection.error}}
  {{else}}
  Leader Name is: {{.leaderelection.leaderName}}
  Last Acquisition of the lease: {{.leaderelection.acquiredTime}}
  Renewed leadership: {{.leaderelection.renewedTime}}
  Number of leader transitions: {{.leaderelection.transitions}}
  {{- end}}
{{- end}}

{{- if .custommetrics }}

Custom Metrics Server
=====================
  {{- if .custommetrics.Error }}
  Error: {{ .custommetrics.Error }}
  {{ else }}
  {{- if .custommetrics.Disabled }}
  Disabled: {{ .custommetrics.Disabled }}
  {{ else }}
  {{- if .custommetrics.NoStatus }}
  {{ .custommetrics.NoStatus }}
  {{ else }}
  ConfigMap name: {{ .custommetrics.Cmname }}
  {{- if .custommetrics.StoreError }}
  Error: {{ .custommetrics.StoreError }}
  {{ else }}
  External Metrics
  ----------------
    {{- if .custommetrics.External.ListError }}
    Error: {{ .custommetrics.External.ListError }}
    {{ else }}
    Total: {{ .custommetrics.External.Total }}
    Valid: {{ .custommetrics.External.Valid }}
    {{ range $metric := .custommetrics.External.Metrics }}
  * {{$metric.reference.type}} pod autoscaler: {{$metric.reference.namespace}}/{{$metric.reference.name}}
    Metric name: {{$metric.metricName}}
    Labels:
    {{- range $k, $v := $metric.labels }}
    - {{$k}}: {{$v}}
    {{- end }}
    Value: {{ humanize $metric.value}}
    Timestamp: {{ formatUnixTime $metric.ts}}
    Valid: {{$metric.valid}}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}

{{- if .clusterchecks }}

Cluster Checks Dispatching
==========================
{{- if .clusterchecks.Leader }}
  {{- if .clusterchecks.Active }}
  Status: Leader, serving requests
  Active nodes: {{ .clusterchecks.NodeCount }}
  Check Configurations: {{ .clusterchecks.TotalConfigs }}
    - Dispatched: {{ .clusterchecks.ActiveConfigs }}
    - Unassigned: {{ .clusterchecks.DanglingConfigs }}
  {{- else }}
  Status: Leader, warming up
  {{- end }}
{{- else if .clusterchecks.Follower }}
{{- if .clusterchecks.LeaderIP }}
  Status: Follower, redirecting to leader at {{ .clusterchecks.LeaderIP }}
  {{- else }}
  Status: Follower, no leader found
  {{- end }}
{{- else }}
  Status: unknown
{{- end }}
{{- end }}
{{/* this line intentionally left blank */}}
