{{printDashes .title "="}}
{{doNotEscape .title}}
{{printDashes .title "="}}

  Status date: {{.time}}
  Pid: {{.pid}}
  Python Version: {{.platform.pythonV}}
  Logs: <stderr>, /var/log/datadog/collector.log, syslog:/dev/log

  Clocks
  ======

    NTP offset: 7850.7797 s
    System UTC time: {{.time}}

  Host Info
  =========
    {{ range $type, $value := .hostinfo -}}
    {{- if ne $type "hostname" -}} {{if $value}}
    {{$type}}: {{if eq $type "bootTime" -}}
    {{- formatUnixTime $value -}}
    {{- else -}}
    {{- $value -}}
    {{- end -}}
    {{end -}} {{end -}} {{- end}}

  Hostnames
  =========
    {{ range $type, $value := .metadata.meta }} {{ if ne $type "timezones" -}} {{if $value -}}
    {{$type}}: {{$value}}
    {{- end}} {{end}}
    {{end}}
