{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}========
JMXFetch
========
{{ if .JMXStartupError.LastError }}
  JMX startup errors
  ==================
    Error: {{ .JMXStartupError.LastError }}
    Date: {{ formatUnixTime .JMXStartupError.Timestamp false 1}}
{{ end -}}
{{ with .JMXStatus }}
  Information
  ==================
  {{- range $k,$v := .info }}
    {{ $k }} : {{ $v }}
  {{- end }}
  {{- if .errors }}
    Socket errors: {{ .errors }}
  {{- end }}
  {{- if and (not .timestamp) (not .checks) }}
  no JMX status available
  {{- else }}
  Initialized checks
  ==================
    {{- if (not .checks.initialized_checks)}}
    no checks
    {{ else }}
      {{- range $check,$instances := .checks.initialized_checks }}
    {{ $check -}}
        {{- range $instance := $instances }}
          {{- range $k,$v := $instance }}
      {{ $k }} : {{ $v }}
          {{- end -}}
        {{- end -}}
      {{- end }}
    {{- end }}
  Failed checks
  =============
    {{- if (not .checks.failed_checks)}}
    no checks
    {{ else }}
      {{- range $check,$instances := .checks.failed_checks }}
    {{ $check }}
        {{- range $instance := $instances }}
          {{- range $k,$v := $instance }}
      {{ $k }} : {{ $v }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
