{{/*
*/}}=====================
Orchestrator Explorer
=====================

{{- if .Error }}
  Error: {{ .Error }}
{{- end }}
{{- if .Disabled }}
  Disabled: {{ .Disabled }}
{{- end }}
{{- if .ClusterIDError }}
  ClusterIDError: {{.ClusterIDError}}
{{- end }}

{{- if .ClusterID }}
  ClusterID: {{.ClusterID}}
{{- end }}
{{- if .ClusterNameError }}
  ClusterIDError: {{.ClusterNameError}}
{{- end }}

{{- if .ClusterName }}
  ClusterName: {{.ClusterName}}
{{- end }}

  ====================
  Orchestrator Options
  ====================
    {{ .ContainerScrubbing }}

  ======================
  Orchestrator Endpoints
  ======================
{{- if .OrchestratorEndpoint }}
    OrchestratorEndpoint: {{.OrchestratorEndpoint}}
{{- end }}
{{- if .OrchestratorAdditionalEndpoints }}
    OrchestratorAdditionalEndpoints: {{.OrchestratorAdditionalEndpoints}}
{{- end }}

  ===============
  Forwarder Stats
  ===============
{{- with .Transactions -}}
    Pods: {{.Pods}} (Cache hits: {{.podCacheHits}})
    Deployments: {{.Deployments}} (Cache hits: {{.deploymentCacheHits}})
    ReplicaSets: {{.ReplicaSets}} (Cache hits: {{.replicaSetCacheHits}})
    Services: {{.Services}} (Cache hits: {{.serviceCacheHits}})
    Nodes: {{.Nodes}} (Cache hits: {{.nodesCacheHits}})
{{- end -}}
{{/* this line intentionally left blank */}}
