{{/*
*/}}=====================
Orchestrator Explorer
=====================

{{- if .Error }}
  Error: {{ .Error }}
{{- end }}
{{- if .Disabled }}
  Disabled: {{ .Disabled }}
{{- end }}
{{- if .ClusterIDError }}
  ClusterIDError: {{.ClusterIDError}}
{{- end }}

{{- if .ClusterID }}
  ClusterID: {{.ClusterID}}
{{- end }}
{{- if .ClusterNameError }}
  ClusterIDError: {{.ClusterNameError}}
{{- end }}

{{- if .ClusterName }}
  ClusterName: {{.ClusterName}}
{{- end }}

  ====================
  Orchestrator Options
  ====================
    {{ .ContainerScrubbing }}

  ======================
  Orchestrator Endpoints
  ======================
{{- if .OrchestratorEndpoint }}
    OrchestratorEndpoint: {{.OrchestratorEndpoint}}
{{- end }}
{{- if .OrchestratorAdditionalEndpoints }}
    OrchestratorAdditionalEndpoints: {{.OrchestratorAdditionalEndpoints}}
{{- end }}

  ===============
  Forwarder Stats
  ===============
    Pods: {{.forwarderStatsPods}}
    Deployments: {{.forwarderStatsDeployment}}
    ReplicaSets: {{.forwarderStatsReplicaSets}}
    Services: {{.forwarderStatsServices}}
    Nodes: {{.forwarderStatsNodes}}
{{/* this line intentionally left blank */}}
