{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}
====================
Remote Configuration
====================
    {{ with .remoteConfiguration }}
    API Key: {{ if .apiKeyScoped }}Authorized{{ else }}Not authorized{{ end }}
    Feature: {{ if .orgEnabled }}Enabled{{ else }}Disabled{{ end }}
    Last error: {{ if .lastError }}{{ .lastError }}{{ else }}None{{ end }}
    {{ else }}
    Remote Configuration is disabled
    {{ end }}
