{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}{{ if gt (len .) 0 }}
====================
Status render errors
====================
{{- range $err := . }}
  {{ $err }}
{{ end }}
{{ end }}
