{{/*
NOTE: Changes made to this template should be reflected on the following templates, if applicable:
* cmd/agent/gui/views/templates/generalStatus.tmpl
*/}}
============
System Probe
============

{{- if .Errors }}
  System Probe is not running:

    Errors
    {{ printDashes "Errors" "=" }}
    {{ .Errors }}

{{- else }}
System Probe is running

{{- end }}


{{- if .network_tracer.state.clients }}

  Connection Clients: {{ len .network_tracer.state.clients }}

{{- end }}

