Datadog Installer v{{ htmlSafe .Version }}
{{ range $name, $packageState := .Packages }}
{{ $version := $packageState.Version }}
{{ $config := $packageState.Config }}
{{ boldText $name }}
  State: {{ if $version.Experiment -}}{{ yellowText "Upgrading" }}{{- else if $version.Stable -}}{{ greenText "OK" }}{{- else -}}config only{{- end }}
  Installed versions:
  {{- if $version.Stable }}
    {{ greenText "●" }} stable: v{{ htmlSafe $version.Stable }}
  {{- else }}
    ● stable: none
  {{- end }}
  {{- if $version.Experiment }}
    {{ yellowText "●" }} experiment: v{{ htmlSafe $version.Experiment }}
  {{- else }}
    ● experiment: none
  {{- end }}
  {{- if $config.Stable }}
    {{ greenText "●" }} stable config: v{{ htmlSafe $config.Stable }}
  {{- else }}
    ● stable config: none
  {{- end }}
  {{- if $config.Experiment }}
    {{ yellowText "●" }} experiment config: v{{ htmlSafe $config.Experiment }}
  {{- else }}
    ● experiment config: none
  {{- end }}


  {{- if eq $name "datadog-apm-inject" }}
    {{ template "datadog-apm-inject" $.ApmInjectionStatus }}
  {{- end }}

  {{- range $remoteConfig := $.RemoteConfigState }}
    {{- if eq $remoteConfig.Package $name }}
  Remote configuration client state:
    StableVersion: {{ $remoteConfig.StableVersion }}
    ExperimentVersion: {{ $remoteConfig.ExperimentVersion }}
    StableConfigVersion: {{ $remoteConfig.StableConfigVersion }}
    ExperimentConfigVersion: {{ $remoteConfig.ExperimentConfigVersion }}
    Task:
      {{- if $remoteConfig.Task }}
        Id: {{ $remoteConfig.Task.Id }}
        State: {{ $remoteConfig.Task.State }}
        {{- if $remoteConfig.Task.Error }}
          Error: {{ $remoteConfig.Task.Error }}
        {{- end }}
      {{- else }}
        No task available
      {{- end }}
    {{- end }}
  {{- end }}
{{ end -}}

{{- define "datadog-apm-inject" }}
  Instrumentation status:
    {{ if eq .HostInstrumented true -}}
      {{ greenText "●" }} Host: Instrumented
    {{- else -}}
      {{ redText "●" }} Host: Not instrumented
    {{- end }}
    {{ if eq .DockerInstalled false -}}
      {{ italicText "●" }} Docker: {{ italicText "not installed" }}
    {{- else if eq .DockerInstrumented true -}}
      {{ greenText "●" }} Docker: Instrumented
    {{- else -}}
      {{ redText "●" }} Docker: Not instrumented
    {{- end }}
{{- end }}
