Datadog Installer v{{ htmlSafe .Version }}
{{ range $name, $package := .Packages }}
{{ boldText $name }}
  State: {{ if $package.Experiment -}}{{ yellowText "Upgrading" }}{{- else if $package.Stable -}}{{ greenText "OK" }}{{- else -}}{{ redText "no stable version" }}{{- end }}
  Installed versions:
  {{- if $package.Stable }}
    {{ greenText "●" }} stable: v{{ htmlSafe $package.Stable }}
  {{- else }}
    {{ redText "●" }} stable: none
  {{- end }}{{ if $package.Experiment }}
    {{ yellowText "●" }} experiment: v{{ htmlSafe $package.Experiment }}
  {{- else }}
    ● experiment: none
  {{- end }}
  {{- if eq $name "datadog-apm-inject" }}{{ template "datadog-apm-inject" $.ApmInjectionStatus }}{{ end }}
{{ end -}}
{{- if .RemoteConfigState }}
{{ template "remote-config-state" $.RemoteConfigState }}
{{- end -}}

{{- define "datadog-apm-inject" }}
  Instrumentation status:
    {{ if eq .HostInstrumented true -}}
      {{ greenText "●" }} Host: Instrumented
    {{- else -}}
      {{ redText "●" }} Host: Not instrumented
    {{- end }}
    {{ if eq .DockerInstalled false -}}
      {{ italicText "●" }} Docker: {{ italicText "not installed" }}
    {{- else if eq .DockerInstrumented true -}}
      {{ greenText "●" }} Docker: Instrumented
    {{- else -}}
      {{ redText "●" }} Docker: Not instrumented
    {{- end }}
{{- end -}}

{{- define "remote-config-state" }}
  Remote configuration client state:
  {{ range . }}
    {{ boldText .Package }}
      StableVersion: {{ .StableVersion }}
      ExperimentVersion: {{ .ExperimentVersion }}
      StableConfigVersion: {{ .StableConfigVersion }}
      ExperimentConfigVersion: {{ .ExperimentConfigVersion }}
      RemoteConfigVersion: {{ .RemoteConfigVersion }}
      Task:
        {{- if .Task }}
          Id: {{ .Task.Id }}
          State: {{ .Task.State }}
          {{- if .Task.Error }}
            Error: {{ .Task.Error }}
          {{- end }}
        {{- else }}
          No task available
        {{- end }}
  {{ end }}
{{- end }}
