ansible==6.3.0
ansible-core==2.13.3
attrs==22.1.0
aws-cdk-lib==2.50.0
backoff==2.2.1
black==22.8.0
blinker==1.6.2
bytecode==0.14.2
cattrs==22.2.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
constructs==10.1.161
cryptography==37.0.4
ddsketch==2.0.4
ddtrace==1.14.0
Deprecated==1.2.14
envier==0.4.0
exceptiongroup==1.0.4
Flask==2.3.2
googleapis-common-protos==1.59.0
grpcio==1.54.2
idna==3.4
importlib-metadata==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsii==1.71.0
jsonschema==4.17.3
MarkupSafe==2.1.2
mypy-extensions==0.4.3
opentelemetry-api==1.18.0
opentelemetry-distro==0.39b0
opentelemetry-exporter-otlp-proto-common==1.18.0
opentelemetry-exporter-otlp-proto-grpc==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-flask==0.39b0
opentelemetry-instrumentation-wsgi==0.39b0
opentelemetry-proto==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opentelemetry-util-http==0.39b0
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
protobuf==4.23.2
publication==0.0.3
pycparser==2.21
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
resolvelib==0.8.1
six==1.16.0
tenacity==8.2.2
tomli==2.0.1
typeguard==2.13.3
typing_extensions==4.6.2
urllib3==2.0.2
Werkzeug==2.3.4
wrapt==1.15.0
xmltodict==0.13.0
zipp==3.15.0
