# Environments configuration, validated and passed to Pulumi

configParams:
  # aws configuration

  aws:
    # aws account where resources will be created on
    # example "agent-sandbox"
    account: ""

    # aws key pair name
    # must be available in aws sandbox account
    # required to configure EC2 instances

    keyPairName: ""
    # local path to the public ssh key
    # use the public key you registered on aws sandbox account
    # required to configure Windows EC2 instances

    publicKeyPath: ""

    # team tag labeling all resources. In real config this
    # would be the github team name

    teamTag: ""

  # azure configuration
  azure:
      # azure account where resources will be created on
      # defaults to "agent-sandbox"
      account: "agent-sandbox"

      # local path to your public ssh key
      publicKeyPath: ""

  # agent related config
  agent:
    # Datadog API key
    # Required with real Datadog intake
    # Use dummy "00000000000000000000000000000000" with fakeintake

    apiKey: "00000000000000000000000000000000"
# Raw stack parameters for Pulumi, passed as-is to the so called ConfigMap
# There is no validation over these values, useful to pass parameters not yet documented

stackParams:
  # # namespace

  # <namespace>:
  #   # parameters
  #   <paramName>: ""
# invoke task configuration

options:
  # # enables checking defaultKeyPairName exists locally
  # # optional, default to false
  
  # checkKeyPair: false
