{{- if not .adEnabledFeatures }}
  Not enabled
{{ else }}
{{- with .adEnabledFeatures}}
  Enabled Features
  ================
  {{- range $feature, $empty := . }}
    {{ $feature }}
  {{- end }}
{{ end }}

{{- with .adConfigErrors}}
  Configuration Errors
  ====================
  {{- range $configprovider, $configerrors := . }}
  {{- if $configerrors -}}
    {{- range $identifier, $errmap := $configerrors }}
    {{ $identifier }}
    {{ printDashes $identifier "-" }}
      {{- range $err, $empty := $errmap}}
        {{ $err }}
      {{- end }}
    {{- end -}}
  {{- end -}}
  {{- end }}
{{ end }}

{{- with .filterErrors }}
  Container Inclusion/Exclusion Errors
  ====================================
  {{- range $filtererror, $empty := . }}
    {{ $filtererror }}
  {{- end }}
{{- end -}}
{{- end -}}
