events {
    worker_connections 768;
}

http {
    resolver 127.0.0.11 ipv6=off;

    ##
    # Basic Settings
    ##
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;

    server {
        listen 443 ssl;
        ssl_certificate         /etc/ssl/certs/nginx-signed.crt;
        ssl_certificate_key     /etc/ssl/private/nginx-signed.key;

        root /var/www/html;

        location / {
            proxy_pass                  http://receiver:7077;
            proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header            Host $http_host;
            proxy_set_header            X-Forwarded-Proto https;
            proxy_set_header            X-NginX-Proxy true;
            proxy_pass_request_headers  on;
            proxy_http_version          1.1;
        }
    }

    ##
    # SSL Settings
    ##
    ssl_protocols               TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers   on;

    ##
    # Logging Settings
    ##
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;
}
