test_gitlab_configuration:
  stage: .pre
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/deb_x64$DATADOG_AGENT_BUILDIMAGES_SUFFIX:$DATADOG_AGENT_BUILDIMAGES
  tags: ["arch:amd64"]
  rules:
    - !reference [.on_gitlab_changes]
  script:
    - source $CI_PROJECT_DIR/tools/ci/open_file_descriptor.sh
    - $CI_PROJECT_DIR/tools/ci/fetch_secret.sh $GITLAB_FULL_API_TOKEN
    - EXIT_CODE=$?; if [ $EXIT_CODE -ne 0 ]; then exit $EXIT_CODE; fi
    - export GITLAB_TOKEN=$(pop_front)
    - inv -e linter.gitlab-ci
    - inv -e linter.job-change-path
    - inv -e linter.gitlab-change-paths
    - inv -e linter.ssm-parameters

test_gitlab_compare_to:
  stage: .pre
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/deb_x64$DATADOG_AGENT_BUILDIMAGES_SUFFIX:$DATADOG_AGENT_BUILDIMAGES
  tags: ["arch:amd64"]
  rules:
    - !reference [.on_gitlab_changes]
  script:
    - source /root/.bashrc
    - export GITLAB_TOKEN=$($CI_PROJECT_DIR/tools/ci/fetch_secret.sh $GITLAB_FULL_API_TOKEN)
    - !reference [.setup_agent_github_app]
    - pip install -r tasks/requirements.txt
    - inv pipeline.compare-to-itself
