---
name: "Ask for code reviews"

on:
  pull_request:
    types: [labeled, review_requested]

permissions: {}

jobs:
  ask-reviews:
    if: github.triggering_actor != 'dd-devflow[bot]' && (github.event.action != 'labeled' || github.event.label.name == 'ask-review')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Install dda
        uses: ./.github/actions/install-dda
        with:
          features: legacy-tasks
      - name: Ask for code reviews
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_DATADOG_AGENT_BOT_TOKEN: ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
        run: |
          options=()
          if [ "${{ github.event.action }}" == "labeled" ] && [ "${{ github.event.label.name }}" == "ask-review" ]; then
            options+=(-t '${{ toJSON(github.event.pull_request.requested_teams) }}')
          elif [ "${{ github.event.action }}" == "review_requested" ]; then
            options+=(-r '${{ github.event.requested_team.slug }}')
          fi
          dda inv -- -e issue.ask-reviews -p "${{ github.event.pull_request.number }}" "${options[@]}"
