---
name: "Assign issue to a team"

on:
  issues:
    types: [opened, reopened]

jobs:
  auto_assign_issue:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/datadog/agent-issue-auto-assign:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
        packages: read
        issues: write
    environment:
      name: main
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Install dda
      uses: ./.github/actions/install-dda
      with:
        features: legacy-tasks
    - name: Assign issue
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_DATADOG_AGENT_BOT_TOKEN : ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
      run: >-
        dda inv --dep torch --dep transformers
        --
        -e issue.assign-owner -i ${{ github.event.issue.number }}
