name: Backport PR
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    name: Backport PR
    runs-on: ubuntu-latest
    if: >
      github.event.pull_request.merged
      && (
        github.event.action == 'closed'
        || (
          github.event.action == 'labeled'
          && contains(github.event.label.name, 'backport')
        )
      )
    permissions:
      id-token: write # This is required for getting the required OIDC token from GitHub
    steps:
      - name: Install dda
        uses: ./.github/actions/install-dda
        with:
          features: github

      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/datadog-agent
          policy: self.backport-pr.create-pr

      - name: Backport PR
        run: dda gh backport
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
