name: "Chase missing release managers in confluence"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Full version of the release to schedule (e.g. 7.31.0)'
        required: true
        type: string

permissions: {}

jobs:
  chase_release_managers:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        ref: ${{ github.head_ref }}
    - name: Install python
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: 3.11
        cache: "pip"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r tasks/libs/requirements-github.txt -r tasks/requirements_release_tasks.txt
    - name: Chase release managers
      env:
        ATLASSIAN_USERNAME : ${{ secrets.ATLASSIAN_USERNAME }}
        ATLASSIAN_PASSWORD : ${{ secrets.ATLASSIAN_PASSWORD }}
        SLACK_API_TOKEN : ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
        VERSION: ${{ github.event.inputs.version }}
      run: |
        inv -e release.chase-release-managers --version "$VERSION"
