name: "Chase missing release managers in confluence"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Full version of the release to schedule (e.g. 7.31.0)'
        required: true
        type: string

permissions: {}

jobs:
  chase_release_managers:
    runs-on: ubuntu-latest
    environment:
      name: main
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: ${{ github.head_ref }}
        persist-credentials: false
    - name: Install dda
      uses: ./.github/actions/install-dda
      with:
        features: legacy-tasks
    - name: Chase release managers
      env:
        ATLASSIAN_USERNAME : ${{ secrets.ATLASSIAN_USERNAME }}
        ATLASSIAN_PASSWORD : ${{ secrets.ATLASSIAN_PASSWORD }}
        SLACK_DATADOG_AGENT_BOT_TOKEN : ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
        VERSION: ${{ github.event.inputs.version }}
      run: |
        dda inv -- -e release.chase-release-managers --version "$VERSION"
