---
name: "PR complexity label"

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
  pull_request_review_comment:
    types: [created, deleted]

permissions: {}
jobs:
  codereview-complexity:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      pull-requests: write
    if: github.event.pull_request.head.repo.full_name == github.repository # Run only on non-fork PRs
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install dda
        uses: ./.github/actions/install-dda
        with:
          features: legacy-tasks
      - name: Check code review complexity
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dda inv -- -e github.assign-codereview-label --pr-id="$PR_NUMBER"
