name: Create RC PR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1" # Run Agent 6 workflow on Monday at 09:00 UTC

permissions: {}

jobs:
  find_release_branches:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for getting the required OIDC token from GitHub
    environment:
      name: main
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .dda
            .github
            tasks
          persist-credentials: false

      - name: Install dda
        uses: ./.github/actions/install-dda
        with:
          features: legacy-tasks

      - name: Check previous agent 6 RC status
        env:
          DD_SITE: "datadoghq.com"
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_APP_KEY: ${{ secrets.DD_APP_KEY }}
          SLACK_DATADOG_AGENT_BOT_TOKEN: ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dda inv -- -e release.check-previous-agent6-rc

      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/datadog-agent
          policy: self.create-rc-pr.create-pr

      - name: Checkout the main branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: true
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Install dda
        uses: ./.github/actions/install-dda
        with:
          features: legacy-tasks

      - name: Check for changes since last RC
        id: check_for_changes
        env:
          ATLASSIAN_USERNAME: ${{ secrets.ATLASSIAN_USERNAME }}
          ATLASSIAN_PASSWORD: ${{ secrets.ATLASSIAN_PASSWORD }}
          SLACK_DATADOG_AGENT_BOT_TOKEN: ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
        run: |
          if ! dda inv -- -e release.check-for-changes -r "6.53.x"; then
            echo "CHANGES=true" >> $GITHUB_OUTPUT
          else
            echo "CHANGES=false" >> $GITHUB_OUTPUT
          fi

      - name: Check if agent 6 is in qualification phase
        env:
          SLACK_DATADOG_AGENT_BOT_TOKEN: ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
        run: |
          is_qualification=$(dda inv -- -e release.is-qualification -r 6.53.x --output)
          echo "IS_QUALIFICATION=$is_qualification" >> $GITHUB_ENV
          if [[ "$is_qualification" == "true" && "${{ steps.check_for_changes.outputs.CHANGES }}" == "false" ]]; then
            dda inv -- -e release.alert-ci-on-call -r 6.53.x
          fi

      - name: Create RC PR
        if: ${{ steps.check_for_changes.outputs.CHANGES == 'true' || env.IS_QUALIFICATION == 'false' }}
        env:
          SLACK_DATADOG_AGENT_BOT_TOKEN: ${{ secrets.SLACK_DATADOG_AGENT_BOT_TOKEN }}
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
        run: dda inv -- -e release.create-rc -r "6.53.x" --patch-version
