name: "Create release schedule on confluence"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Full version of the release to schedule (e.g. 7.31.0)'
        required: true
        type: string
      cutoff_date:
        description: 'Isoformat date when we the cut-off happens (e.g. 2023-12-31)'
        required: true
        type: string

permissions: {}


jobs:
  create_release_schedule:
    runs-on: ubuntu-latest
    environment:
      name: main
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ github.head_ref }}
        persist-credentials: false
    - name: Install dda
      uses: ./.github/actions/install-dda
      with:
        features: legacy-tasks
    - name: Create release schedule
      env:
        ATLASSIAN_USERNAME : ${{ secrets.ATLASSIAN_USERNAME }}
        ATLASSIAN_PASSWORD : ${{ secrets.ATLASSIAN_PASSWORD }}
        INPUT_VERSION: ${{ github.event.inputs.version }}
        CUTOFF_DATE: ${{ github.event.inputs.cutoff_date }}
      run: |
        dda inv -- -e release.create-schedule --version "$INPUT_VERSION" --cutoff-date "$CUTOFF_DATE"
