on: [push]

name: Datadog Static Analysis

permissions: {}

jobs:
  static-analysis:
    if: github.triggering_actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: Datadog Static Analyzer
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - name: Check code meets quality and security standards
      id: datadog-static-analysis
      uses: DataDog/datadog-static-analyzer-github-action@1297a546e6bb268e2ac5bc98a1477d22be335822 # v1.2.2
      with:
        dd_api_key: ${{ secrets.DD_STATIC_ANALYZER_API_KEY }}
        dd_app_key: ${{ secrets.DD_STATIC_ANALYZER_APP_KEY }}
        dd_service: datadog-agent
        dd_env: ci
        dd_site: datadoghq.com
        cpu_count: 2
