# Fails a pull request if a label contains `do-not-merge`
# credit: https://github.com/jessesquires/gh-workflows/blob/main/.github/workflows/do-not-merge.yml

name: Do Not Merge

on:
  pull_request:
    types: [synchronize, opened, reopened, labeled, unlabeled]
  push:
    branches:
      - mq-working-branch-*

jobs:
  do-not-merge:
    if: ${{ contains(github.event.*.labels.*.name, 'do-not-merge/hold') || contains(github.event.*.labels.*.name, 'do-not-merge/WIP') }}
    name: Check Do Not Merge
    runs-on: ubuntu-latest
    steps:
      - name: check for label
        run: |
          echo "Pull request is labeled as 'do-not-merge'"
          echo "This workflow fails so that the pull request cannot be merged"
          exit 1
