name: "Gohai Test"

# Only run the tests if pkg/gohai was changed
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"
  pull_request:
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"

permissions: {}

jobs:
  gohai_test:
    strategy:
      matrix:
        # Use oldest and latest available ubuntu, macos and windows
        # https://github.com/actions/runner-images#available-images
        os:
          [
            ubuntu-22.04,
            ubuntu-latest,
            macos-14,
            macos-latest,
            windows-2022,
            windows-latest,
          ]
        # Run tests with both the agent's version and gohai's pinned version
        go-file: [.go-version, pkg/gohai/go.mod]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: ${{ matrix.go-file }}
      - name: Test
        run: cd pkg/gohai && go test -tags=test ./...
