name: "Gohai Test"

# Only run the tests if pkg/gohai was changed
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"
  pull_request:
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"

permissions: {}

jobs:
  gohai_test:
    strategy:
      matrix:
        # Use oldest and latest available ubuntu, macos and windows
        # https://github.com/actions/runner-images#available-images
        os:
          [
            ubuntu-22.04,
            ubuntu-latest,
            macos-14,
            macos-latest,
            windows-2022,
            windows-latest,
          ]
        # Run tests with both the agent's version and gohai's pinned version
        go-file: [.go-version, pkg/gohai/go.mod]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: ${{ matrix.go-file }}
      - name: Test
        # disable go.work to avoid overriding the go version at runtime
        env:
          GOWORK: off
        run: cd pkg/gohai && go test -tags=test ./...
