name: "Gohai Test"

# Only run the tests if pkg/gohai was changed
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"
  pull_request:
    paths:
      - ".github/workflows/gohai.yml"
      - "pkg/gohai/**"

permissions: {}

jobs:
  gohai_test:
    strategy:
      matrix:
        # Use oldest and latest available ubuntu, macos and windows
        os:
          [
            ubuntu-20.04,
            ubuntu-latest,
            macos-13,
            macos-latest,
            windows-2019,
            windows-latest,
          ]
        # Run tests with both the agent's version and gohai's pinned version
        go-file: [.go-version, pkg/gohai/go.mod]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: ${{ matrix.go-file }}
      - name: Test
        run: cd pkg/gohai && go test -tags=test ./...
