name: "Gohai Test"

# Only run the tests if pkg/gohai was changed
on:
  push:
    paths:
      - 'pkg/gohai/**'
  pull_request:
    paths:
      - 'pkg/gohai/**'

jobs:
  gohai_test:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-latest, macos-11, macos-latest, windows-2019, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
    - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
      with:
        go-version: 1.17.x
    - name: Test
      run: cd pkg/gohai && go test ./...
