---
name: "Label analysis"

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - "[0-9]+.[0-9]+.x"

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_REPO: ${{ github.repository }}

jobs:
  team-label:
    if: github.triggering_actor != 'dd-devflow[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Check team assignment
        run: |
          labels=$(gh pr view ${{github.event.number}} --json labels --jq '.labels[].name')
          for label in $labels; do
            if [[ "$label" =~ ^qa/ ]]; then
              echo "A label to skip QA is set -- no need for team assignment"
              exit 0
            fi
            if [[ "$label" =~ ^team/ && "$label" != team/triage ]]; then
              echo "Team label found: $label"
              exit 0
            fi
          done
          echo "PR ${{github.event.number}} requires at least one non-triage team assignment label (label starting by 'team/')"
          exit 1
  qa-label:
    if: github.triggering_actor != 'dd-devflow[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Check qa/[done|no-code-change] labels are not set together
        run: |
          labels=$(gh pr view ${{github.event.number}} --json labels --jq '.labels[].name')
          if [[ "$labels" =~ ^qa/done && "$labels" =~ ^qa/no-code-change ]]; then
            echo "Both 'qa/done' and 'qa/no-code-change' labels are set -- only one of them should be set"
            exit 1
          fi
          echo "No issue with 'qa/done' and 'qa/no-code-change' labels"
