name: "Serverless Integration Tests"

on:
  pull_request:
    branches-ignore:
      - 'mq-working-branch-*'
    paths:
      - 'cmd/serverless/**'
      - 'pkg/serverless/**'
      - 'test/integration/serverless/**'
      - '.github/workflows/serverless-integration.yml'
      - 'go.mod'
  schedule:
    - cron: '0 14 * * *' # cron schedule uses UTC timezone. Run tests at the beginning of the day in US-East
  workflow_dispatch:

permissions: {}

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        architecture: [amd64, arm64]
        suite: [metric, log, trace, appsec, proxy]
    name: ${{ matrix.suite }} on ${{ matrix.architecture }}
    steps:
      - name: Checkout datadog-agent repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: go/src/github.com/DataDog/datadog-agent
          persist-credentials: false

      - name: Set up Node 20
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: 20

      - name: Install Serverless Framework
        run: sudo yarn global add serverless@^3.36.0 --prefix /usr/local

      - name: Checkout the datadog-lambda-extension repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: DataDog/datadog-lambda-extension
          path: go/src/github.com/DataDog/datadog-lambda-extension
          persist-credentials: false

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
        with:
          image: tonistiigi/binfmt:qemu-v9.2.2-52 #v3.6.0 latest
          platforms: amd64,arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f7ce87c1d6bead3e36075b2ce75da1f6cc28aaca # v3.9.0

      - name: Create raw logs directory
        id: rawlogs
        run: |-
          DIR=$(mktemp -d)
          echo "dir=${DIR}" >> $GITHUB_OUTPUT

      - name: Run tests if AWS credentials are available
        id: test
        uses: nick-fields/retry@7152eba30c6575329ac0576536151aca5a72780e # v3.0.0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.SERVERLESS_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SERVERLESS_AWS_SECRET_ACCESS_KEY }}
          GOWORK: off
        with:
          timeout_minutes: 120
          max_attempts: 2
          command: |
            RAWLOGS_DIR="${{ steps.rawlogs.outputs.dir }}/${{ matrix.architecture }}"
            cd go/src/github.com/DataDog/datadog-agent
            ARCHITECTURE=${{ matrix.architecture }} RAWLOGS_DIR=$RAWLOGS_DIR \
                ./test/integration/serverless/run.sh ${{ matrix.suite }}

      - name: Archive raw logs
        if: always()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: rawlogs-${{ matrix.suite }}-${{ matrix.architecture }}
          path: ${{ steps.rawlogs.outputs.dir }}
