---
name: Close stale issues and PRs

on:
  schedule:
    # 4 times per day to cope with the backlog of ~40K PR/issues
    - cron: '0 4,10,16,22 * * *'
  workflow_dispatch:

permissions: {}

jobs:
  stale:
    runs-on: ubuntu-latest
    environment:
      name: main
    permissions:
      id-token: write # This is required for getting the required OIDC token from GitHub
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/datadog-agent
          policy: self.stale.manage-stale

      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          repo-token: ${{ steps.octo-sts.outputs.token }}

          # Stale configuration
          days-before-stale: 15
          days-before-close: 30
          operations-per-run: 100

          # Issue configuration
          stale-issue-message: |
            This issue has been automatically marked as stale because it has not had activity in the past 15 days.


            It will be closed in 30 days if no further activity occurs. If this issue is still relevant, adding a comment will keep it open. Also, you can always reopen the issue if you missed the window.


            Thank you for your contributions!

          close-issue-message: |
            This issue was automatically closed because it has been stale for 30 days with no activity.


            If this issue is still relevant, please reopen it or create a new issue with updated information.


            Thanks!

          stale-issue-label: 'stale'
          close-issue-label: 'auto-closed'
          # Pull request configuration
          stale-pr-message: |
            This pull request has been automatically marked as stale because it has not had activity in the past 15 days.


            It will be closed in 30 days if no further activity occurs. If this pull request is still relevant, adding a comment or pushing new commits will keep it open. Also, you can always reopen the pull request if you missed the window.


            Thank you for your contributions!

          close-pr-message: |
            This pull request was automatically closed because it has been stale for 15 days with no activity.


            If this pull request is still relevant, please reopen it or create a new pull request with updated information.


            Thanks!

          stale-pr-label: 'stale'
          close-pr-label: 'auto-closed'

          # Exclude/include labels
          exempt-issue-labels: 'kind/bug,kind/feature,kind/security,category/bugfix,category/feature,category/security,pending'
          any-of-issue-labels: 'waiting-on-author'
          exempt-pr-labels: 'do-not-merge/WIP,do-not-merge/hold'
          any-of-pr-labels: 'waiting-on-author,internal'
