name: Validate CODEOWNERS

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/CODEOWNERS"

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Validate CODEOWNERS (syntax, duplicates, files, owners)
        uses: mszostok/codeowners-validator@7f3f5e28c6d7b8dfae5731e54ce2272ca384592f
        with:
          # Explicit path found in this repo
          codeowners: ".github/CODEOWNERS"
          # Fail on any problem in the configuration
          checks: "syntax,duppatterns,files,owners"
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

