name: "Windows unit tests"

on:
  push:
    branches:
      - main
      - 7.[0-9][0-9].x
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  windows-unit-tests:
    runs-on: windows-2022 # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md
    steps:
      - name: Checkout datadog-agent repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #needed for 'git describe' to work

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9.5'
          cache: 'pip'
      - run: |
          python -m pip install -r requirements.txt
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }

      - name: Install go
        uses: actions/setup-go@v3
        with:
          go-version-file: '.go-version'

      - name: Set up runner
        run: |
          $ErrorActionPreference = 'Stop';
          # install dependencies
          inv -e install-tools
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e deps
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          # create 'ddagentuser' user to test the secrets feature on windows
          $Password = ConvertTo-SecureString "dummyPW_:-gch6Rejae9" -AsPlainText -Force
          New-LocalUser -Name "ddagentuser" -Description "Test user for the secrets feature on windows." -Password $Password

      - name: Run tests
        shell: bash # using bash so we don't have to check $lastExitCode all the time
        run: |
          export PATH="/c/msys64/mingw64/bin:/c/msys64/usr/bin/:$PATH" # prepend msys, otherwise make from mingw gets used
          echo $PATH
          powershell.exe -Command ./tasks/winbuildscripts/pre-go-build.ps1
          # FIXME: skipping rtloader tests because they fail with a DLL-not-found error
          # inv -e rtloader.test
          inv -e test --skip-linters --rerun-fails=2 --python-runtimes 3 --coverage --profile --python-home-3=$pythonLocation

      - name: Upload Codecov results
        uses: codecov/codecov-action@v3
        with:
          flags: windows
          name: codecov-windows
