name: "Windows unit tests"

on: [push]

jobs:
  test:
    runs-on: windows-2019 # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md
    steps:
      - name: Set git to use LF # needed so gofmt doesn't think every file needs reformatting
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout datadog-agent repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 #needed for 'git describe' to work

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'

      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.7'

      - name: Set up runner
        run: |
          $ErrorActionPreference = 'Stop';
          # install dependencies
          python -m pip install codecov -r requirements.txt
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e install-tools
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e deps
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          # create 'ddagentuser' user to test the secrets feature on windows
          $Password = ConvertTo-SecureString "dummyPW_:-gch6Rejae9" -AsPlainText -Force
          New-LocalUser -Name "ddagentuser" -Description "Test user for the secrets feature on windows." -Password $Password

      - name: Run tests
        run: |
          $Env:path = "C:\msys64\mingw64\bin;C:\msys64\usr\bin\;$Env:path" # prepend msys, otherwise make from mingw gets used
          $ErrorActionPreference = 'Stop';
          inv -e rtloader.make
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e rtloader.format --raise-if-changed
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e rtloader.install
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          #inv -e rtloader.test
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          inv -e test --rerun-fails=2 --python-runtimes 3 --coverage --profile --fail-on-fmt --python-home-3=$Env:pythonLocation
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
          codecov -f profile.cov -F windows
          If ($lastExitCode -ne "0") { throw "Previous command returned $lastExitCode" }
