{{ if not .complianceStatus}}
  Not enabled
{{- else}}
  {{- with .complianceStatus}}
  {{- if .endpoints }}
  {{- range $endpoint := .endpoints }}
  {{ $endpoint }}
  {{- end }}
  {{- end }}
  {{- if .frameworkSummaries }}

  Frameworks
  ==========
  {{- range $f := .frameworkSummaries }}

  {{ $f.ID }} {{ $f.Version }}
  {{ printDashes $f.ID "-" }}
    Rules: {{ $f.Total }} total  |  {{ $f.Passed }} passed  |  {{ $f.Failed }} failed  |  {{ $f.Error }} error  |  {{ $f.Skipped }} skipped  |  {{ $f.NotRun }} not run yet
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
